<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>媒山友｜討論區</title>
    <link rel="stylesheet" href="./css/fa5.14.0all.min.css">
    <link rel="stylesheet" href="./css/fa5.14.0v4.min.css">
    <link rel="stylesheet" href="./css/forum.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/header.css">
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap">
    <link rel=“stylesheet” href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel=“stylesheet” href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/v4-shims.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script> -->
</head>
<body>
    <header>
        <div id="headerbox">
            <a href="./Frontstageindex.html" class="logo">
                <img class="logo" src="./images/logo/LOGO_white.png" alt="">
            </a> 

            <nav class="menuhover">
                <ul class="menuhover">
                    <li class="bg bg1"></li>
                    <li class="bg bg2"></li>
                    <li class="bg bg3"></li>
                </ul>
            </nav>

            <nav class="menu">
                <ul class="link_list llleft">
                    <li><a class="tour" href="./meet2-0.html"><p>揪團區</p></a></li>
                    <li><a class="forum" href="./forum.html"><p>討論區</p></a></li>
                    <li><a class="product" href="./product.html"><p>商品區</p></a></li>
                </ul>
                <ul class="link_list llright">
                    <li>
                        <a href="./Member_v2.html"><div id="mem_avatar_box"><img id="mem_avatar_img" src=""></div></a>
                    </li>
                    <li><a href="./Member_v2.html"><div id="mem_info_id"></div></a></li>
                    <li><button id="Logout_btn" class="btnB_L_grey"><p>登出</p><div class="bg"><br></div></button></li>
                    <li><a class="member" id="member_jumpTo"><div class="memicon"><div class="membg"></div></div></a></li>
                    <li><a class="cart" href="./shoppingcart.html"><div class="carticon"><span class="add_count_others"></span><div class="cartbg"></div></div></a></li>
                    
                </ul>
            </nav>
            <div id="imagebox">
                <img id="picTour" src="./images/header/tour.png" alt="">
                <img id="picForum" src="./images/header/forum.png" alt="">
                <img id="picProduct" src="./images/header/product.png" alt="">
            </div>

            <div id="greymask"></div>
            <div id="hamburgerBG">
                <div class="ab white"></div>
                <div class="ab yellow1"></div>
                <div class="ab yellow2"></div>
                <div class="ab yellow3"></div>
            </div>
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </header>

    <!-- <div id="banner">
        <img src="./images/form_img/banner_forumindex.png" alt="">
    </div> -->

    <main id="main_forum">
        <div id="forum_container">
            <div class="forum_container-right">
                <div class="news_block">
                    <div class="hot-top">
                        <h2 class="text_underline">最新公告</h2>
                        <div class="hot-bgc_img"></div>
                    </div>
    
                    <div class="news_list" v-for="(announcement, index) in announcement">
                        <div class="list">
                            <p><a :href="'./forum-announcement.html?forum_post_no=' + announcement.forum_post_no">{{announcement.forum_post_title}}</a></p>
                            <div class="news-text">NEWS</div>
                        </div>
                    </div>
                </div>

                <div class="billboard-block">
                    <h2 class="text_underline">討論度排行榜</h2>
                    <div class="content">
                        <div class="slider">
                          <ul class="slider__area">
                            <li class="slider__item" v-for="(poprank, index) in poprank">
                              <div class="card-block">
                                  <div class="card">
                                    <div class="slider-img">
                                      <img :src="poprank.forum_post_image" alt="">
                                      <div class="hot-tag animate__animated animate__flash animate__slower"><p>HOT</p></div>
                                  </div>
                                  <div class="hot-users-block">
                                    <div class="pic"><img :src="poprank.mem_avator" alt=""></div>
                                    <div class="user_name"><p class="usname">{{poprank.mem_id}}</p></div>

                                    <div class="certification"> <!--原先的結構未加入會員的認證資訊---->
                                        <span v-if="CHECKname"  class="certificationIcon a"><img src="./images/icons/icon_realname.svg" alt=""></span>
                                        <span v-if="CHECKguide"  class="certificationIcon b"><img src="./images/icons/icon_guide.svg" alt=""></span>
                                    </div>
                                    
                                    <div class="memberBadge">
                                        <span class="memberBadgeIcon">
                                            <img :src="poprank.mem_badge1" alt="">
                                        </span>
                                        <span class="memberBadgeIcon">
                                            <img :src="poprank.mem_badge2" alt="">
                                        </span>
                                        <span class="memberBadgeIcon">
                                            <img :src="poprank.mem_badge3" alt="">
                                        </span>
                                    </div>
                                  </div>
                
                                  <div class="container">
                                    <div class="tittle">
                                      <h3>【{{poprank.forum_post_category}}】{{poprank.forum_post_title}}</h3>
                                      <span>{{poprank.forum_post_innertext}}</span>
                                    </div>
                                    <a :href="'./forum-comment.html?forum_post_no=' + poprank.forum_post_no">
                                        <button class="btnA_XLwRA"><p>看更多</p><div class="btnArrowXL"></div></button>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <div class="prev-btn">
                                <img src="./images/icons/icon_arrow_right.svg" alt="">
                            </div>
                          <div class="next-btn"><img src="./images/icons/icon_arrow-left.svg" alt=""></div>
                        </div>
                    </div>
                </div>

                <div class="forum-block">
                    <h2 class="text_underline">討論專區</h2>
                    <div class="search-block">
                        <div class="outline">
                            
                            <div class="item_btns">
                                <form action="#" method="#" enctype="multipart/form-data">
                                    
                                    <label>
                                        <input type="radio" name="type" id="filter_top" value="全部"  v-model="input.type" style="display: none;">
                                        全部
                                    </label>
                                    
                                    <label>
                                        <input type="radio" name="type" id="filter_1" value="揪團心得"  v-model="input.type" style="display: none;">
                                        揪團心得
                                    </label>

                                    <label>
                                        <input type="radio" name="type" id="filter_2" value="裝備資訊"  v-model="input.type" style="display: none;">
                                        裝備資訊
                                    </label>

                                    <label>
                                        <input type="radio" name="type" id="filter_3" value="新手專區"  v-model="input.type" style="display: none;">
                                        新手專區
                                    </label>

                                    <label>
                                        <input type="radio" name="type" id="filter_4" value="登山知識"  v-model="input.type" style="display: none;">
                                        登山知識
                                    </label>
                                </form>
                            </div>
                            <div class="bar-block">
                                <div class="searchbar">
                                    <input type="text" placeholder="搜尋心得" v-model.trim="input.title">
                                    <div class="searchicon">
                                        <img src="./images/form_img/searchicon.png" alt="">
                                    </div>
                                </div>
            
                                <div class="ask_btn" id="forum_post_btn">
                                    <!-- <form  method="post" enctype="multipart/form-data"> -->
                                        <button class="btnA_XLwRA" onclick="location.href='./forum-post.html'" id="ask" type="button"><p>我要發文</p><div class="bg btnArrowXL"></div></button>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="forum_list" v-for="(artical, index) in forumpost" class="rest02">
                        <div class="forum_post_image">
                            <img :src="artical.forum_post_image" alt="">
                        </div>
                        <div class="forum-infor">
                            <a :href="'./forum-comment.html?forum_post_no=' + artical.forum_post_no">
                                <div class="tittle">
                                    <h3>【{{artical.forum_post_category}}】{{artical.forum_post_title}}</h3>
                                    <div class="innertext">
                                        <p>
                                            {{artical.forum_post_innertext}}
                                        </p>
                                    </div>

                                    <div class="poster-block">
                                        <div class="member_styleA row">
                                            <div class="memberImg">
                                                <img :src="artical.mem_avator" alt="">
                                            </div>
                                            <div class="memberInfo">
                                                <div class="certification">
                                                    <span v-if="CHECKname"  class="certificationIcon a"><img src="./images/icons/icon_realname.svg" alt=""></span>
                                                    <span v-if="CHECKguide"  class="certificationIcon b"><img src="./images/icons/icon_guide.svg" alt=""></span>
                                                </div>
                                                <div class="memberId">{{artical.mem_id}}</div>
                                                <div class="memberBadge">
                                                    <span class="memberBadgeIcon">
                                                        <img :src="artical.mem_badge1" alt="">
                                                    </span>
                                                    <span class="memberBadgeIcon">
                                                        <img :src="artical.mem_badge2" alt="">
                                                    </span>
                                                    <span class="memberBadgeIcon">
                                                        <img :src="artical.mem_badge3" alt="">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="forum_groups">
                                            <div class="heart">
                                                <div class="heart-icon"><img src="./images/icons/icon_heart_gray.svg" alt=""></div>
                                                <div class="heart-infor"><span>{{artical.NUMkeep}} 人收藏</span></div>
                                            </div>

                                            <div class="message">
                                                <div class="message-icon"><img src="./images/icons/icon_message_gray.svg" alt=""></div>
                                                <div class="message-infor"><span>{{artical.NUMreply}} 則回覆</span></div>
                                            </div>
                                        </div>
                                        <div class="post_situation">
                                            <div class="post_time">
                                                <p>發表於</p>
                                                <div class="uptime"><span>{{artical.forum_post_time}}</span></div>
                                            </div>

                                            <div class="remessage_time">
                                                <p>最後回覆</p>
                                                <div class="renews"><span>{{artical.replytime}}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="nextpage-btn" style="display: none;">
                    <button class="btnA_S pgprev"><p style="transform: translate(-5px , 0px); transition: 0s;">&#10229</p></button>
                    <button class="btnA_S pg -active"><p>01</p></button>
                    <button class="btnA_S pg"><p>02</p></button>
                    <button class="btnA_S pg"><p>03</p></button>
                    <button class="btnA_S pg"><p>04</p></button>
                    <button class="btnA_S pg"><p>05</p></button>
                    <button class="btnA_S pgnext"><p style="transform: translate(-5px , 0px); transition: 0s;">&#10230</p></button>
                </div>
            </div>

            <div id="forum_aside">
                <div class="tour-tittle">
                    <h2 class="text_underline">熱門揪團</h2>
                </div>

                <div id="tour-block">
                    <div class="hot-tour-card"  v-for="(hotmeet, index) in meetList">
                        <a :href="'./meet2-3.html?tour_no=' + hotmeet.tour_no">
                        <div class="tour-img">
                            <img v-bind:src="hotmeet.mountain_image" alt="">
                        </div>
        
                        <div class="tour-block">
                            <div class="tour-title-container">
                                <h3>{{hotmeet.tour_title}}</h3>
                            </div>
        
                            <div class="tag">
                                <div class="tag_click"><span class="tag">＃{{hotmeet.mountain_name}}</span></div>
                                <div class="tag_click"><span class="tag">＃{{hotmeet.days}}天</span></div>
                                <div class="tag_click"><span class="tag">＃{{hotmeet.tour_min_number}}~{{hotmeet.tour_max_number}}人</span></div>
                            </div>
        
                            <div class="tour-place">
                                <div class="location">
                                    <div class="location_icon"><i class="fas fa-map-marker-alt"></i></div>
                                    <div class="location"><span>{{hotmeet.mountain_area | Area}}</div>
                                    <p>｜</p>
                                </div>
        
                                <div class="degree_category">
                                    <div class="category_text">難度</div>
                                    <!-- <div class="mountain_icon">
                                        <img src="./images/icons/icon_mountain.svg" alt="">
                                        <img src="./images/icons/icon_mountain.svg" alt="">
                                        <img src="./images/icons/icon_mountain.svg" alt="">
                                    </div> -->
                                    <div class="mountain_icon" v-html="Degree(hotmeet.degree_category)"></div>
                                </div>
                            </div>
        
                            <div class="tour-activitystart">
                                <div class="tour-start">
                                    <span>{{hotmeet.tour_activitystart}}出發 </span>
                                </div>
                                <div class="tour-end">
                                    <span>{{hotmeet.tour_activityend}}回程</span>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
    
                    <!-- <div class="hot-tour-card">
                        <div class="tour-img">
                            <img src="./images/meet/mountain/3east.jpg" alt="">
                        </div>
        
                        <div class="tour-block">
                            <div class="tour-title-container">
                                <h4>【台灣的屋脊】東北亞最高峰 玉山主峰</h4>
                            </div>
        
                            <div class="tag">
                                <div class="tag_click"><span>#tag</span></div>
                                <div class="tag_click"><span>#tag</span></div>
                                <div class="tag_click"><span>#tag</span></div>
                            </div>
        
                            <div class="tour-place">
                                <div class="location">
                                    <div class="location_icon"><img src="./images/icons/icon_location.svg" alt=""></div>
                                    <div class="area"><p>南部</p></div>
                                    <p>｜</p>
                                </div>
        
                                <div class="degree_category">
                                    <div class="category_text">難度</div>
                                    <div class="mountain_icon">
                                        <img src="./images/icons/icon_mountain.svg" alt="">
                                    </div>
                                </div>
                            </div>
        
                            <div class="tour-activitystart">
                                <div class="tour-start">
                                    <span>2020/09/08出發｜</span>
                                </div>
                                <div class="tour-end">
                                    <span>2020/09/10回程</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
    
                    <!-- <div class="hot-tour-card">
                        <div class="tour-img">
                            <img src="./images/form_img/Taiwu.jpg" alt="">
                        </div>
        
                        <div class="tour-block">
                            <div class="tour-title-container">
                                <h4>【台灣的屋脊】東北亞最高峰 玉山主峰</h4>
                            </div>
        
                            <div class="tag">
                                <div class="tag_click"><span>#tag</span></div>
                                <div class="tag_click"><span>#tag</span></div>
                                <div class="tag_click"><span>#tag</span></div>
                            </div>
        
                            <div class="tour-place">
                                <div class="location">
                                    <div class="location_icon"><img src="./images/icons/icon_location.svg" alt=""></div>
                                    <div class="area"><p>南部</p></div>
                                    <p>｜</p>
                                </div>
        
                                <div class="degree_category">
                                    <div class="category_text">難度</div>
                                    <div class="mountain_icon">
                                        <img src="./images/icons/icon_mountain.svg" alt="">
                                        <img src="./images/icons/icon_mountain.svg" alt="">
                                        <img src="./images/icons/icon_mountain.svg" alt="">
                                    </div>
                                </div>
                            </div>
        
                            <div class="tour-activitystart">
                                <div class="tour-start">
                                    <span>2020/09/08出發｜</span>
                                </div>
                                <div class="tour-end">
                                    <span>2020/09/10回程</span>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="hot-tour-card">
                        <div class="tour-img">
                            <img src="./images/meet/mountain/4west.jpg" alt="">
                        </div>
        
                        <div class="tour-block">
                            <div class="tour-title-container">
                                <h4>【台灣的屋脊】東北亞最高峰 玉山主峰</h4>
                            </div>
        
                            <div class="tag">
                                <div class="tag_click"><span>#tag</span></div>
                                <div class="tag_click"><span>#tag</span></div>
                                <div class="tag_click"><span>#tag</span></div>
                            </div>
        
                            <div class="tour-place">
                                <div class="location">
                                    <div class="location_icon"><img src="./images/icons/icon_location.svg" alt=""></div>
                                    <div class="area"><p>南部</p></div>
                                    <p>｜</p>
                                </div>
        
                                <div class="degree_category">
                                    <div class="category_text">難度</div>
                                    <div class="mountain_icon">
                                        <img src="./images/icons/icon_mountain.svg" alt="">
                                        <img src="./images/icons/icon_mountain.svg" alt="">
                                        <img src="./images/icons/icon_mountain.svg" alt="">
                                        
                                    </div>
                                </div>
                            </div>
        
                            <div class="tour-activitystart">
                                <div class="tour-start">
                                    <span>2020/09/08出發｜</span>
                                </div>
                                <div class="tour-end">
                                    <span>2020/09/10回程</span>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="hot-tour-card">
                        <div class="tour-img">
                            <img src="./images/meet/mountain/2west.jpg" alt="">
                        </div>
        
                        <div class="tour-block">
                            <div class="tour-title-container">
                                <h4>【台灣的屋脊】東北亞最高峰 玉山主峰</h4>
                            </div>
        
                            <div class="tag">
                                <div class="tag_click"><span>#tag</span></div>
                                <div class="tag_click"><span>#tag</span></div>
                                <div class="tag_click"><span>#tag</span></div>
                            </div>
        
                            <div class="tour-place">
                                <div class="location">
                                    <div class="location_icon"><img src="./images/icons/icon_location.svg" alt=""></div>
                                    <div class="area"><p>南部</p></div>
                                    <p>｜</p>
                                </div>
        
                                <div class="degree_category">
                                    <div class="category_text">難度</div>
                                    <div class="mountain_icon">
                                        <img src="./images/icons/icon_mountain.svg" alt="">
                                        <img src="./images/icons/icon_mountain.svg" alt="">
                                        <img src="./images/icons/icon_mountain.svg" alt="">
                                    </div>
                                </div>
                            </div>
        
                            <div class="tour-activitystart">
                                <div class="tour-start">
                                    <span>2020/09/08出發｜</span>
                                </div>
                                <div class="tour-end">
                                    <span>2020/09/10回程</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>

                <!-- <div id="tag">
                    <div class="tag-tittle">
                        <p>關鍵字</p>
                    </div>
                    <ul class="hot-tags">
                        <li><a href="#">#玉山</a></li>
                        <li><a href="#">#五步哭山</a></li>
                        <li><a href="#">#台灣</a></li>
                        <li><a href="#">#登山杖</a></li>
                        <li><a href="#">#登山配備</a></li>
                        <li><a href="#">#抹茶山</a></li>
                        <li><a href="#">#玉山</a></li>
                        <li><a href="#">#五步哭山</a></li>
                        <li><a href="#">#台灣</a></li>
                        <li><a href="#">#登山杖</a></li>
                    </ul>
                </div> -->

            </div>
        </div>
    </main>

    <!-- -------------------------GO TOP------------------------- -->
    <a href="#" id="gotop">
        <i class="fas fa-arrow-up"></i>
        <!---<script src="./js/fa5.14.0all.js"></script>
        備註:go top裡面的箭頭需要用到的js--->
    </a>

    <!-- -------------------------aside link--------------------------->
    <div id="aside-link">
        <div class="aside-com-btn">
            <a href="./meet2-2.html" target="_blank"><img src="./images/form_img/want2.png" alt=""></a>
        </div>
    </div>

    <footer class="footer">
        <div class="footer_logo_block">
            <a href="./FrontstageIndex.html">
                <img src="./images/logo/LOGO_white.png" alt="">
            </a>
            <div class="copyright">Copyright © 2020 Mountain Community.</div>
        </div>
        <div class="footer_info">
            <div class="sevrves_place-serves_tel">
                <div class="place">
                    <div class="f_color1">桃園市中壢區中大路300號</div>
                    <div class="f_color1">工程二館 資策會大樓</div>
                </div>
                <div class="tel">
                    <div class="f_color1">連絡電話</div>
                    <div class="f_color1">(03)425-7387</div>
                </div>
            </div>
            <div class="serves_time-serves_email">
                <div class="time">
                    <div class="f_color1">服務時間</div>
                    <div class="f_color1">週一至週五10:00~17:00</div>
                </div>
                <div class="email">
                    <div class="f_color1">服務信箱</div>
                    <div class="f_color1">tibame@gmail.com</div>
                </div>
            </div>
            <div class="epaper-footer_link">
                <div class="epaper">
                    <div class="etitle f_color1">輸入信箱訂閱電子報</div>
                    <div class="einput">
                        <input type="text" placeholder="Email address">
                        <div class="e_bt f_color1">SUBSCRIBE</e_bt>
                    </div>
                </div>
                <div class="link">
                    <div class="linkup">
                        <div><a href="https://www.cwb.gov.tw/V8/C/" target="_blank">中央氣象局</a></div>
                        <div><a href="https://npm.cpami.gov.tw/" target="_blank">登山證申請</a></div>
                        <div><a href="" target="_blank">網站快速導覽</a></div>
                    </div>
                    <div class="linkdown">
                        <div><a href="" target="_blank">服務條款及隱私權政策</a></div>
                        <div><a href="" target="_blank">會員使用條款</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="./js/jquery-3.5.1.js"></script>
    <!-- <script src="./js/AOS-MASTER/aos.js"></script> -->
    <script src="./js/fa5.14.0all.js"></script> <!----go top裡面的箭頭需要用到的js----->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="./js/common.js"></script>
    <!-- <script src="./js/header.js" ></script> -->

    <script type="text/javascript">
        $(function() {
            /* 按下GoTop按鈕時的事件 */
            $('#gotop').click(function(){
                $('html,body').animate({ scrollTop: 0 }, 'slow');   /* 返回到最頂上 */
                return false;
            });
            
            /* 偵測卷軸滑動時，往下滑超過400px就讓GoTop按鈕出現 */
            $(window).scroll(function() {
                if ( $(this).scrollTop() > 400){
                    $('#gotop').fadeIn();
                } else {
                    $('#gotop').fadeOut();
                }
            });
        });
    </script>

    <script>
        $(window).ready(function(){
        let liNum = $('.slider__item').length
        let liW = $('.slider__item').width()
        // let divW = liW * 2.7
        // $('.slider').css({'width':divW});
        // $('.slider__area').css({width:liW*liNum,marginLeft: -liW})

        $('.slider__area').css({width:liW*liNum})

        $('.prev-btn').click(function(){
          $('.slider__area').animate({marginLeft: + liW},200, function(){
            $('.slider__item:last-child').prependTo('.slider__area')
            $('.slider__area').css('marginLeft','')
          })
        });
        $('.next-btn').click(function(){
          $('.slider__area').animate({marginLeft: - liW},200, function(){
            $('.slider__item:first-child').appendTo('.slider__area')
            $('.slider__area').css('marginLeft','')
          })
        });
    })
    </script>

    <!-- <script> ////原先滑動的討論度排行榜jQuer寫法
        (function () {
          $(function () {
            var contWidth, speed;
            speed = 600;
            contWidth = $('.slider__item').width();
            $('.prev-btn').click(function () {
              return $('.slider').find('.slider__area').animate({
                'margin-left': '+=' + contWidth + 'px' },
              speed);
            });
            return $('.next-btn').click(function () {
              return $('.slider').find('.slider__area').animate({
                'margin-left': '-=' + contWidth + 'px' },
              speed);
            });
          });
        
        }).call(this);
    </script> -->
    <script src="./js/forum.js" defer></script>
    <script src="./js/header.js" ></script>
    <script src="./js/login_v2.js"></script>
    
</body>
</html>