<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#581; 媒山友</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel=“stylesheet” href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel=“stylesheet” href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/v4-shims.min.css">
    <link rel="stylesheet" href="./css//jquery.fullpage.css">
    <link rel="stylesheet" href="./css/FrontstageIndex2.css">
    <link rel="stylesheet" href="./css/headerIndex.css">
    <script src="./js/axios.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/jquery.fullpage.js"></script>
</head>
<body>


    
    <header> 

        <div id="headerbox">

            <div id="greymask"></div>
            <div id="hamburgerBG">
                <div class="ab white"></div>

                <div class="ab blue"><p>Copyright © 2020 Mountain Community.</p></div>
            </div>



            <nav class="menu">
                <ul class="logo">
                    <li><a class="menuLogo" href="./Frontstageindex.html"><img class="menuLogo" src="./images/logo/LOGO_black.png" ></a></li>
                </ul>
                <ul class=ybg>
                    <li class="y1"><div></div></li>
                    <li class="y2"><div></div></li>
                    <li class="y3"><div></div></li>
                </ul>
                <ul class="link_list llleft">
                    <li><a class="tour" href="./meet2-0.html"><div class="ybg y1"></div><p>揪團區</p></a></li>
                    <li><a class="forum" href="./forum.html"><div class="ybg y2"></div><p>討論區</p></a></li>
                    <li><a class="product" href="./product.html"><div class="ybg y3"></div><p>商品區</p></a></li>
                </ul>
                <ul class="link_list llmiddle">
                    <li><a class="member" href="./login_v2.html"><i class="fa fa-user"></i></a></li>
                    <li><a class="cart" href="./shoppingcart.html"><i class="fa fa-shopping-cart"></i></a></li>
                    <span class="add_count_others"></span>
                </ul>
                <ul class="link_list llright">
                    <li class="b">服務地點<br>
                        320桃園市中壢區中大路300號<br>
                        工程二館 資策會大樓<br><br></li>
                        
                    <li class="b">服務時間<br>
                    週一至週五10:00~17:00<br><br></li>
                        
                    <li class="b">連絡電話<br>
                        (03)425-7387<br><br></li>
                        
                    <li class="b">服務信箱<br>
                    tibame@gmail.com</li><br>
                    <li><a class="linkOut" href="https://www.cwb.gov.tw/V8/C/ "> 中央氣象局</a></li>｜
                    <li><a class="linkOut" href="https://npm.cpami.gov.tw/ "> 登山證申請</a></li>｜
                    <li><a class="linkOut" href="#"> 網站快速導覽 </a></li>｜
                    <li><a class="linkOut" href="#"> 服務條款及隱私權政策</a></li>｜
                    <li><a class="linkOut" href="#"> 會員使用條款</a></li>
                </ul>
            </nav>

            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>

        </div>

    </header>



    <div class="bg">
        <div class="bgbox scenefade scenefade2">
            <img src="./images/index/noon/sky.png" alt="">
        </div>
        <div class="bgbox mountainmiddlefade mountainmiddlefade2">
            <img src="./images/index/noon/mountain2.png" alt="">
        </div>
        <div class="bgbox mountainfirstfade mountainfirstfade2">
            <img src="./images/index/noon/mountain1.png" alt="">
        </div>
        <div class="bgbox scenefade scenefade1">
            <img src="./images/index/morning/sky.png" alt="">
        </div>
        <div class="bgbox mountainmiddlefade mountainmiddlefade1">
            <img src="./images/index/morning/s1_mountain2-2.png" alt="">
        </div>
        <div class="bgbox mountainfirstfade mountainfirstfade1">
            <img src="./images/index/morning/mountain1.png" alt="">
        </div>
        <div class="bgbox scene r">
            <img src="#" alt="">
        </div>
        <div class="bgbox mountainmiddle r">
            <img src="#" alt="">
        </div>
        <div class="bgbox mountainfirst r">
            <img src="#" alt="">
        </div>
    </div>
    <div id="fullpage">


        <div id="section1" class="section section1">
            <div id="picbox">
                <div class="time time1">
                    <div class="dot dot1"><img src="./images/index/pg1/pg1-11.png" alt=""></div>
                    <div class="dot dot2"><img src="./images/index/pg1/pg1-12.png" alt=""></div>
                    <div class="dot dot3"><img src="./images/index/pg1/pg1-13.png" alt=""></div>
                    <div class="dot dot4"><img src="./images/index/pg1/pg1-02.png" alt=""></div>
                    <div class="dot dot5"><img src="./images/index/pg1/pg1-07.png" alt=""></div>
                </div>
                <div class="time time2">
                    <div class="dot dot1"><img src="./images/index/pg1/pg1-11.png" alt=""></div>
                    <div class="dot dot2"><img src="./images/index/pg1/pg1-14.png" alt=""></div>
                    <div class="dot dot3"><img src="./images/index/pg1/pg1-15.png" alt=""></div>
                    <div class="dot dot4"><img src="./images/index/pg1/pg1-03.png" alt=""></div>
                    <div class="dot dot5"><img src="./images/index/pg1/pg1-08.png" alt=""></div>
                </div>
                <div class="time time3">
                    <div class="dot dot1"><img src="./images/index/pg1/pg1-11.png" alt=""></div>
                    <div class="dot dot2"><img src="./images/index/pg1/pg1-16.png" alt=""></div>
                    <div class="dot dot3"><img src="./images/index/pg1/pg1-17.png" alt=""></div>
                    <div class="dot dot4"><img src="./images/index/pg1/pg1-04.png" alt=""></div>
                    <div class="dot dot5"><img src="./images/index/pg1/pg1-09.png" alt=""></div>
                </div>
                <div class="time time4">
                    <div class="dot dot1"><img src="./images/index/pg1/pg1-11.png" alt=""></div>
                    <div class="dot dot2"><img src="./images/index/pg1/pg1-18.png" alt=""></div>
                    <div class="dot dot3"><img src="./images/index/pg1/pg1-19.png" alt=""></div>
                    <div class="dot dot4"><img src="./images/index/pg1/pg1-05.png" alt=""></div>
                    <div class="dot dot5"><img src="./images/index/pg1/pg1-10.png" alt=""></div>
                </div>
            </div>

        </div>

        <div id="section2" class="section section2">
            <div id="sec2box">
                <div id="weatherbox">
                    <div class="weather">
                        <div class="weathernow">
                            <div class="top">
                                <div class="text_area">
                                  <div class="infos">
                                    <p id="NowT"></p>
                                    <div id="TtoT">
                                        <span id="MinT"></span>&nbsp~&nbsp<span id="MaxT"></span>
                                    </div>
                                    <div class="PoP">降雨機率<p id="PoP"></p></div>
                                    <div class="RH">相對濕度<p id="RH"></p></div>
                                    <!-- <div class="address">中部 - 玉山</div> -->
                                    <!-- <div class="time">星期四 下午2:00</div> -->
                                  </div>
                                </div>
                                <!-- <div class="moon"></div>
                                <div class="cloud">
                                  <div class="rain"></div>
                                  <div class="rain rain2"></div>
                                  <div class="rain rain3"></div>
                                </div> -->
                            </div>

                        </div>
                        <div class="weatherweek">
                            <div class="next next1">
                                <p class="date" id="date1">Fri</p>
                                <p class="TopT" id="Ttop1"></p>
                                <p class="ButtonT" id="Tbutton1"></p>
                                <!-- <svg viewbox="-50 -50 100 100">
                                  <circle class="sun" cx="0" cy="0" r="22"></circle>
                                </svg> -->
                            </div>
                            <div class="next next2">
                                <p class="date" id="date2">Sat</p>
                                <p class="TopT" id="Ttop2"></p>
                                <p class="ButtonT" id="Tbutton2"></p>
                                <!-- <svg viewbox="-50 -50 100 100">
                                  <circle class="sun" cx="0" cy="0" r="22"></circle>
                                </svg> -->
                            </div>
                            <div class="next next3">
                                <p class="date" id="date3">Sun</p>
                                <p class="TopT" id="Ttop3"></p>
                                <p class="ButtonT" id="Tbutton3"></p>
                                <!-- <svg viewbox="-50 -50 100 100">
                                  <circle class="sun" cx="0" cy="0" r="22"></circle>
                                  <circle class="cloud" cx="-30" cy="30" r="20"></circle>
                                  <circle class="cloud" cx="-15" cy="30" r="20"></circle>
                                  <circle class="cloud" cx="0" cy="30" r="20"></circle>
                                  <circle class="cloud" cx="-25" cy="10" r="15"></circle>
                                  <circle class="cloud" cx="-7" cy="15" r="15"></circle>
                                </svg> -->
                            </div>
                            <div class="next next4">
                                <p class="date" id="date4">Mon</p>
                                <p class="TopT" id="Ttop4"></p>
                                <p class="ButtonT" id="Tbutton4"></p>
                                <!-- <svg viewbox="-50 -50 100 100">
                                  <circle class="sun" cx="0" cy="0" r="22"></circle>
                                  <circle class="cloud" cx="-30" cy="30" r="20"></circle>
                                  <circle class="cloud" cx="-15" cy="30" r="20"></circle>
                                  <circle class="cloud" cx="0" cy="30" r="20"></circle>
                                  <circle class="cloud" cx="-25" cy="10" r="15"></circle>
                                  <circle class="cloud" cx="-7" cy="15" r="15"></circle>
                                </svg> -->
                            </div>
                            <div class="next next5">
                                <p class="date" id="date5">Tue</p>
                                <p class="TopT" id="Ttop5"></p>
                                <p class="ButtonT" id="Tbutton5"></p>
                                <!-- <svg viewbox="-50 -50 100 100">
                                  <circle class="sun" cx="0" cy="0" r="22"></circle>
                                </svg> -->
                            </div>
                            <div class="next next6">
                                <p class="date" id="date6">Wed</p>
                                <p class="TopT" id="Ttop6"></p>
                                <p class="ButtonT" id="Tbutton6"></p>
                                <!-- <svg viewbox="-63 -40 100 100">
                                  <circle class="cloud" cx="-30" cy="30" r="20"></circle>
                                  <circle class="cloud" cx="-15" cy="30" r="20"></circle>
                                  <circle class="cloud" cx="0" cy="30" r="20"></circle>
                                  <circle class="cloud" cx="-25" cy="10" r="15"></circle>
                                  <circle class="cloud" cx="-7" cy="15" r="15"></circle>
                                </svg> -->
                            </div>
                            <div class="next next7">
                                <p class="date" id="date7">Thr</p>
                                <p class="TopT" id="Ttop7"></p>
                                <p class="ButtonT" id="Tbutton7"></p>
                                <!-- <svg viewbox="-63 -40 100 100">
                                  <line class="rain" x1="-25" y1="15" x2="-25" y2="35"></line>
                                  <line class="rain" x1="-14" y1="5" x2="-14" y2="25"></line>
                                  <line class="rain" x1="-5" y1="20" x2="-5" y2="45"></line>
                                  <circle class="cloud" cx="-30" cy="30" r="20"></circle>
                                  <circle class="cloud" cx="-15" cy="30" r="20"></circle>
                                  <circle class="cloud" cx="0" cy="30" r="20"></circle>
                                  <circle class="cloud" cx="-25" cy="10" r="15"></circle>
                                  <circle class="cloud" cx="-7" cy="15" r="15"></circle>
                                </svg> -->
                            </div>
                        </div>
                    </div>
                    <div class="weatherselect">
                        <div class="dropdown area">
                            <button class="btn btn-secondary dropdown-toggle btnarea" type="button" id="dropdownAreaButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="北部">
                              北部
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" id="N" value="北部">北部</a>
                              <a class="dropdown-item" id="W" value="中部">中部</a>
                              <a class="dropdown-item" id="S" value="南部">南部</a>
                              <a class="dropdown-item" id="E" value="東部">東部</a>
                            </div>
                        </div>
                        <div class="dropdown mountain">
                            <button class="btn btn-secondary dropdown-toggle btnmountain" type="button" id="dropdownMountainButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                              塔曼山
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">塔曼山</a>
                              <a class="dropdown-item" href="#">七星山</a>
                              <a class="dropdown-item" href="#">雪白山</a>
                              <a class="dropdown-item" href="#">大霸尖山</a>
                            </div>
                        </div>
                          
                    </div>
                    <div class="weatherdesc">
                        <p id="weatherp">123</p>
                    </div>
                </div>
                <div id="tourbox">
                        <div id="toursearchbar"></div>
                        <div id="tourhotbox">
                            <article class="tourinforbox" v-for="(t1 , index , mountain_area) in Tour1">
                                <p class="top">TOP{{index +1}}</p>
                                <div class="tourimg">
                                    <img :src="t1.mountain_image" alt="">
                                    <div class="tourmtinfor">
                                        {{t1.mountain_area | Area}} - {{t1.mountain_name}} - <div class="degreeImg" v-html="Degree(t1.degree_category)"></div>
                                    </div>
                                </div>

                                <div class="member_styleA row">
                                    <div class="memberImg">
                                        <img src="./images/meet/member/Chris.jpg" alt="">
                                    </div>
                                    <div class="memberInfo">
                                        <div class="certification">
                                            <span class="certificationIcon"><img src="./images/icons/icon_realname.svg" alt=""></span>
                                            <span class="certificationIcon b"><img src="./images/icons/icon_guide.svg" alt=""></span>
                                        </div>
                                        <div class="memberId">{{t1.mem_id}}</div>
                                        <div class="memberBadge">
                                            <span class="memberBadgeIcon">
                                                <img src="./images/member/Ach_list_03.png" alt="">
                                            </span>
                                            <span class="memberBadgeIcon">
                                                <img src="./images/member/Ach_list_03.png" alt="">
                                            </span>
                                            <span class="memberBadgeIcon">
                                                <img src="./images/member/Ach_list_03.png" alt="">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tourtitle">
                                    <h3>{{t1.tour_title}}</h3>
                                    <span>{{t1.tour_activitystart}} ~ {{t1.tour_activityend}}</span>
                                    <div><p class="innertext">{{t1.tour_innertext}}</p></div>
                                </div>
                            </article>
                            <article class="tourinforbox" v-for="(t23 , index) in Tour23" >
                                <p class="top">TOP{{index +2}}</p>
                                <div class="tourimg">
                                    <img :src="t23.mountain_image" alt="">
                                    <div class="tourmtinfor">
                                        {{t23.mountain_area | Area}} - {{t23.mountain_name}} - <div class="degreeImg" v-html="Degree(t23.degree_category)"></div>
                                    </div>
                                </div>
                                <div class="tourtitle">
                                    <h3>{{t23.tour_title}}</h3>
                                    <span>{{t23.tour_activitystart}} ~ {{t23.tour_activityend}}</span>
                                </div>
                            </article>
                        </div>
                </div>
                
            </div>

        </div>




        
        <div id="section3" class="section section3">

            <div class="slide" data-anchor="slide1">
                <div id="sec3-1box">
                    <div class="innerboxleft" v-for="fh in ForumHot.slice(0, 1)">
                        <div class="bigpic">
                            <img :src="fh.forum_post_image" alt="">
                            <div><p>{{fh.forum_post_category}}</p></div>
                        </div>
                        <div class="theinfor">
                            <div class="member_styleA row">
                                <div class="memberImg">
                                    <img src="./images/meet/member/Chris.jpg" alt="">
                                </div>
                                <div class="memberInfo">
                                    <div class="certification">
                                        <span class="certificationIcon"><img src="./images/icons/icon_realname.svg" alt=""></span>
                                        <span class="certificationIcon b"><img src="./images/icons/icon_guide.svg" alt=""></span>
                                    </div>
                                    <div class="memberId">{{fh.mem_id}}</div>
                                    <div class="memberBadge">
                                        <span class="memberBadgeIcon">
                                            <img src="./images/member/Ach_list_03.png" alt="">
                                        </span>
                                        <span class="memberBadgeIcon">
                                            <img src="./images/member/Ach_list_03.png" alt="">
                                        </span>
                                        <span class="memberBadgeIcon">
                                            <img src="./images/member/Ach_list_03.png" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="forumtitle"><h3>{{fh.forum_post_title}}</h3><span>{{fh.forum_post_time}}</span></div>
                        </div>
                        <div class="forumtext"><p>{{fh.forum_post_innertext}}</p></div>
                        <div class="sub">
                            <div class="keepicon"><img src="./images/icons/icon_heart_gray.svg" alt=""></div>
                            <div><p>{{fh.收藏人數}}</p></div>
                            <div class="replyicon"><img src="./images/icons/icon_message_gray.svg" alt=""></div>
                            <div><p>{{fh.回覆人數}}</p><span>最後回覆於 : {{fh.最新回覆時間}}</span></div>
                        </div>
                    </div>
                    <div class="innerboxright">
                        <div class="smallbox" v-for="(fh,index) in ForumHot" :class="{'-active': index === 0 }" v-on:click="toggleActive"  ref="smallbox">
                            <div class="smallpic">
                                <img :src="fh.forum_post_image" alt="">
                                <div><p>{{fh.forum_post_category}}</p></div>
                            </div>
                            <div class="graymask">
                                <h3>{{fh.forum_post_title}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            
            <div class="slide" data-anchor="slide2">
                <div id="sec3-2box">
                    <div class="innerboxleft" v-for="fn in ForumNew.slice(0, 1)">
                        <div class="bigpic">
                            <img :src="fn.forum_post_image" alt="">
                            <div><p>{{fn.forum_post_category}}</p></div>
                        </div>
                        <div class="theinfor">
                            <div class="member_styleA row">
                                <div class="memberImg">
                                    <img src="./images/meet/member/Chris.jpg" alt="">
                                </div>
                                <div class="memberInfo">
                                    <div class="certification">
                                        <span class="certificationIcon"><img src="./images/icons/icon_realname.svg" alt=""></span>
                                        <span class="certificationIcon b"><img src="./images/icons/icon_guide.svg" alt=""></span>
                                    </div>
                                    <div class="memberId">{{fn.mem_id}}</div>
                                    <div class="memberBadge">
                                        <span class="memberBadgeIcon">
                                            <img src="./images/member/Ach_list_03.png" alt="">
                                        </span>
                                        <span class="memberBadgeIcon">
                                            <img src="./images/member/Ach_list_03.png" alt="">
                                        </span>
                                        <span class="memberBadgeIcon">
                                            <img src="./images/member/Ach_list_03.png" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="forumtitle"><h3>{{fn.forum_post_title}}</h3><span>{{fn.forum_post_time}}</span></div>
                        </div>
                        <div class="forumtext"><p>{{fn.forum_post_innertext}}</p></div>
                        <div class="sub">
                            <div class="keepicon"><img src="./images/icons/icon_heart_gray.svg" alt=""></div>
                            <div><p>{{fn.收藏人數}}</p></div>
                            <div class="replyicon"><img src="./images/icons/icon_message_gray.svg" alt=""></div>
                            <div><p>{{fn.回覆人數}}</p><span>最後回覆於 : {{fn.最新回覆時間}}</span></div>
                        </div>
                    </div>
                    <div class="innerboxright">
                        <div class="smallbox" v-for="(fn,index) in ForumNew" :class="{'-active': isActive}" v-on:click="toggleActive"  ref="fnno">
                            <div class="smallpic">
                                <img :src="fn.forum_post_image" alt="">
                                <div><p>{{fn.forum_post_category}}</p></div>
                            </div>
                            <div class="graymask">
                                <h3>{{fn.forum_post_title}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        
        <div id="section4" class="section section4">
            <div id="sec4box">
                <div class="boxbig" v-for="(p,index) in Product.slice(0, 1)">
                    <div class="picbig">
                        <!-- <div class="top"> 
                            <div><h3> TOP {{index+1}} </h3></div>
                            <p>已售出 {{p.銷售數量}}個</p>
                        </div> -->
                        <div class="circlebig"></div>
                        <div class="propicbig"><img :src="p.product_image1" alt=""></div>
                        <div class="btngo"><button class="btnA_XLwRA"><p>詳細資訊</p><div class="btnArrowXL"></div></button></div>
                    </div>
                    <div class="prodesc">
                        <div class="protitle"><h3>{{p.product_name}}</h3></div>
                        <div class="prosubtitle"><p>{{p.product_description}}</p></div>
                        <div class="proprice"><p>${{p.product_price}}</p></div>
                    </div>
                </div>
                <div class="smalls">
                    <div class="boxsmall" v-for="(p,index) in Product.slice(1, 4)">
                        <div class="circlesmall"></div>
                        <div class="propicsmall"><img :src="p.product_image1" alt=""></div>
                        <div class="protitle"><p>{{p.product_name}}</p></div>
                    </div>
                </div>
            </div>
        </div>






    </div>




    <script>
        var $hamburger = $(".hamburger");
        $hamburger.on("click", function(e) {
            $hamburger.toggleClass("is-active");
            $("#hamburgerBG").toggleClass("on");
            $(".menu").toggleClass("on")
            $(".link_list").toggleClass("on");
            $("#greymask").toggleClass("on");
            setTimeout(function(){
                $("#greymask").toggleClass("show");
            },100)
            setTimeout(function(){
                $("#hamburgerBG").toggleClass("show");
            },150)
            setTimeout(function(){
                $(".menu").toggleClass("show");
            },200)
        });
        $("#greymask").on("click", function(e) {
            $hamburger.toggleClass("is-active");
            $("#hamburgerBG").toggleClass("on");
            $("nav.menu").toggleClass("on")
            $(".link_list").toggleClass("on");
            $("#greymask").toggleClass("on");
            setTimeout(function(){
                $("#greymask").toggleClass("show");
            },100)
            setTimeout(function(){
                $("#hamburgerBG").toggleClass("show");
            },100)
            setTimeout(function(){
                $(".menu").toggleClass("show");
            },200)
        });
        $("#hamburgerBG").on("click", function(e) {
            $hamburger.toggleClass("is-active");
            $("#hamburgerBG").toggleClass("on");
            $("nav.menu").toggleClass("on")
            $(".link_list").toggleClass("on");
            $("#greymask").toggleClass("on");
            setTimeout(function(){
                $("#greymask").toggleClass("show");
            },100)
            setTimeout(function(){
                $("#hamburgerBG").toggleClass("show");
            },100)
            setTimeout(function(){
                $(".menu").toggleClass("show");
            },200)
        });
    </script>

    <script>
        $("a.tour").hover(function(){
            $("li.y1 div").css("opacity","0.9");
        },function(){
            $("li.y1 div").css("opacity","0");
        });
        $("a.forum").hover(function(){
            $("li.y2 div").css("opacity","0.9");
        },function(){
            $("li.y2 div").css("opacity","0");
        });
        $("a.product").hover(function(){
            $("li.y3 div").css("opacity","0.9");
        },function(){
            $("li.y3 div").css("opacity","0");
        });
    </script>

    <script>
        // Vue.filter('area', function(value) {
        //     return '北部啦幹';
        // });

        let vTour = new Vue({
            el: "#sec2box",
            data: {
                Tour1: [],
                Tour23: [],
                mountain_area :'north',
                
            },
            created() {
                axios.get('./phpForConnect/frontstageindexTour1.php').then(res => {
                this.Tour1 = res.data; 
                })
                axios.get('./phpForConnect/frontstageindexTour23.php').then(res => {
                this.Tour23 = res.data; 
                })
            },
            filters: {
                // var mountain_area = this.Tour1.mountain_area;
                Area: function(value) {
                    switch(value){
                        case('north'):
                            return '北部';
                        break;
                        case('west'):
                            return '中部';
                        break;
                        case('south'):
                            return '南部';
                        break;
                        case('east'):
                            return '東部';
                        break;
                        default:
                            return '沒成功哦';
                        break;
                    }
                },
            },
            methods: {
                Degree(value) {
                    switch(value){
                        case('1'):
                            return '<div class="iconBox"><img src="./images/icons/icon_mountain.svg" alt="" class="iconDegree"></div><div class="iconBox"><img src="./images/icons/icon_mountain_a.svg" alt="" class="iconDegree"></div><div class="iconBox"><img src="./images/icons/icon_mountain_a.svg" alt="" class="iconDegree"></div><div class="iconBox"><img src="./images/icons/icon_mountain_a.svg" alt="" class="iconDegree"></div>';
                        break;
                        case('2'):
                            return '<div class="iconBox"><img src="./images/icons/icon_mountain.svg" alt="" class="iconDegree"></div><div class="iconBox"><img src="./images/icons/icon_mountain.svg" alt="" class="iconDegree"></div><div class="iconBox"><img src="./images/icons/icon_mountain_a.svg" alt="" class="iconDegree"></div><div class="iconBox"><img src="./images/icons/icon_mountain_a.svg" alt="" class="iconDegree"></div>';
                        break;
                        case('3'):
                            return '<div class="iconBox"><img src="./images/icons/icon_mountain.svg" alt="" class="iconDegree"></div><div class="iconBox"><img src="./images/icons/icon_mountain.svg" alt="" class="iconDegree"></div><div class="iconBox"><img src="./images/icons/icon_mountain.svg" alt="" class="iconDegree"></div><div class="iconBox"><img src="./images/icons/icon_mountain_a.svg" alt="" class="iconDegree"></div>';
                        break;
                        case('4'):
                            return '<div class="iconBox"><img src="./images/icons/icon_mountain.svg" alt="" class="iconDegree"></div><div class="iconBox"><img src="./images/icons/icon_mountain.svg" alt="" class="iconDegree"></div><div class="iconBox"><img src="./images/icons/icon_mountain.svg" alt="" class="iconDegree"></div><div class="iconBox"><img src="./images/icons/icon_mountain.svg" alt="" class="iconDegree"></div>';
                        break;
                        default:
                            return '應該很難';
                        break;
                    }
                }
            },
            // computed: {
            //     filteredClients() {
            //     const tour1 = this.Tour1.toLowerCase().trim();

            //     if (!tour1) return this.t1;

            //     return this.clients.filter(c => c.name.toLowerCase().indexOf(search) > -1);
            // }},
        });
        let vForumHot = new Vue({
            el: "#sec3-1box",
            data: {
                ForumHot: [],
            },
            created() {
                axios.get('./phpForConnect/frontstageindexForumHot.php').then(res => {
                this.ForumHot = res.data; 
                })
            },
            methods: {
            toggleActive: function(e) {
                // alert(e.target.parentNode.nextSibling.nodeName)
                console.log($(e.target.parentNode).siblings())
                // this.isActive = !this.isActive;
                // event.target.parentElement.classList.remove('-active')
                // this.$el.querySelector(".smallbox").classList.remove('-active')
                // this.$refs.smallbox.classList.remove('-active')
                // console.log(this)
                // e.target.parentNode.classList.add('-active')
            }},
            mounted() {

            },
        });
        let vForumNew = new Vue({
            el: "#sec3-2box",
            data: {
                ForumNew: [],
                isActive: false
            },
            created() {
                axios.get('./phpForConnect/frontstageindexForumNew.php').then(res => {
                this.ForumNew = res.data; 
                })
            },
            methods: {
            toggleActive: function() {
                this.isActive = !this.isActive;
            }},
            mounted() {

            },
        });
        let vProduct = new Vue({
            el: "#sec4box",
            data: {
                Product: [],
            },
            created() {
                axios.get('./phpForConnect/frontstageindexProduct.php').then(res => {
                this.Product = res.data; 
                console.log('success'); 
                console.log(this.Product);
                })
            },
        });
    </script>

    <script>
    </script>
    <script src="./js/FrontstageIndex2.js" ></script>

</body>
</html>