<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>媒山友｜揪團</title>
    
    <!-- 套用字體 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
     <!-- 套用icon  -->
	<link rel="stylesheet" href="./css/fa5.14.0all.min.css">
    <link rel="stylesheet" href="./css/fa5.14.0v4.min.css">
    <link rel="stylesheet" href="./css/meet2-0.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/header.css">
    <script src="./js/fa5.14.0all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

</head>
<body>


    <header>
        <div id="headerbox">
            <a href="./Frontstageindex.html" class="logo">
                <img class="logo" src="./images/logo/LOGO_white.png" alt="">
            </a> 

            <nav class="menuhover">
                <ul class="menuhover">
                    <li class="bg bg1"></li>
                    <li class="bg bg2"></li>
                    <li class="bg bg3"></li>
                </ul>
            </nav>

            <nav class="menu">
                <ul class="link_list llleft">
                    <li><a class="tour" href="./meet2-0.html"><p>揪團區</p></a></li>
                    <li><a class="forum" href="./forum.html"><p>討論區</p></a></li>
                    <li><a class="product" href="./product.html"><p>商品區</p></a></li>
                </ul>
                <ul class="link_list llright">
                    <li>
                        <div id="mem_avatar_box">
                            <img id="mem_avatar" src="./images/member/memAvatar_test.jpg" alt="">
                        </div>
                    </li>
                    <li><div id="mem_info_id"></div></li>
                    <li><button id="Logout_btn" class="btnB_L_grey"><p>登出</p><div class="bg"></div></button></li>
                    <li><a class="member" id="member_jumpTo"><i class="fa fa-user"></i></a></li>
                    <li><a class="cart" href="./shoppingcart.html"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
            <div id="imagebox">
                <img id="picTour" src="./images/header/tour.png" alt="">
                <img id="picForum" src="./images/header/forum.png" alt="">
                <img id="picProduct" src="./images/header/product.png" alt="">
            </div>

            <div id="greymask"></div>
            <div id="hamburgerBG">
                <div class="ab white"></div>
                <div class="ab yellow1"></div>
                <div class="ab yellow2"></div>
                <div class="ab yellow3"></div>
            </div>
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </header>

    <main id="meet2-0">
        <section class="serchMeet">
            <h2 class="text_underline">搜尋揪團</h2>
            <div class="searchFormMap">
                <form class="serch">
                    <div class="location">
                        <p>地區</p>
                        <div> 
                            <label for="north"><input type="checkbox" name="north" id="north"><p class="searchLocation">北部</p></label>
                            <label for="west"><input type="checkbox"  name="west" id="west"><p class="searchLocation">中部</p></label>
                            <label for="south"><input type="checkbox" name="south" id="south"><p class="searchLocation">南部</p></label>
                            <label for="east"><input type="checkbox"  name="east" id="east"><p class="searchLocation">東部</p></label>
                        </div>   
                    </div>
                    <div class="degree">
                        <p>難度</p>
                        <div> 
                            <label for="degree1"><input type="checkbox" name="degree1" id="degree1"><p class="searchDegre">Ａ級</p></label>
                            <label for="degree2"><input type="checkbox"  name="degree2" id="degree2"><p class="searchDegre">Ｂ級</p></label>
                            <label for="degree3"><input type="checkbox" name="degree3" id="degree3"><p class="searchDegre">Ｃ級</p></label>
                            <label for="degree4"><input type="checkbox"  name="degree4" id="degree4"><p class="searchDegre">Ｄ級</p></label>
                        </div>   
                    </div> 
                    <button type="button" class="btnB_L_yellow"><p>搜尋</p><div class="bg"></div></button>
                </form>
                <div class="serchMap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.5092107902983!2d121.51678581500668!3d25.050724583964524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a96c310ab51d%3A0xf25565395df95e5!2zMTAz5Y-w5YyX5biC5aSn5ZCM5Y2A6ZW35a6J6KW_6LevMznomZ8!5e0!3m2!1szh-TW!2stw!4v1591581971357!5m2!1szh-TW!2stw"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </section>
       
        <section class="hotMeet1">   <!-- 熱門揪團  按鈕尺寸要再修改  改完後在ＲＷＤ-->  
            <h2 class="text_underline">熱門揪團</h2>


            <div class="top1-3">
                <div class="meettop" id="meettop">
                    <div class="top1" v-for="(hotmeet, index) in meetList">
                        <div class="hot_meet_top3" >
                            <div class="meet_mountain_img">
                                <img src="./images/meet/mountain/4south.jpg" alt="">
                            </div>
                            <div class="meet_content">
                                <img  class="bg_cloud" src="./images/meet/2-0-cloud2.svg" alt="">
                                
                                <div class="member_styleA column">
                                    <div class="memberImg">
                                        <img src="./images/meet/member/Chris.jpg" alt="">
                                    </div>
                                    <div class="memberInfo">
                                        <div class="certification">
                                            <span class="certificationIcon"><img src="./images/icons/icon_realname.svg" alt=""></span>
                                            <span class="certificationIcon b"><img src="./images/icons/icon_guide.svg" alt=""></span>
                                        </div>
                                        <div class="memberId">{{hotmeet.mem_id}}</div>
                                        <div class="memberBadge">
                                            <span class="memberBadgeIcon">{{hotmeet.mem_badge1}}
                                                <img src="./images/member/Ach_list_03.png" alt="">
                                            </span>
                                            <span class="memberBadgeIcon">{{hotmeet.mem_badge2}}
                                                <img src="./images/member/Ach_list_03.png" alt="">
                                            </span>
                                            <span class="memberBadgeIcon">{{hotmeet.mem_badge3}}
                                                <img src="./images/member/Ach_list_03.png" alt="">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                    
                                <div class="title_info_text">
                                    <div class="upspace"></div>
                                    <h3>{{hotmeet.tour_title}}</h3>
                                    <div class="info">
                                        <span class="tag">＃玉山</span>
                                        <span class="tag">＃2天</span>
                                        <span class="tag">＃南部</span>
                                        <div class="locationDegree">
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span class="location">{{hotmeet.mountain_area}}</span>
                                            |
                                            <span class="degree">s06{{hotmeet.degree_category}}</span>
                                            <i class="fas fa-mountain"></i><i class="fas fa-mountain"></i><i class="fas fa-mountain"></i><i class="fas fa-mountain"></i><i class="fas fa-mountain"></i>
                                        </div>
                                        <span class="date">{{hotmeet.tour_activitystart}}</span><span>出發</span>
                                        ｜
                                        <span class="date">{{hotmeet.tour_activityend}}</span><span>回程</span>
    
                                    </div>
                                    <div class="meetContent">
                                        <p class="textContent">{{hotmeet.tour_innertext}}</p>
                                    </div>
                                </div>
                                <div class="like_btn">
                                    <div class="heartIcon">
                                        <div class="changeIcon">
                                            <img class="heart" src="./images/icons/icon_heart.svg" alt="">
                                        </div>
                                    </div>
                                    <div>
                                        <a href="./meet2-3.html"><button class="btnA_LwRA"><p>更多</p><div class="btnArrowL"></div></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="top2">
                        <div class="hot_meet_top3">
                            <div class="meet_mountain_img">
                                <img src="./images/meet/mountain/4east.jpg" alt="">
                            </div>
                            <div class="meet_content">
                                <img  class="bg_cloud" src="./images/meet/2-0-cloud2.svg" alt="">
                                <div class="member_styleA column">
                                    <div class="memberImg">
                                        <img src="./images/meet/member/Chris.jpg" alt="">
                                    </div>
                                    <div class="memberInfo">
                                        <div class="certification">
                                            <span class="certificationIcon"><i class="fas fa-thumbs-up"></i></span>
                                            <span class="certificationIcon"><i class="fas fa-check-circle"></i></span>
                                        </div>
                                        <div class="memberId">Chris</div>
                                        <div class="memberBadge">
                                            <span class="memberBadgeIcon">
                                                <img src="./images/member/Ach_list_03.png" alt="">
                                            </span>
                                            <span class="memberBadgeIcon">
                                                <img src="./images/member/Ach_list_03.png" alt="">
                                            </span>
                                            <span class="memberBadgeIcon">
                                                <img src="./images/member/Ach_list_03.png" alt="">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="title_info_text">
                                    <div class="upspace"></div>
                                    <h3>奇萊主北兩天一夜</h3>
                                    <div class="info">
                                        <span class="tag">＃花蓮</span>
                                        <span class="tag">＃東部</span>
                                        <span class="tag">＃兩天</span>
                                        <div class="locationDegree">
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span class="location">東部</span>
                                            |
                                            <span class="degree">難度</span>
                                            <i class="fas fa-mountain"></i><i class="fas fa-mountain"></i><i class="fas fa-mountain"></i><i class="fas fa-mountain"></i><i class="fas fa-mountain"></i>
                                        </div>
                                        <span class="date">2020/08/29</span><span>出發</span>
                                        ｜
                                        <span class="date">2020/08/30</span><span>回程</span>

                                    </div>
                                    <div class="meetContent">
                                        <p class="textContent">
                                            [8/29]
                                            05:00 奇萊登山口集合
                                            06:00 出發
                                            07:00 1.6k休息
                                            07:50 黑水塘
                                            08:45 成功2號山屋 補充水源
                                            09:15 出發
                                            09:45 成功1號山屋
                                            10:25 三岔路
                                            11:45 稜線山屋
                                            15:00 出發奇萊北峰
                                            16:30 登頂北峰
                                            16:50 從奇萊北峰下山
                                            18:30 返回稜線帳棚
                                            [8/30]
                                            03:20 出發主峰
                                            04:50 叉路口
                                            05:20 奇萊主峰
                                            06:00 返回稜線山屋
                                            08:05 抵達稜線山屋
                                            09:40 起身下山
                                            11:37 成功一號堡
                                            12:10 成功山屋
                                            13:25 黑水塘山屋
                                            16:00 奇萊登山口解散",

                                        </p>
                                    </div>
                                </div>
                                <div class="like_btn">
                                    <div class="heartIcon">
                                        <div class="changeIcon">
                                            <img class="heart" src="./images/icons/icon_heart.svg" alt="">
                                        </div>
                                    </div>
                                    <div>
                                        <a href="./meet2-3.html"><button class="btnA_LwRA"><p>更多</p><div class="btnArrowL"></div></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top3">
                        <div class="hot_meet_top3">
                            <div class="meet_mountain_img">
                                <img src="./images/meet/mountain/1north.jpg" alt="">
                            </div>
                            <div class="meet_content">
                                <img  class="bg_cloud" src="./images/meet/2-0-cloud2.svg" alt="">
                                <div class="member_styleA column">
                                    <div class="memberImg">
                                        <img src="./images/meet/member/katty.jpg" alt="">
                                    </div>
                                    <div class="memberInfo">
                                        <div class="certification">
                                            <span class="certificationIcon"><i class="fas fa-thumbs-up"></i></span>
                                            <span class="certificationIcon"><i class="fas fa-check-circle"></i></span>
                                        </div>
                                        <div class="memberId">Katty</div>
                                        <div class="memberBadge">
                                            <span class="memberBadgeIcon">
                                                <img src="./images/member/Ach_list_03.png" alt="">
                                            </span>
                                            <span class="memberBadgeIcon">
                                                <img src="./images/member/Ach_list_03.png" alt="">
                                            </span>
                                            <span class="memberBadgeIcon">
                                                <img src="./images/member/Ach_list_03.png" alt="">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="title_info_text">
                                    <div class="upspace"></div>
                                    <h3>台北放假不知道何處去? 快來爬象山吧</h3>
                                    <div class="info">
                                        <span class="tag">＃台北</span>
                                        <span class="tag">＃一日</span>
                                        <span class="tag">＃初階</span>
                                        <div class="locationDegree">
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span class="location">北部</span>
                                            |
                                            <span class="degree">難度</span>
                                            <i class="fas fa-mountain"></i><i class="fas fa-mountain"></i><i class="fas fa-mountain"></i><i class="fas fa-mountain"></i><i class="fas fa-mountain"></i>
                                        </div>
                                        <span class="date">2020/09/05</span><span>出發</span>
                                    </div>
                                    <div class="meetContent">
                                        <p class="textContent">
                                            登山口：台北市信義區
                                            交通方式：捷運象山站步行12分鐘至登山口
                                            路徑規劃：捷運象山站→登山口→六巨石→登山口→捷運象山站
                                            路線全長：來回1.5公里內
                                            步行時間：1小時內
                                            特色：台北市最知名的步道，可遠眺台北盆地及101大樓，外地人、外國觀光客必訪之處",
                                        </p>
                                    </div>
                                </div>
                                <div class="like_btn">
                                    <div class="heartIcon">
                                        <div class="changeIcon">
                                            <img class="heart" src="./images/icons/icon_heart.svg" alt="">
                                        </div>
                                    </div>
                                    <div>
                                        <a href="./meet2-3.html"><button class="btnA_LwRA"><p>更多</p><div class="btnArrowL"></div></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="top1-3_bg">
                    <img src="./images/meet/2-0-bg_top3_1.svg" alt="">
                </div>
                <div class="decoration_draw">
                    <img src="./images/meet/2-0-decoration_draw1.svg" alt="">
                </div>
            </div>
            


        </section>
        
        <section class="newMeet" > <!-- 最新揪團 -->
            <h2 class="text_underline">最新揪團</h2>

            <div class="changeTypeBtn">
                <div class="typeCard -on"></div>
                <div class="typeList"></div>
            </div>

            <div class="newMeetActivity card" id="newmeet">
                <!-- v-for="(meet, index) in meetList" -->
                <div class="item" v-for="(meet, index) in meetList">
                    <a href="./meet2-3.html">
                        <div class="newImg">
                            <img src="./images/meet/mountain/4south.jpg" alt="">
                        </div>
                    </a>
                    <div class="newMeetTextCont">
                        <div class="tittleLike">
                            <a href="./meet2-3.html">
                                <h3>{{meet.tour_title}}</h3>
                            </a>
                            <div class="heartIcon">
                                <div class="changeIcon">
                                    <img class="heart" src="./images/icons/icon_heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <span class="tag">＃玉山</span>
                            <span class="tag">＃2天</span>
                            <span class="tag">＃南部</span>
                            <div class="locationDegree">
                                <span class="location">{{meet.mountain_area}}</span>
                                <span class="degree">難度{{meet.degree_category}}</span>
                            </div>
                            <span class="date">{{meet.tour_activitystart}}</span><span>出發</span>
                            ｜
                            <span class="date">{{meet.tour_activityend}}</span><span>回程</span>
                        </div>
                        <div class="meetContent">
                            <p class="textContent">
                                {{meet.tour_innertext}}
                            </p>
                        </div>
                    </div>
                    <div class="member_styleA row">
                        <div class="memberImg">
                            <img src="./images/meet/member/Chris.jpg" alt="">
                        </div>
                        <div class="memberInfo">
                            <div class="certification">
                                <span class="certificationIcon"><img src="./images/icons/icon_realname.svg" alt="">{{meet.mem_realname}}</span>
                                <span class="certificationIcon b"><img src="./images/icons/icon_guide.svg" alt="">{{meet.guide_no}}</span>
                            </div>
                            <div class="memberId">{{meet.mem_id}}</div>
                            <div class="memberBadge">
                                <span class="memberBadgeIcon">{{meet.mem_badge1}}
                                    <img src="./images/member/Ach_list_03.png" alt="">
                                </span>
                                <span class="memberBadgeIcon">{{meet.mem_badge2}}
                                    <img src="./images/member/Ach_list_03.png" alt="">
                                </span>
                                <span class="memberBadgeIcon">{{meet.mem_badge3}}
                                    <img src="./images/member/Ach_list_03.png" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <!-- <div class="item">
                    <a href="./meet2-3.html">
                        <div class="newImg">
                            <img src="./images/meet/mountain/4south.jpg" alt="">
                        </div>
                    </a>
                    <div class="newMeetTextCont">
                        <div class="tittleLike">
                            <a href="./meet2-3.html">
                                <h3>【台灣的屋脊】東北亞最高峰 玉山主峰</h3>
                            </a>
                            <div class="heartIcon">
                                <div class="changeIcon">
                                    <img class="heart" src="./images/icons/icon_heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <span class="tag">＃玉山</span>
                            <span class="tag">＃2天</span>
                            <span class="tag">＃南部</span>
                            <div class="locationDegree">
                                <span class="location">南部</span>
                                <span class="degree">難度</span>
                            </div>
                            <span class="date">2020/09/08</span><span>出發</span>
                            ｜
                            <span class="date">2020/09/10</span><span>回程</span>
                        </div>
                        <div class="meetContent">
                            <p class="textContent">
                                第一天:1800板橋火車站北二門集合(欲共乘者 可載4人)- - > 2300望鄉部落民宿
                                第二天:0600早餐- -> 0700出發 - - >0810檢查哨- - >0830塔塔加登山口- - > 0930孟祿亭\r\n- - > 1130西峰觀景台(自備午餐)- - > 1500排雲山莊
                                第三天:0300排雲山莊(早早餐)- - >0330出發- - >0430主南岔路- - > 0530主北岔路- - > 0600玉山主峰(海拔3952m)​- - > 0800排雲山莊(早午餐)- - > 1400塔塔加登山口(自備午餐)- - > 1700水里晚餐- - > 2100板橋火車站解散(與團主共乘者)
                                ＊＊＊很重要＊＊＊費用600元(包含排雲山莊住宿費480元＆水里晚餐120元) 
                                自付：需自備現金，代付：於出發前7日轉帳給我，本行程為玉山主峰登山團 不適合第一次登山 千萬別『逞強』~
                            </p>
                        </div>
                    </div>
                    <div class="member_styleA row">
                        <div class="memberImg">
                            <img src="./images/meet/member/vivian.jpeg" alt="">
                        </div>
                        <div class="memberInfo">
                            <div class="certification">
                                <span class="certificationIcon"><i class="fas fa-thumbs-up"></i></span>
                                <span class="certificationIcon"><i class="fas fa-check-circle"></i></span>
                            </div>
                            <div class="memberId">Vivian</div>
                            <div class="memberBadge">
                                <span class="memberBadgeIcon">
                                    <img src="./images/member/Ach_list_03.png" alt="">
                                </span>
                                <span class="memberBadgeIcon">
                                    <img src="./images/member/Ach_list_03.png" alt="">
                                </span>
                                <span class="memberBadgeIcon">
                                    <img src="./images/member/Ach_list_03.png" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>  -->
                <!-- <div class="item">
                    <a href="./meet2-3.html">
                        <div class="newImg">
                            <img src="./images/meet/mountain/4east.jpg" alt="">
                        </div>
                    </a>
                    <div class="newMeetTextCont">
                        <div class="tittleLike">
                            <a href="./meet2-3.html"><h3>奇萊主北兩天一夜</h3></a>
                            <div class="heartIcon">
                                <div class="changeIcon">
                                    <img class="heart" src="./images/icons/icon_heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <span class="tag">＃花蓮</span>
                                        <span class="tag">＃東部</span>
                                        <span class="tag">＃兩天</span>
                            <div class="locationDegree">
                                <span class="location">東部</span>
                                <span class="degree">難度</span>
                            </div>
                            <span class="date">2020/08/29</span><span>出發</span>
                            ｜
                            <span class="date">2020/08/30</span><span>回程</span>
                        </div>
                        <div class="meetContent">
                            <p class="textContent">
                                [8/29]
                                05:00 奇萊登山口集合
                                06:00 出發
                                07:00 1.6k休息
                                07:50 黑水塘
                                08:45 成功2號山屋 補充水源
                                09:15 出發
                                09:45 成功1號山屋
                                10:25 三岔路
                                11:45 稜線山屋
                                15:00 出發奇萊北峰
                                16:30 登頂北峰
                                16:50 從奇萊北峰下山
                                18:30 返回稜線帳棚
                                [8/30]
                                03:20 出發主峰
                                04:50 叉路口
                                05:20 奇萊主峰
                                06:00 返回稜線山屋
                                08:05 抵達稜線山屋
                                09:40 起身下山
                                11:37 成功一號堡
                                12:10 成功山屋
                                13:25 黑水塘山屋
                                16:00 奇萊登山口解散",

                            </p>
                        </div>
                    </div>
                    <div class="member_styleA row">
                        <div class="memberImg">
                            <img src="./images/meet/member/Chris.jpg" alt="">
                        </div>
                        <div class="memberInfo">
                            <div class="certification">
                                <span class="certificationIcon"><i class="fas fa-thumbs-up"></i></span>
                                <span class="certificationIcon"><i class="fas fa-check-circle"></i></span>
                            </div>
                            <div class="memberId">Chris</div>
                            <div class="memberBadge">
                                <span class="memberBadgeIcon">
                                    <img src="./images/member/Ach_list_03.png" alt="">
                                </span>
                                <span class="memberBadgeIcon">
                                    <img src="./images/member/Ach_list_03.png" alt="">
                                </span>
                                <span class="memberBadgeIcon">
                                    <img src="./images/member/Ach_list_03.png" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="item">
                    <a href="./meet2-3.html">
                        <div class="newImg">
                            <img src="./images/meet/mountain/1north.jpg" alt="">
                        </div>
                    </a>
                    <div class="newMeetTextCont">
                        <div class="tittleLike">
                            <a href="./meet2-3.html"><h3>台北放假不知道何處去? 快來爬象山吧</h3></a>
                            <div class="heartIcon">
                                <div class="changeIcon">
                                    <img class="heart" src="./images/icons/icon_heart.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <span class="tag">＃台北</span>
                            <span class="tag">＃一日</span>
                            <span class="tag">＃初階</span>
                            <div class="locationDegree">
                                <span class="location">北部</span>
                                <span class="degree">難度</span>
                            </div>
                            <span class="date">2020/09/05</span><span>出發</span>
                        </div>
                        <div class="meetContent">
                            <p class="textContent">
                                登山口：台北市信義區
                                交通方式：捷運象山站步行12分鐘至登山口
                                路徑規劃：捷運象山站→登山口→六巨石→登山口→捷運象山站
                                路線全長：來回1.5公里內
                                步行時間：1小時內
                                特色：台北市最知名的步道，可遠眺台北盆地及101大樓，外地人、外國觀光客必訪之處",
                            </p>
                        </div>
                    </div>
                    <div class="member_styleA row">
                        <div class="memberImg">
                            <img src="./images/meet/member/katty.jpg" alt="">
                        </div>
                        <div class="memberInfo">
                            <div class="certification">
                                <span class="certificationIcon"><i class="fas fa-thumbs-up"></i></span>
                                <span class="certificationIcon"><i class="fas fa-check-circle"></i></span>
                            </div>
                            <div class="memberId">Katty</div>
                            <div class="memberBadge">
                                <span class="memberBadgeIcon">
                                    <img src="./images/member/Ach_list_03.png" alt="">
                                </span>
                                <span class="memberBadgeIcon">
                                    <img src="./images/member/Ach_list_03.png" alt="">
                                </span>
                                <span class="memberBadgeIcon">
                                    <img src="./images/member/Ach_list_03.png" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div> -->
                
            </div>

            <div class="page">
                <button class="btnA_S pgprev"><p style="transform: translate(-5px , 0px); transition: 0s;">&#10229</p></button>
                <button class="btnA_S pg -active"><p>01</p></button>
                <button class="btnA_S pg"><p>02</p></button>
                <button class="btnA_S pg"><p>03</p></button>
                <button class="btnA_S pg"><p>04</p></button>
                <button class="btnA_S pg"><p>05</p></button>
                <button class="btnA_S pgnext"><p style="transform: translate(-5px , 0px); transition: 0s;">&#10230</p></button>
            </div>
        </section>
        
    </main>

     <!-- -------------------------aside link------------------------- -->
     <div id="aside-link">
        <div class="aside-com-btn">
            <a href="./meet2-2.html" target="_blank"><img src="./images/form_img/want2.png" alt=""></a>
        </div>
    </div>

    <!-- -------------------------GO TOP------------------------- -->
    <a href="#" id="gotop">
        <i class="fas fa-arrow-up"></i>
    </a>

    <footer class="footer">
        <div class="footer_logo_block">
            <a href="./FrontstageIndex.html">
                <img src="./images/logo/LOGO_white.png" alt="">
            </a>
            <div class="copyright">Copyright © 2020 Mountain Community.</div>
        </div>
        <div class="footer_info">
            <div class="sevrves_place-serves_tel">
                <div class="place">
                    <div class="f_color1">桃園市中壢區中大路300號</div>
                    <div class="f_color1">工程二館 資策會大樓</div>
                </div>
                <div class="tel">
                    <div class="f_color1">連絡電話</div>
                    <div class="f_color1">(03)425-7387</div>
                </div>
            </div>
            <div class="serves_time-serves_email">
                <div class="time">
                    <div class="f_color1">服務時間</div>
                    <div class="f_color1">週一至週五10:00~17:00</div>
                </div>
                <div class="email">
                    <div class="f_color1">服務信箱</div>
                    <div class="f_color1">tibame@gmail.com</div>
                </div>
            </div>
            <div class="epaper-footer_link">
                <div class="epaper">
                    <div class="etitle f_color1">輸入信箱訂閱電子報</div>
                    <div class="einput">
                        <input type="text" placeholder="Email address">
                        <div class="e_bt f_color1">SUBSCRIBE</e_bt>
                    </div>
                </div>
                <div class="link">
                    <div class="linkup">
                        <div><a href="https://www.cwb.gov.tw/V8/C/" target="_blank">中央氣象局</a></div>
                        <div><a href="https://npm.cpami.gov.tw/" target="_blank">登山證申請</a></div>
                        <div><a href="" target="_blank">網站快速導覽</a></div>
                    </div>
                    <div class="linkdown">
                        <div><a href="" target="_blank">服務條款及隱私權政策</a></div>
                        <div><a href="" target="_blank">會員使用條款</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- 載入 jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!----go top----->
    <script src="./js/fa5.14.0all.js"></script>

    <script src="./js/meet2-0.js"></script>
    <script src="./js/header.js" ></script>
    <script src="./js/login_v2.js"></script>
</body>
</html>