<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>媒山友｜會員</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap">
    <link rel=“stylesheet” href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/Member_style_v2.css">

    <script src="./js/jquery.min.js"></script>
    <script src="./js/Member_v2.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>
<body>
    <header>
        <div id="headerbox">
            <a href="./Frontstageindex.html" class="logo">
                <img class="logo" src="./images/logo/LOGO_white.png" alt="">
            </a> 

            <nav class="menuhover">
                <ul class="menuhover">
                    <li class="bg bg1"></li>
                    <li class="bg bg2"></li>
                    <li class="bg bg3"></li>
                </ul>
            </nav>

            <nav class="menu">
                <ul class="link_list llleft">
                    <li><a class="tour" href="./meet2-0.html"><p>揪團區</p></a></li>
                    <li><a class="forum" href="./forum.html"><p>討論區</p></a></li>
                    <li><a class="product" href="./product.html"><p>商品區</p></a></li>
                </ul>
                <ul class="link_list llright">
                    <li>
                        <div id="mem_avatar_box"><img id="mem_avatar_img" src=""></div>
                    </li>
                    <li><div id="mem_info_id"></div></li>
                    <li><button id="Logout_btn" class="btnB_L_grey"><p>登出</p><div class="bg"></div></button></li>
                    <li><a class="member" id="member_jumpTo"><i class="fa fa-user"></i></a></li>
                    <li><a class="cart" href="./shoppingcart.html"><i class="fa fa-shopping-cart"></i></a></li>
                    <span class="add_count_others"></span>
                </ul>
            </nav>
            <div id="imagebox">
                <img id="picTour" src="./images/header/tour.png" alt="">
                <img id="picForum" src="./images/header/forum.png" alt="">
                <img id="picProduct" src="./images/header/product.png" alt="">
            </div>

            <div id="greymask"></div>
            <div id="hamburgerBG">
                <div class="ab white"></div>
                <div class="ab yellow1"></div>
                <div class="ab yellow2"></div>
                <div class="ab yellow3"></div>
            </div>
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </header>
    <main>
        <div class="top">
            <div class="banner"><img id="mem_bg" src=""></div>
            <div class="memProfile">
                <div class="memProfile_AVA">
                    <div class="memProfile_AVA_img"><img id="memProfile_img" src=""></div>
                    <div class="memProfile_AVA_change">
                        <label class="camera_i">
                            <input type="file" id="imgInp" accept="image/*" />
                        </label>
                    </div>
                </div>
                <div class="memProfile_DET">
                    <div class="memProfile_DET_name">
                        <h2 id="memProfile_name"></h2>
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="memProfile_DET_fol">
                        <p>142人追蹤中</p>
                        <img src="./images/member/Ach_list_01.png">
                        <img src="./images/member/Ach_list_03.png">
                        <img src="./images/member/Ach_list_10.png">
                    </div>
                </div>
                <div class="memProfile_MOD">
                    <button type="button" href="javascript:void(0)" class="profile tabbutton" onclick="tabId(event, 'MemDetail')">
                        <div class="profile_icon"><img src="./images/Member/profile_icon.png"></div>
                        <div class="modify">個人修改資料</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="nav_list">
            <div class="X_btn">
                <svg id="Icon_ionic-md-close-circle-outline" data-name="Icon ionic-md-close-circle-outline" xmlns="http://www.w3.org/2000/svg" width="29.25" height="29.25" viewBox="0 0 29.25 29.25">
                    <circle id="Ellipse_292" data-name="Ellipse 292" cx="14.5" cy="14.5" r="14.5" fill="#fff"/>
                    <path id="Path_326" data-name="Path 326" d="M18,6.328A11.667,11.667,0,1,1,9.745,9.745,11.623,11.623,0,0,1,18,6.328m0-2.953A14.625,14.625,0,1,0,32.625,18,14.623,14.623,0,0,0,18,3.375Z" transform="translate(-3.375 -3.375)" fill="#555"/>
                    <path id="Path_327" data-name="Path 327" d="M25.313,23.266l-2.046,2.046L18,20.046l-5.266,5.266-2.046-2.046L15.954,18l-5.266-5.266,2.046-2.046L18,15.954l5.266-5.266,2.046,2.046L20.046,18Z" transform="translate(-3.375 -3.375)" fill="#555"/>
                </svg>
            </div>
            <div class="nav_btn_outside">
                <div class="nav_button">
                    <button type="button" href="javascript:void(0)" class="tabbutton now" onclick="tabId(event, 'MemFootprint')">
                        <i class="fas fa-map-marked-alt"></i>
                        <p>足跡</p>
                    </button>
                </div>
                <div class="nav_button">
                    <button type="button" href="javascript:void(0)" class="tabbutton" onclick="tabId(event, 'MemAccreditation')">
                        <i class="fas fa-user-check"></i>
                        <p>認證</p>
                    </button>
                </div>
                <div class="nav_button">
                    <button type="button" href="javascript:void(0)" class="tabbutton" onclick="tabId(event, 'MemAchievement')">
                        <i class="fas fa-trophy"></i>
                        <p>徽章</p>
                    </button>
                </div>
                <div class="nav_button">
                    <button type="button" href="javascript:void(0)" class="tabbutton" onclick="tabId(event, 'MemTravel')">
                        <i class="fas fa-users"></i>
                        <p>揪團</p>
                    </button>
                </div>
                <div class="nav_button">
                    <button type="button" href="javascript:void(0)" class="tabbutton" onclick="tabId(event, 'MemCollect')">
                        <i class="fas fa-book"></i>
                        <p>收藏</p>
                    </button>
                </div>
                <div class="nav_button">
                    <button type="button" href="javascript:void(0)" class="tabbutton" onclick="tabId(event, 'MemPost')">
                        <i class="fas fa-file-alt"></i>
                        <p>文章</p>
                    </button>
                </div>
                <div class="nav_button">
                    <button type="button" href="javascript:void(0)" class="tabbutton" onclick="tabId(event, 'MemPoints')">
                        <i class="fas fa-money-bill-wave"></i>
                        <p>點數</p>
                    </button>
                </div>
                <div class="nav_button">
                    <button type="button" href="javascript:void(0)" class="tabbutton" onclick="tabId(event, 'MemOrder')">
                        <i class="fas fa-cart-arrow-down"></i>
                        <p>訂單</p>
                    </button>
                </div>
                <div class="nav_button btn_modify">
                    <button type="button" href="javascript:void(0)" class="tabbutton" onclick="tabId(event, 'MemDetail')">
                        <i class="fas fa-pen"></i>
                        <p>修改</p>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="C_info"><!-- ----------各頁面內容放這(start)-------------------- -->
            
            <!-- 足跡 hiko-->
            <div id="MemFootprint" class="pages">
                <h2 class="title">我的足跡</h2>
                <div class="record_list">
                    <div class="location_record">
                        <div class="background">
                            <img src="./images/member/location_record_map.png">
                        </div>
                        <button id="FootprintNorthCount" href="javascript:void(0)" class="point1 point tabarea North-area this" onclick="tabArea(event, 'North-area_info')">
                            <img src="./images/member/Pushpin.png">
                            <div class="value_box" v-for="(FootprintNorthCountList, index) in FootprintNorthCountList">
                                <span>{{FootprintNorthCountList.Count}}</span>
                            </div>
                        </button>
                        <button id="FootprintWestCount" href="javascript:void(0)" class="point2 point tabarea West-area" onclick="tabArea(event, 'West-area_info')">
                            <img src="./images/member/Pushpin.png">
                            <div class="value_box" v-for="(FootprintWestCountList, index) in FootprintWestCountList">
                                <span>{{FootprintWestCountList.Count}}</span>
                            </div>
                        </button>
                        <button id="FootprintEastCount" href="javascript:void(0)" class="point3 point tabarea East-area" onclick="tabArea(event, 'East-area_info')">
                            <img src="./images/member/Pushpin.png">
                            <div class="value_box" v-for="(FootprintEastCountList, index) in FootprintEastCountList">
                                <span>{{FootprintEastCountList.Count}}</span>
                            </div>
                        </button>
                        <button id="FootprintSouthCount" href="javascript:void(0)" class="point4 point tabarea South-area" onclick="tabArea(event, 'South-area_info')">
                            <img src="./images/member/Pushpin.png">
                            <div class="value_box" v-for="(FootprintSouthCountList, index) in FootprintSouthCountList">
                                <span>{{FootprintSouthCountList.Count}}</span>
                            </div>
                        </button>
                    </div>
                    <div class="location_item">

                        <!-- 北部 -->
                        <div id="North-area_info" class="text_record area">
                            <div class="TR_title">
                                <div><hr></div>
                                <div class="title">登山活動紀錄</div>
                                <div><hr></div>
                            </div>
                            <div class="TR_boxlist" id="FootprintNorth">
                                <a :href="'./meet2-3.html?tour_no=' + FootprintNorthList.tour_no">
                                    <div class="TR_box" v-for="(FootprintNorthList, index) in FootprintNorthList">
                                        <div class="img_value">
                                            <img v-bind:src="FootprintNorthList.mountain_image" alt="">
                                        </div>
                                        <div class="text_value">
                                            <div class="TV_travel TV">
                                                <p>攀登路線：{{FootprintNorthList.mountain_name}}({{FootprintNorthList.mountain_area | Area}})</p>
                                            </div>
                                            <div class="TV_hardlv">
                                                <p>山岳難度：{{FootprintNorthList.degree_category}}</p>
                                            </div>
                                            <div class="TV_dateStart TV">
                                                <p>開始日期：{{FootprintNorthList.tour_activitystart}}</p>
                                            </div>
                                            <div class="TV_dateEnd TV">
                                                <p>結束日期：{{FootprintNorthList.tour_activityend}}</p>
                                            </div>
                                            <div class="TV_points TV">
                                                <p>獲得點數：400 (點)</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- 中部(西部) -->
                        <div id="West-area_info" class="text_record area">
                            <div class="TR_title">
                                <div><hr></div>
                                <div class="title">登山活動紀錄</div>
                                <div><hr></div>
                            </div>
                            <div class="TR_boxlist" id="FootprintWest">
                                <a :href="'./meet2-3.html?tour_no=' + FootprintWestList.tour_no">
                                    <div class="TR_box" v-for="(FootprintWestList, index) in FootprintWestList">
                                        <div class="img_value">
                                            <img v-bind:src="FootprintWestList.mountain_image" alt="">
                                        </div>
                                        <div class="text_value">
                                            <div class="TV_travel TV">
                                                <p>攀登路線：{{FootprintWestList.mountain_name}}({{FootprintWestList.mountain_area | Area}})</p>
                                            </div>
                                            <div class="TV_hardlv">
                                                <p>山岳難度：{{FootprintWestList.degree_category}}</p>
                                            </div>
                                            <div class="TV_dateStart TV">
                                                <p>開始日期：{{FootprintWestList.tour_activitystart}}</p>
                                            </div>
                                            <div class="TV_dateEnd TV">
                                                <p>結束日期：{{FootprintWestList.tour_activityend}}</p>
                                            </div>
                                            <div class="TV_points TV">
                                                <p>獲得點數：400 (點)</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- 東部 -->
                        <div id="East-area_info" class="text_record area">
                            <div class="TR_title">
                                <div><hr></div>
                                <div class="title">登山活動紀錄</div>
                                <div><hr></div>
                            </div>
                            <div class="TR_boxlist" id="FootprintEast">
                                <a :href="'./meet2-3.html?tour_no=' + FootprintEastList.tour_no">
                                    <div class="TR_box" v-for="(FootprintEastList, index) in FootprintEastList">
                                        <div class="img_value">
                                            <img v-bind:src="FootprintEastList.mountain_image" alt="">
                                        </div>
                                        <div class="text_value">
                                            <div class="TV_travel TV">
                                                <p>攀登路線：{{FootprintEastList.mountain_name}}({{FootprintEastList.mountain_area | Area}})</p>
                                            </div>
                                            <div class="TV_hardlv">
                                                <p>山岳難度：{{FootprintEastList.degree_category}}</p>
                                            </div>
                                            <div class="TV_dateStart TV">
                                                <p>開始日期：{{FootprintEastList.tour_activitystart}}</p>
                                            </div>
                                            <div class="TV_dateEnd TV">
                                                <p>結束日期：{{FootprintEastList.tour_activityend}}</p>
                                            </div>
                                            <div class="TV_points TV">
                                                <p>獲得點數：400 (點)</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- 南部 -->
                        <div id="South-area_info" class="text_record area">
                            <div class="TR_title">
                                <div><hr></div>
                                <div class="title">登山活動紀錄</div>
                                <div><hr></div>
                            </div>
                            <div class="TR_boxlist" id="FootprintSouth">
                                <a :href="'./meet2-3.html?tour_no=' + FootprintSouthList.tour_no">
                                    <div class="TR_box" v-for="(FootprintSouthList, index) in FootprintSouthList">
                                        <div class="img_value">
                                            <img v-bind:src="FootprintSouthList.mountain_image" alt="">
                                        </div>
                                        <div class="text_value">
                                            <div class="TV_travel TV">
                                                <p>攀登路線：{{FootprintSouthList.mountain_name}}({{FootprintSouthList.mountain_area | Area}})</p>
                                            </div>
                                            <div class="TV_hardlv">
                                                <p>山岳難度：{{FootprintSouthList.degree_category}}</p>
                                            </div>
                                            <div class="TV_dateStart TV">
                                                <p>開始日期：{{FootprintSouthList.tour_activitystart}}</p>
                                            </div>
                                            <div class="TV_dateEnd TV">
                                                <p>結束日期：{{FootprintSouthList.tour_activityend}}</p>
                                            </div>
                                            <div class="TV_points TV">
                                                <p>獲得點數：400 (點)</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 認證 hiko-->
            <div id="MemAccreditation" class="pages">
                <h2 class="title">我的認證</h2>
                <div class="accreditation_list">
                    <div class="first Acc ID">
                        <img class="Acc-profile-img" src="./images/member/identity_certificate.jpg">
                        <div class="Acc-description-bk"></div>
                        <div class="Acc-logo">
                            <img src="./images/member/NotApplied.jpg" alt="灰色=尚未申請">
                        </div>
                        <div class="Acc-description">
                            <h2>實名認證</h2>
                        </div>
                        <div class="Acc-btn">
                            <a href="./MemberId.html" target="_blank"><button class="btnB_XL_blue"><p>點我申請</p><div class="bg"></div></button></a>
                        </div>
                    </div>
                    <div class="second Acc Mountain">
                        <img class="Acc-profile-img" src="./images/member/mountain_guide_certificate.png">
                        <div class="Acc-description-bk"></div>
                        <div class="Acc-logo">
                            <img src="./images/member/pass.jpg">
                        </div>
                        <div class="Acc-description">
                            <h2>嚮導認證</h2>
                        </div>
                        <div class="Acc-btn">
                            <a href="./MemberGuide.html" target="_blank"><button class="btnB_XL_yellow"><p>點我申請</p><div class="bg"></div></button></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 徽章 hiko-->
            <div id="MemAchievement" class="pages">
                <h2 class="title">徽章總覽</h2>
                <div class="Achievement_list" id="AchievementHave">
                    <div class="Ach Nohave" v-for="(AchievementHaveList, index) in AchievementHaveList">
                        <img v-bind:src="AchievementHaveList.achievement_image" alt="">
                        <p>【{{AchievementHaveList.achievement_category}}】{{AchievementHaveList.achievement_name}}</p>
                        <span>{{AchievementHaveList.achievement_date}}</span>
                    </div>
                </div>
            </div>

            <!-- 揪團 hiko-->
            <div id="MemTravel" class="pages">
                <h2 class="title">我的揪團</h2>
                <div class="tabs">
                    <input type="radio" name="tabs" id="tabone" checked="checked">
                    <label for="tabone">發起的揪團</label>
                    <div class="myself_list list_style tab" id="TravelBySelf">
                        <a :href="'./meet2-3.html?tour_no=' + TravelBySelfList.tour_no">
                            <div class="page" v-for="(TravelBySelfList, index) in TravelBySelfList">
                            <div class="img_box">
                                <img v-bind:src="TravelBySelfList.mountain_image" alt="">
                            </div>
                            <div class="text_box">
                                <h3 class="text_title">【{{TravelBySelfList.mountain_name}}】{{TravelBySelfList.tour_title}}</h3>
                                <div class="text_content">
                                    <p>{{TravelBySelfList.tour_innertext}}</p>
                                </div>
                                <div class="text_prompt">
                                    <div class="TP_icon TP"><i class="fas fa-map-marker-alt"></i></div>
                                    <div class="TP_area TP">{{TravelBySelfList.mountain_area | Area}}</div>
                                    <div class="TP_title TP">難度</div>
                                    <div class="TP_level TP">{{TravelBySelfList.degree_category}}</div>
                                </div>
                            </div>
                            <div class="info_box">
                                <div class="info_title">報名人數</div>
                                <div class="info_value">{{TravelBySelfList.tour_apply}}</div>
                            </div>
                            <div class="date_box">
                                <div class="date_title">開團日期</div>
                                <div class="date_value">{{TravelBySelfList.tour_activitystart}}</div>
                            </div>
                            </div>
                        </a>
                    </div>
                    
                    <input type="radio" name="tabs" id="tabtwo">
                    <label for="tabtwo">參加的揪團</label>
                    <div class="travel_list list_style tab" id="TravelByOther">
                        <a :href="'./meet2-3.html?tour_no=' + TravelByOtherList.tour_no">
                            <div class="page" v-for="(TravelByOtherList, index) in TravelByOtherList">
                                <div class="img_box">
                                    <img v-bind:src="TravelByOtherList.mountain_image" alt="">
                                </div>
                                <div class="text_box">
                                    <h3 class="text_title">【{{TravelByOtherList.mountain_name}}】{{TravelByOtherList.tour_title}}</h3>
                                    <div class="text_content">
                                        <p>{{TravelByOtherList.tour_innertext}}</p>
                                    </div>
                                    <div class="text_prompt">
                                        <div class="TP_icon TP"><i class="fas fa-map-marker-alt"></i></div>
                                        <div class="TP_area TP">{{TravelByOtherList.mountain_area | Area}}</div>
                                        <div class="TP_title TP">難度</div>
                                        <div class="TP_level TP">{{TravelByOtherList.degree_category}}</div>
                                    </div>
                                </div>
                                <div class="info_box">
                                    <div class="info_title">審核狀態</div>
                                    <div class="info_value">{{TravelByOtherList.tour_participate_situation}}</div>
                                </div>
                                <div class="date_box">
                                    <div class="date_title">開團日期</div>
                                    <div class="date_value">{{TravelByOtherList.tour_activitystart}}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- 收藏 hiko-->
            <div id="MemCollect" class="pages">
                <h2 class="title">我的收藏</h2>
                <div class="classify_list">
                    <a href="javascript:void(0)" class="classify tablink post_classify btn" onclick="openClass(event, 'class1')">文章收藏</a>
                    <a href="javascript:void(0)" class="classify tablink travel_classify" onclick="openClass(event, 'class2')">揪團收藏</a>
                    <a href="javascript:void(0)" class="classify tablink product_classify" onclick="openClass(event, 'class3')">商品收藏</a>
                </div>
                <div id="class1" class="container class">

                    <!-- VUE: 父層 > id   會重複結構的子層 > v-for="(AAA, index)in BBB 套用變數" {{AAA.欄位名稱}} -->
                    <div class="post_list CollectList_group" id="Collect_forum"> 
                        <div class="item_1 card" v-for="(forumList, index) in Collect_forumList">
                            <div class="Card_img">
                                <!-- <img src="./images/form_img/g10.jpg"> -->
                                <img v-bind:src="forumList.forum_post_image" alt="">
                            </div>
                            <div class="Card_info">
                                <div class="CI_title">
                                    <h3>【{{forumList.forum_post_category}}】{{forumList.forum_post_title}}</h3>
                                </div>
                                <div class="CI_content">
                                    <p>{{forumList.forum_post_innertext}}</p>
                                </div>
                            </div>
                            <div class="Card_btn">
                                <a :href="'./forum.html?forum_post_no=' + forumList.forum_post_no"> 
                                    <button class="btnA_L"><p>點擊前往</p></button>
                                </a>
                            </div>
                            <button class="Card_delete">
                                <img src="./images/icons/icon_trash.svg">
                            </button>
                        </div>

                    </div>
                </div>

                <div id="class2" class="container class">

                    <div class="travel_list CollectList_group" id="Collect_tour">

                        <div class="item_1 card" v-for="(tourList, index) in Collect_tourList">
                            <div class="Card_img">
                                <img v-bind:src="tourList.mountain_image" alt="">
                            </div>
                            <div class="Card_info">
                                <div class="CI_title">
                                    <h3>【{{tourList.mountain_name}}】{{tourList.tour_title}}</h3>
                                </div>
                                <div class="CI_content">
                                    <p>{{tourList.tour_innertext}}</p>
                                </div>
                            </div>
                            <div class="Card_btn">
                                <a :href="'./meet2-3.html?tour_no=' + tourList.tour_no"> 
                                    <button class="btnA_L"><p>點擊前往</p></button>
                                </a>
                            </div>
                            <!-- <a :href="./phpForConnect/memdeleteCollect_tour.php?tour_no=tourList.tour_no"> -->
                                <button class="Card_delete">
                                    <img src="./images/icons/icon_trash.svg">
                                </button>
                            <!-- </a> -->
                        </div>
                    </div>
                </div>

                <div id="class3" class="container class">

                    <div class="product_list CollectList_group" id="Collect_product">

                        <div class="item_1 card" v-for="(productList, index) in Collect_productList">
                            <div class="Card_img">
                                <img v-bind:src="productList.product_image1" alt="">
                            </div>
                            <div class="Card_info">
                                <div class="CI_title">
                                    <h3>【{{productList.product_category}}】{{productList.product_name}}</h3>
                                </div>
                                <div class="CI_content">
                                    <p>{{productList.product_description}}</p>
                                </div>
                            </div>
                            <div class="Card_btn">
                                <a :href="'./product_info.html?product_no=' + productList.product_no"> 
                                    <button class="btnA_L"><p>點擊前往</p></button>
                                </a>
                            </div>
                            <button class="Card_delete">
                                <img src="./images/icons/icon_trash.svg">
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 文章 hiko-->
            <div id="MemPost" class="pages">
                <h2 class="title">我的文章</h2>
                <div class="post_list" id="ForumPost">
                    <a :href="'./forum-comment.html?forum_post_no=' + ForumPostList.forum_post_no" class="page" v-for="(ForumPostList, index) in ForumPostList">
                        <div class="img_box">
                            <img v-bind:src="ForumPostList.forum_post_image" alt="">
                        </div>
                        <div class="text_box">
                            <div class="text_title TP">
                                <h3 class="title_value">【{{ForumPostList.forum_post_category}}】{{ForumPostList.forum_post_title}}</h3>
                            </div>
                            <div class="text_content TP">
                                <p class="content_value">{{ForumPostList.forum_post_innertext}}</p>
                            </div>
                            <div class="text_posttime TP">
                                <p class="release_date">發文時間：{{ForumPostList.forum_post_time}}</p>
                            </div>
                            <div class="text_reply TP">
                                <p>最新回覆：{{ForumPostList.Min}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- 點數 -->
            <div id="MemPoints" class="pages">
                <h2 class="title">我的點數</h2>
                <div id="MemPoints_info"></div>
            </div>
            <!-- 訂單 -->
            <div id="MemOrder" class="pages">
                <h2 class="title">我的訂單</h2>
                <div id="MemOrder_info"></div>
            </div>
            <!-- 修改資料 -->
            <div id="MemDetail" class="pages">
                <h2 class="title">修改資料</h2>
                <div id="MemEdit_info"></div>
            </div>

        </div><!-- ----------各頁面內容放這(end)-------------------- -->
        <div class="nav_mob">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                <g id="Group_798" data-name="Group 798" transform="translate(-427 -1080)">
                  <rect id="Rectangle_1233" data-name="Rectangle 1233" width="10" height="10" rx="3" transform="translate(427 1080)" fill="#555"/>
                  <rect id="Rectangle_1236" data-name="Rectangle 1236" width="10" height="10" rx="3" transform="translate(427 1094)" fill="#555"/>
                  <rect id="Rectangle_1234" data-name="Rectangle 1234" width="10" height="10" rx="3" transform="translate(441 1080)" fill="#555"/>
                  <rect id="Rectangle_1237" data-name="Rectangle 1237" width="10" height="10" rx="3" transform="translate(441 1094)" fill="#555"/>
                </g>
            </svg>                      
        </div>
    </main>
    <footer class="footer">
        <div class="footer_logo_block">
            <a href="./FrontstageIndex.html">
                <img src="./images/logo/LOGO_white.png" alt="">
            </a>
            <div class="copyright">Copyright © 2020 Mountain Community.</div>
        </div>
        <div class="footer_info">
            <div class="sevrves_place-serves_tel">
                <div class="place">
                    <div class="f_color1">桃園市中壢區中大路300號</div>
                    <div class="f_color1">工程二館 資策會大樓</div>
                </div>
                <div class="tel">
                    <div class="f_color1">連絡電話</div>
                    <div class="f_color1">(03)425-7387</div>
                </div>
            </div>
            <div class="serves_time-serves_email">
                <div class="time">
                    <div class="f_color1">服務時間</div>
                    <div class="f_color1">週一至週五10:00~17:00</div>
                </div>
                <div class="email">
                    <div class="f_color1">服務信箱</div>
                    <div class="f_color1">tibame@gmail.com</div>
                </div>
            </div>
            <div class="epaper-footer_link">
                <div class="epaper">
                    <div class="etitle f_color1">輸入信箱訂閱電子報</div>
                    <div class="einput">
                        <input type="text" placeholder="Email address">
                        <div class="e_bt f_color1">SUBSCRIBE</e_bt>
                    </div>
                </div>
                <div class="link">
                    <div class="linkup">
                        <div><a href="https://www.cwb.gov.tw/V8/C/" target="_blank">中央氣象局</a></div>
                        <div><a href="https://npm.cpami.gov.tw/" target="_blank">登山證申請</a></div>
                        <div><a href="" target="_blank">網站快速導覽</a></div>
                    </div>
                    <div class="linkdown">
                        <div><a href="" target="_blank">服務條款及隱私權政策</a></div>
                        <div><a href="" target="_blank">會員使用條款</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<!-- ======================script-(start)======================= -->
<!-- ======================script-start======================= -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/2b48341542.js" crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>      <!--font-awesome正常顯示用-->

<script src="./js/jquery.min.js"></script>
<script src="./js/header.js"></script>
<script src="./js/common.js"></script>
<script src="./js/Member_v2.js"></script>
<script src="./js/login_v2.js"></script>

<!-- ======================script-(end)========================= -->
<!-- ======================PHP by hiko-(start)======================= -->

<script src="./js/memFootprintNorthCount.js"></script> <!-- (北部)已完成揪團數 -->
<script src="./js/memFootprintWestCount.js"></script>  <!-- (中西)已完成揪團數 -->
<script src="./js/memFootprintSouthCount.js"></script> <!-- (南部)已完成揪團數 -->
<script src="./js/memFootprintEastCount.js"></script>  <!-- (東部)已完成揪團數 -->

<script src="./js/memFootprintNorth.js"></script>      <!-- (北部)已完成揪團列 -->
<script src="./js/memFootprintWest.js"></script>       <!-- (中西)已完成揪團列 -->
<script src="./js/memFootprintSouth.js"></script>      <!-- (南部)已完成揪團列 -->
<script src="./js/memFootprintEast.js"></script>       <!-- (東部)已完成揪團列 -->

<script src="./js/memAchievementHave.js"></script>     <!-- 獲得的徽章 -->

<script src="./js/memTravelBySelf.js"></script>        <!-- 發起的揪團 -->
<script src="./js/memTravelByOther.js"></script>       <!-- 參加的揪團 -->
<script src="./js/memCollectForum.js"></script>        <!-- 收藏：文章 -->
<script src="./js/memCollectTour.js"></script>         <!-- 收藏：揪團 -->
<script src="./js/memCollectProduct.js"></script>      <!-- 收藏：商品 -->
<script src="./js/memForumPost.js"></script>           <!-- 發佈的文章 -->

<!-- ======================PHP by hiko-(end)======================= -->
<!-- ======================script-(手機版切換)======================= -->
<script>
    $(document).ready(function(){
        $('.nav_mob').click(function(){
            $('.nav_list').toggle();
        });
        $('.X_btn').click(function(){
            $('.nav_list').css('display','none');
        });
    });

    function readURL(input){
        if(input.files && input.files[0]){
            var reader = new FileReader();

            reader.onload = function(e){
                $('#img_ava').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    };

    $("#imgInp").change(function(){
        readURL(this);
    });
</script>

<!-- ======================(script-傳送值去訂單)======================= -->
<script>
    $('#MemPoints_info').load('./phpForConnect/member_v2_point.php');
    $('#MemOrder_info').load('./phpForConnect/member_v2_order.php');
    $('#MemEdit_info').load('./phpForConnect/member_v2_edit.php');
</script>
</body>
</html>