#MemOrder{
    display: inline-block;
    .memOrder_pc{
        text-align: center;
        .memOrder_form{
            background-color:#EAF1F4;
            border-radius:10px;
            display: inline-block;
            padding: 0 50px 5px 50px;
            margin: 50px;
            table{
                border-collapse: collapse;
                text-align: center;
                th{
                    border-bottom: 1px solid black;
                    color: #2C5E9E;
                    padding: 25px 20px;
                    font-size: 18px;
                }
                td{
                    border-bottom: 1px solid black;
                    padding: 25px 0px;
                    font-size: 16px;
                }
            }
        }
        .orderPages{
            text-align: center;
        }
    }
}

// 手機版
#MemOrder{
    display: inline-block;
    .memOrder_mob{
        display: inline-block;
        background-color: #EAF1F4;
        border-radius: 10px;
        margin: 50px auto;
        padding: 10px;
        display: none;
        width: 80%;
        table{
            border-collapse: collapse;
            margin: 0 auto;
            th{
                border-bottom: 1px solid black;
                text-align: left;
                padding:10px 30px 5px 5px;
                font-size: 18px;
                color: #2C5E9E;
            }
            td{
                border-bottom: 1px solid black;
                text-align: left;
                padding-right: 20px;
                font-size: 16px;
            }
    
        }
        p{
            text-align: right;
            margin-right: 30px;
        }
    }
}


// RWD
@media screen and (max-width: 767px){
    #MemOrder{
        .memOrder_pc{
            display: none;
        }
        .memOrder_mob{
            display: block;
        }

    } 
}