//會員頁收藏卡片樣式
@mixin memberLikeCards {
    width: 270px;
    height: 430px;
    border-radius: 20px 20px 30px 30px;
    margin: auto;
    background-color: #fff;
    -moz-box-shadow:2px 2px 10px -5px #8A8A8A; 
    -webkit-box-shadow:2px 2px 10px -5px #8A8A8A; 
    box-shadow:2px 2px 10px -5px #8A8A8A;
    position: relative;
    .Card_img{
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
        text-align: center;
        overflow: hidden;
        img{
            width: 270px;
            border-radius: 20px 20px 0 0;
        }
    }
    .Card_info{
        display: inline-block;
        margin: 2%;
        text-align: left;
        .CI_title{
            overflow: hidden;
            h3{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /*!autoprefixer:off*/
                -webkit-box-orient: vertical;
                /*autoprefixer:on*/
            }
        }
        .CI_content{
            overflow: hidden;
            p{
                line-height: 1.33;
                padding-top: 10px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                /*!autoprefixer:off*/
                -webkit-box-orient: vertical;
                /*autoprefixer:on*/
            }
        }
    }   
    .Card_btn{
        text-align: end;
        margin: 5%;
    }
    .Card_delete{
        width: 40px;
        height: 40px;
        background-size: 20px,20px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
        border: 0px #fff solid;
        top: 0;
        border-radius: 99em;
        right: 0;
        outline: none;
        cursor: pointer;
    }
    .Cd_ico{
        width: 7%;
        position: absolute;
        top: 1.5%;
        right: 1.5%;
    }
}

#MemCollect{
    width: 100%;
    margin: 0;
    .title{
        width: 100%;
        background-color: #153A64;
        color: #fff;
        padding: 10px;
        text-align: center;
        letter-spacing: 10px;
    }
    .classify_list{
        margin: 0 auto;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(1,1fr);
        justify-content: flex-end;
        .classify{
            width: 144px;
            height: 50px;
            padding: 1rem 2rem;
            display: block;
            transform: translateY(30px);
            background-color: #fff;
        }
        .travel_classify{
            grid-area: 2/6/3/7;
        }
        .post_classify{
            grid-area: 2/7/3/8;
        }
        .product_classify{
            grid-area: 2/8/3/9;
        }
        .colorpoint{
            background-color: #FFC400;
            color:#fff;
        }
    }
    .CollectList_group{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 5% 0%;
        transform: translateY(20px);
        .card{
            @include memberLikeCards;
        }
    }
}

#class1, #class2, #class3{
    transform: translateY(50px);
    padding-bottom: 30%;
}




// ===========media screen===========

@media screen and (min-width: 1440px) {
    // 請用1366
        // max-width: 1366px

}
@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152
        // max-width: 1152px

}
@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
        // max-width: 960px

        #MemCollect{
            .classify_list{
                justify-content: center;
            }
            .CollectList_group{
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
                gap: 3% 0%;
                .card{
                    width: 250px;
                }
            }
        }

}
@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px

        #MemCollect{
            .classify_list{
                justify-content: center;
            }
            .CollectList_group{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 1% 2%;
                .card{
                    width: 250px;
                }
            }
        }

}
@media screen and (min-width: 576px) and (max-width: 767px){
    // 請用540
        // max-width: 540px

        #MemCollect{
            .classify_list{
                display: flex;
                justify-content: center;
            }
            .CollectList_group{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 1% 2%;
                .card{
                    width: 250px;
                }
            }
        }

}
@media screen and (max-width: 575px){
    #MemCollect{
        .classify_list{
            width: 100%;
            display: flex;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,1fr);
            .classify{
                margin-right: 0px;
            }
            .post_classify{
                grid-area: 2/1/3/2;
            }
            .travel_classify{
                grid-area: 2/2/3/3;
            }
            .product_classify{
                grid-area: 2/3/3/4;
            }
        }
        .post_list,.travel_list,.product_list{
            margin: 0;
            width: 100%;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(6,1fr);
        }
        .CollectList_group{
            gap: 2% 0%;
        }
    }

    #class1, #class2, #class3{
        overflow: auto;
        height: 1200px;
        &::-webkit-scrollbar{
            display: none;
        }
    }

}