
#MemAccreditation{
    width: 100%;
    margin: 0 0 30px 0;
    .title{
        width: 100%;
        background-color: #153A64;
        color: #fff;
        padding: 10px;
        text-align: center;
        letter-spacing: 10px;
    }
    .accreditation_list{
        transform: translateY(30px);
        text-align: center;
        .Acc {
            display: inline-block;
            position: relative;
            width: 400px;
            height: 400px;
            border-radius: 30px;
            overflow:hidden;
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
            margin: 30px;
            .Acc-profile-img {
                height: 70%;
                width: 100%;
            }
            .Acc-description-bk {
                background-image: linear-gradient(0deg , #2C5E9E, #1A95DB);
                border-radius: 30px;
                position: absolute;
                top: 55%;
                left: -5px;
                height: 65%;
                width: 108%;
                transform: skew(19deg, -9deg);
            }
            .Acc-logo {
                height: 80px;
                width: 80px;
                border-radius: 20px;
                background-color: #fff;
                position: absolute;
                bottom: 30%;
                left: 30px;
                overflow:hidden;
                box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
                img {
                    height: 100%;
                }
            }
            .Acc-description {
                position: absolute;
                color: #fff;
                font-weight: 900;
                left: 150px;
                bottom: 26%;
                h2{
                    color: #ffffff;
                    transform: translate(90px, -40px);
                }
            }
            .Acc-btn {
                position: absolute;
                color: #fff;
                right: 30px;
                bottom: 10%;
                padding: 10px 20px;
                transform: translateY(10px);
                a {
                    color: #fff;
                }
            }
            .Acc-date {
                position: absolute;
                color: #fff;
                left: 30px;
                bottom: 10%;
                p{
                    color:#ffffff;
                    transform: translate(-5px, -45px);
                }
            }
        }
        .second .Acc-description-bk {
            background-image: linear-gradient(-20deg, #F18904, #F49F05);
        }
    }
}




// ===========media screen===========

@media screen and (min-width: 1440px) {
    // 請用1366
        // max-width: 1366px

}
@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152
        // max-width: 1152px

}
@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
        // max-width: 960px

}
@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px

}
@media screen and (min-width: 576px) and (max-width: 767px){
    // 請用540
        // max-width: 540px
    #MemAccreditation{
        width: 100%;
        .accreditation_list{
            margin: 0 auto;
            width: 100%;
            height: 100%;
        }
    }
}
@media screen and (max-width: 575px){

    #MemAccreditation{
        .accreditation_list{
            .Acc {
                width: 300px;
                height: 300px;
                .Acc-description{
                    h2{
                        transform: translate(0px, 0px);
                    }
                }
            }
        }
    }

}