
#MemAchievement {
    margin: 0;
    height: 100%;
    .title{
        width: 100%;
        background-color: #153A64;
        color: #fff;
        padding: 10px;
        text-align: center;
        letter-spacing: 10px;
    }
    p{  
        margin: 1%;
    }

    .Achievement_list{
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5,1fr);
        transform: translateY(50px);
        .Ach{
            margin: 0 auto;
            text-align: center;
            margin-bottom: 50px;
            img{
                width: 50%;
                margin: 0;
            }
        }
    }
}

.Ach:hover{
    background-color: #ececec; 
}

.Nohave{
    -webkit-filter: grayscale(100%); /* Safari */
    filter: grayscale(100%);
}




// ===========media screen===========

@media screen and (min-width: 1440px) {
    // 請用1366
        // max-width: 1366px

}
@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152
        // max-width: 1152px

}
@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
        // max-width: 960px

}
@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px
        #MemAchievement{
            p{
            }
            .Achievement_list{
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(5,1fr);
                .Ach{
                    img{
                        width: 80%;
                    }
                }
            }
        }

}
@media screen and (min-width: 576px) and (max-width: 767px){
    // 請用540
        // max-width: 540px

        #MemAchievement{
            p{
                margin: auto 5%;
                margin-bottom: 30px;
            }
            .Achievement_list{
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(8,1fr);
                div{
                    img{
                        width: 80%;
                    }
                }
            }
        }

}
@media screen and (max-width: 575px){
    #MemAchievement{
        p{
            margin: auto 5%;
            margin-bottom: 30px;
        }
        .Achievement_list{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(8,1fr);
            div{
                img{
                    width: 90%;
                }
            }
        }
    }
}