
#MemPost{
    width: 100%;
    margin: 0;
    .title{
        width: 100%;
        background-color: #153A64;
        color: #fff;
        padding: 10px;
        text-align: center;
        letter-spacing: 10px;
    }
    .post_list{
        margin: 0 auto;
        margin-top: 5%;
        width: 100%;
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(7,1fr);
        .page{
            width: 90%;
            height: 175px;
            border: 1px solid black;
            border-radius: 20px;
            margin-bottom: 1%;
            display: grid;
            grid-template-columns: repeat(7,1fr);
            grid-template-rows: repeat(1,1fr);
            .img_box{
                grid-area: 1/1/2/3;
                border-radius: 20px 0 0 20px;
                overflow: hidden;
                img{
                    border-radius: 20px 0 0 20px;
                    height: 100%;
                }
            }
            .text_box{
                grid-area: 1/3/2/8;
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(3,1fr);
                margin: 0 2%;
                .TP{
                    display: flex;
                    align-self: center;
                }
                .text_title{
                    grid-area: 1/1/2/3;
                }
                .text_content{
                    grid-area: 2/1/3/2;
                    overflow: hidden;
                    .content_value{
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        /*!autoprefixer:off*/
                        -webkit-box-orient: vertical;
                        /*autoprefixer:on*/
                    }
                }
                .text_time{
                    grid-area: 3/1/4/2;
                }
                .text_reply{
                    grid-area: 2/2/3/3;
                }
            }
        }
        .pagetab{
            margin: 20px 0;
            text-align: center;
        }
    }
}




// ===========media screen===========

@media screen and (min-width: 1440px) {
    // 請用1366
        // max-width: 1366px

}
@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152
        // max-width: 1152px

}
@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
        // max-width: 960px

}
@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px

}
@media screen and (min-width: 576px) and (max-width: 767px){
    // 請用540
    // max-width: 540px


    #MemPost{
        max-width: 540px;
        .page_info{
            .titlebackground{
                .title{
                }
            }
        }
        .post_list{
            .page{
                height: 100px;
                .img_box{
                    img{
                        height: 100%;
                    }
                }
                .text_box{
                    grid-area: 1/3/2/8;
                    .TP{
                    }
                    .text_title{
                        grid-area: 1/1/2/3;
                    }
                    .text_content{
                        grid-area: 2/1/3/3;
                    }
                    .text_reply{
                        grid-area: 3/1/4/3;
                    }
                }
            }
            .pagetab{
            }
        }
    }
}
@media screen and (max-width: 575px){

    #MemPost{
        .page_info{
            .titlebackground{
                .title{
                }
            }
        }
        .post_list{
            width: 60%;
            display: flow-root;
            .page{
                width: 100%;
                height: 300px;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(7, 1fr);
                margin-bottom: 10%;
                .img_box{
                    grid-area: 1/1/5/7;
                    border-radius: 20px 20px 0 0;
                    img{
                    }
                }
                .text_box{
                    grid-area: 5/1/8/7;
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    .TP{
                    }
                    .text_title{
                        grid-area: 1/1/2/2;
                    }
                    .text_content{
                        grid-area: 2/1/3/2;
                    }
                    .text_reply{
                        grid-area: 3/1/4/2;
                    }
                }
            }
            .pagetab{
            }
        }
    }

}