#MemOrder{
    .memOrder_pc{
        table{
            border-collapse: collapse;
            margin: 50px auto;
            width: 95%;
            text-align: center;
            th{
                border-bottom: 2px solid black;
                color: #2C5E9E;
                padding: 25px 0px;
            }
            td{
                border-bottom: 2px solid black;
                padding: 25px 0px;
            }
        }
        .orderPages{
            text-align: center;
        }
    }
    .memOrder_mob{
        background-color: #FFC400;
        border-radius: 30px;
        padding: 20px;
        display: none;
        table{
            border-collapse: collapse;
            margin: 0 auto;
            th{
                border-bottom: 2px solid white;
                text-align: left;
                padding:10px 30px 5px 5px;
            }
            td{
                border-bottom: 2px solid white;
                text-align: left;
                padding-right: 20px;
            }
    
        }
        p{
            text-align: right;
        }
    }
}


// RWD
@media screen and (max-width: 767px){
    // .memOrder_pc{
    //     display: none;
    // }
    .memOrder_mob{
        display: block;
    }
}