#MemPost{
    margin: 0;
    .post_list{
        margin: 0 auto;
        margin-top: 5%;
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(7,1fr);
        .page{
            width: 100%;
            height: 200px;
            border: 1px solid black;
            margin-bottom: 1%;
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: repeat(1,1fr);
            .img_box{
                grid-area: 1/1/2/2;
                background-color: gray;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .text_box{
                grid-area: 1/2/2/7;
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(3,1fr);
                margin: 0 2%;
                .text_title{
                    grid-area: 1/1/2/2;
                    font-size: 22px;
                    align-self: center;
                }
                .text_content{
                    // width: 45%;
                    grid-area: 2/1/3/2;
                    display: grid;
                    .TP{
                        align-self: center;
                    }
                    .TP_release{
                        display: flex;
                    }
                }
            }
            .post_time{
                grid-area: 1/2/3/4;
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(3,1fr);
                .edit_btn{
                    grid-area: 4/1/5/4;
                }
            }
            .delete_box{
                grid-area: 1/4/3/6;
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(3,1fr);
            }
        }
        .pagetab{
            margin: 20px 0;
            text-align: center;
        }
    }
}




// ===========media screen===========

@media screen and (min-width: 1440px) {
    // 請用1366
        // max-width: 1366px

}
@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152
        // max-width: 1152px

}
@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
        // max-width: 960px

}
@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px

}
@media screen and (min-width: 576px) and (max-width: 767px){
    // 請用540
    // max-width: 540px
}
@media screen and (max-width: 575px){

    #MemPost{
        .post_list{
            overflow: auto;
            &::-webkit-scrollbar{
                display: none;
            }
            height: 1200px;
            .page{
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(1, 1fr);
                .img_box{
                    grid-area: 1/1/2/7;
                    width: auto;
                    height: auto;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .text_box{
                    grid-area: 2/1/3/7;
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    margin: 0 5%;
                    .text_prompt{
                        width: auto;
                        grid-area: 2/1/3/7;
                    }
                }
                .edit_box{
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    margin: 5%;
                    grid-area: 3/4/4/5;
                    align-items: center;
                    text-align: center;
                    .edit_btn{
                        grid-area: 1/1/2/2;
                    }
                }
                .delete_box{
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    margin: 5%;
                    grid-area: 3/5/4/7;
                    align-items: center;
                    .delete_btn{
                        grid-area: 2/1/3/2;
                    }
                }
            }
        }
    }

}