@import 'common';

main{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .top{
        .banner{
            // border: 1px solid red;
            width: 100%;
            height: 350px;
            background-image: url(../images/member/fake/mountain14.jpg);
            background-origin: border-box;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: flex-end;
        }
        .memProfile{
            display: flex;
            justify-content: space-between;
            .memProfile_AVA{
                border: 1px solid black;
                transform: translate(50%, -50%);
                width: 200px;
                height: 200px;
                border-radius: 50%;
                overflow: hidden;
                border: 4px solid #FFC400;
                img{
                    width: 100%;
                }
            }
            .memProfile_DET{
                display: flex;
                flex-direction: column;
                transform: translate(-60%, 0);
                .memProfile_DET_name{
                    display: flex;
                    align-items: center;
                    h2{
                        margin-right: 5px;
                    }
                    svg{
                        color: #FFC400;
                        font-size: 25px;
                     }
                }
                .memProfile_DET_fol{
                    display: flex;
                    align-items: center;
                    p{
                        margin-right: 5px;
                    }
                    img{
                        width: 50px;
                    }
                }
            }
            .memProfile_MOD{
                button.profile{
                    border: 1px solid red;
                    width: 150px;
                    height: 50px;
                    display: flex;
                    background-color: #ffffff;
                    border: 4px solid #ffffff;
                    border-radius: 5px;
                    box-shadow:3px 2px 3px 2px #cccccc;
                    justify-content: center;
                    align-items: center;
                   .profile_icon{
                        width: 20px;
                        margin: 0 auto;
                        background-color: #ffffff;
                        img{
                            width: 100%;
                        }
                   }
                   .modify{
                        text-align: center;
                        padding: 5px;
                        font-weight: 800;
                        border-radius: 0 5px 5px 0;
                        color: #ffffff;
                        background-color: #1A95DB;
                        grid-area: 1/2/2/6;
                    }
                }
            }
        }
    }
    .nav_list{
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 9999;
        margin-top: -80px;
        .X_btn{
            align-self: flex-end;
            display: none;
        }
        .nav_btn_outside{
            display: flex;
            flex-wrap: wrap;
            align-self: center;
            justify-content: center;
            margin-right: -65px;
            .nav_button{
                background-color: #2C5E9E;
                color:white;
                width: 60px;
                height: 80px;
                border-radius: 10px;
                margin:5px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg{
                    font-size: 30px;
                }
            }
            .btn_modify{
                visibility: hidden;;
            }
        }   
    }
    .nav_mob{
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 9999;
        background-color:#FFC400;
        width: 80px;
        height: 80px;
        border-radius: 100px 0 0;
        display: none;
        svg{
            position: absolute;
            bottom: 12px;
            right: 15px;
        }
    }



    .C_info{
        background-color: #f6f6f6;
        width: 100%;
        padding-bottom: 5%;
    }
}

//==============================RWD==============================//

@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
        // max-width: 960px
    main{
       max-width: 960px;
        .top{
            .memProfile{
                .memProfile_DET{
                    transform: translate(-20%, 0);
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px
    main{
        max-width: 720px;
        .top{
            .memProfile{
                .memProfile_DET{
                    transform: translate(30%, 0);
                }
            }
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    // 請用540
        // max-width: 540px
    main{
        max-width: 540px;
        .top{
            .memProfile{
                .memProfile_AVA{
                    width: 150px;
                    height: 150px;
                }
                .memProfile_DET{
                    transform: translate(-50%, 0);
                    .memProfile_DET_fol{
                        img{
                            width: 30px;
                        }
                    }
                }
                .memProfile_MOD{
                    display: none;
                }
            }
        }
        .nav_list{
            border: 3px solid #FFC400;
            background-color: rgba(0,0,0,.3);
            flex-wrap: wrap;
            position: fixed;
            top: 35%;
            left: 0;
            padding: 10px;
            border-radius: 30px;
            .X_btn{
                display: block;
            }
            .nav_btn_outside{
                width: 60%;
                margin-bottom: 10px;
                margin-right: 0;
                .nav_button{
                    width: 80px;
                    height: 100px;
                    svg{
                        font-size: 40px;
                    }
                }
                .btn_modify{
                    visibility:visible;
                }
            }
        }
        .nav_mob{
            display: block;
        }
    }
}
@media screen and (max-width: 575px){
    main{
        max-width: 100%;
        .top{
            .memProfile{
                .memProfile_AVA{
                    width: 150px;
                    height: 150px;
                    transform: translate(73%, -50%);
                }
                .memProfile_DET{
                    transform: translate(-43%, 47%);
                    .memProfile_DET_fol{
                        img{
                            width: 30px;
                        }
                    }
                }
                .memProfile_MOD{
                    display: none;
                }
            }
        }
        .nav_list{
            border: 3px solid #FFC400;
            background-color: rgba(0,0,0,.3);
            flex-wrap: wrap;
            position: fixed;
            top: 35%;
            left: 0;
            padding: 10px;
            border-radius: 30px;
            .X_btn{
                display: block;
            }
            .nav_btn_outside{
                width: 80%;
                margin-bottom: 10px;
                margin-right: 0;
                .nav_button{
                    width: 80px;
                    height: 100px;
                    svg{
                        font-size: 40px;
                    }
                }
                .btn_modify{
                    visibility:visible;
                }
            }
        }
        .nav_mob{
            display: block;
        }
    }
}