@import 'common';

main{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .top{
        .banner{
            // border: 1px solid red;
            width: 100%;
            height: 350px;
            // background-image: url(../images/member/fake/mountain14.jpg);
            // background-origin: border-box;
            // background-position: center;
            // background-size: cover;
            // background-repeat: no-repeat;
            display: flex;
            align-items: flex-end;
            img{
                width: 100%;
            }
        }
        .memProfile{
            // border:1px solid red;
            position: relative;
            height: 80px;
            .memProfile_AVA{
                position: absolute;
                bottom: -20px;
                left: 100px;
                .memProfile_AVA_img{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    border: 4px solid #FFC400;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    img{
                        width: 100%;
                    }
                }
                .memProfile_AVA_change{
                    // border:1px solid red;
                    background: rgba(0, 0, 0, .25);
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    cursor: pointer;
                    justify-self: center;
                    align-self: flex-end;
                    position: absolute;
                    right: 10px;
                    bottom: 0px;
                    label.camera_i{
                        position: relative;
                        &:before{
                            position: absolute;
                            top: 38%;
                            left: 22%;
                            font-family: "Font Awesome 5 Free"; 
                            font-weight: 900; 
                            content: "\f030";
                            font-size: 30px;
                        }
                        input{
                            width: 100%;
                            opacity: 0;
                        }
                    }
                }
                    
            }
            .memProfile_DET{
                position: absolute;
                left: 330px;
                top: 12px;
                .member_styleA{
                    .memberInfo{
                        .certification{
                            .certificationIcon{
                                width: 25px;
                                height: 25px;
                            }
                        }
                        .memberId{
                            font-size: 30px;
                        }
                    }
                }
            }
            .memProfile_MOD{
                position: absolute;
                top: 0;
                right: 0;
                button.profile{
                    border: 1px solid red;
                    width: 150px;
                    height: 50px;
                    display: flex;
                    background-color: #ffffff;
                    border: 4px solid #ffffff;
                    border-radius: 5px;
                    box-shadow:3px 2px 3px 2px #cccccc;
                    justify-content: center;
                    align-items: center;
                   .profile_icon{
                        width: 20px;
                        margin: 0 auto;
                        background-color: #ffffff;
                        img{
                            width: 100%;
                        }
                   }
                   .modify{
                        text-align: center;
                        padding: 5px;
                        font-weight: 800;
                        border-radius: 0 5px 5px 0;
                        color: #ffffff;
                        background-color: #1A95DB;
                        grid-area: 1/2/2/6;
                    }
                }
            }
        }
    }
    .nav_list{
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 9999;
        .X_btn{
            display: flex;
            justify-content: flex-end;
            visibility: hidden;
        }
        .nav_btn_outside{
            display: flex;
            flex-wrap: wrap;
            align-self: center;
            justify-content: center;
            margin-right: -65px;
            z-index: 2;
            .nav_button{
                background-color: #2C5E9E;
                color:white;
                width: 60px;
                height: 80px;
                border-radius: 10px;
                margin:5px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg{
                    font-size: 30px;
                    path{
                        color: #ffffff;
                    }
                }
                p{
                    color: #ffffff;
                }
            }
            .btn_modify{
                visibility: hidden;
            }
        }   
    }
    .nav_mob{
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 9999;
        background-color:#FFC400;
        width: 80px;
        height: 80px;
        border-radius: 100px 0 0;
        display: none;
        svg{
            position: absolute;
            bottom: 12px;
            right: 15px;
        }
    }



    .C_info{
        background-color: #f6f6f6;
        width: 100%;
        padding-bottom: 5%;
        margin: 50px auto;
    }
}

.highlight{
    path { color: $mt_yellow !important; }
    p{ color: $mt_yellow !important; }
}

a.member div.memicon .membg { background-image: url("../images/icons/icon_member_h.svg") !important;}

//==============================RWD==============================//
@media screen and (min-width: 1440px) {
    // 請用1366
        // max-width: 1366px;
    main{
        max-width: 1200px;
        .nav_list{
            display: flex !important;
        }
    }
}
@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152
        // max-width: 1152px;
    main{
        max-width: 1200px;
        .nav_list{
            display: flex !important;
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
        // max-width: 960px
    main{
       max-width: 960px;
        .nav_list{
            display: flex !important;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px
    main{
        max-width: 720px;
        .top{
            .memProfile{
                .memProfile_DET_fol{
                    img{
                        width: 40px;
                    }
                }

            }
        }
        .nav_list{
            display: flex !important;
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    // 請用540
        // max-width: 540px
    main{
        max-width: 540px;
        .top{
            .banner{
                height: auto;
            }
            .memProfile{
                margin-bottom: 60px;
                .memProfile_AVA{
                    bottom: 5px;
                    left: 75px;
                    .memProfile_AVA_img{
                        width: 180px;
                        height: 180px;
                    }
                }
                .memProfile_DET{
                    left: 300px;
                    .memProfile_DET_fol{
                        img{
                            width: 30px;
                        }
                    }
                }
                .memProfile_MOD{
                    display: none;
                }
            }
        }
        .nav_list{
            border: 3px solid #FFC400;
            background-color: rgba(0,0,0,.3);
            flex-wrap: wrap;
            position: fixed;
            top: 35%;
            left: 0;
            padding: 10px;
            border-radius: 30px;
            display: none;
            .X_btn{
                visibility: visible;
            }
            .nav_btn_outside{
                width: 60%;
                margin: 0 auto;
                .nav_button{
                    width: 80px;
                    height: 100px;
                    svg{
                        font-size: 40px;
                    }
                }
                .btn_modify{
                    visibility:visible;
                }
            }
        }
        .nav_mob{
            display: block;
        }
        .C_info{
            margin: 0 auto;
        }
    }
}
@media screen and (min-width: 415px) and (max-width: 576px){
    main{
        max-width: 100%;
        .top{
            .banner{
                height: auto;
            }
            .memProfile{
                margin-bottom: 90px;
                .memProfile_AVA{
                    position: absolute;
                    bottom: -1px;
                    left: 33%;
                    .memProfile_AVA_img{
                        width: 180px;
                        height: 180px;
                    }
                }
                .memProfile_DET{
                    position: absolute;
                    left: 34%;
                    top: 85px;
                    .memProfile_DET_fol{
                        img{
                            width: 30px;
                        }
                    }
                }
                .memProfile_MOD{
                    display: none;
                }
            }
        }
        .nav_list{
            border: 3px solid #FFC400;
            background-color: rgba(0,0,0,.3);
            flex-wrap: wrap;
            position: fixed;
            top: 35%;
            left: 0;
            padding: 10px;
            border-radius: 30px;
            display: none;
            .X_btn{
                visibility: visible;
            }
            .nav_btn_outside{
                margin: 0 auto;
                width: 80%;
                .nav_button{
                    width: 80px;
                    height: 100px;
                    svg{
                        font-size: 40px;
                    }
                }
                .btn_modify{
                    visibility:visible;
                }
            }
        }
        .nav_mob{
            display: block;
        }
        .C_info{
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 414px){
    main{
        max-width: 100%;
        .top{
            .banner{
                height: auto;
            }
            .memProfile{
                margin-bottom: 90px;
                .memProfile_AVA{
                    position: absolute;
                    bottom: -1px;
                    left: 27%;
                    .memProfile_AVA_img{
                        width: 180px;
                        height: 180px;
                    }
                }
                .memProfile_DET{
                    position: absolute;
                    left: 27%;
                    top: 85px;
                    .memProfile_DET_fol{
                        img{
                            width: 30px;
                        }
                    }
                }
                .memProfile_MOD{
                    display: none;
                }
            }
        }
        .nav_list{
            border: 3px solid #FFC400;
            background-color: rgba(0,0,0,.3);
            flex-wrap: wrap;
            position: fixed;
            top: 35%;
            left: 0;
            padding: 10px;
            border-radius: 30px;
            display: none;
            .X_btn{
                visibility: visible;
            }
            .nav_btn_outside{
                margin: 0 auto;
                width: 80%;
                .nav_button{
                    width: 80px;
                    height: 100px;
                    svg{
                        font-size: 40px;
                    }
                }
                .btn_modify{
                    visibility:visible;
                }
            }
        }
        .nav_mob{
            display: block;
        }
        .C_info{
            margin: 0 auto;
        }
    }
}