@import 'common';
@import 'BackstageMain';
@import 'BackstageHeader';

#BackstageNav {       
    & .product {
        & .title {
            color: #1A95DB !important;
            font-size: 20px;
            height: 50px;
        }
    }
}
div{
    .product_total{
        display: flex;
        height: 10vh;
        align-items: center;
        h4{
            margin: 10px;
            color: $mt_blue3;
        }
        span{
        margin: 10px 0;
        color:$mt_blue2 ;
        padding: 0 14px;
        height: 40px;
        display: flex;
        align-items: center;
        line-height: 40px;
        &:nth-child(2){
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border: $mt_blue2 2px solid;
        }
        &:nth-child(3){
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top: $mt_blue2 2px solid;
            border-bottom: $mt_blue2 2px solid;
            border-right: $mt_blue2 2px solid;
        }
        &:hover{
            background-color: $mt_blue2;
            color: white;
        }
        a{
            width: 100%;
            height: 100%;
        }
        }
        .btnB_L_yellow_2{
            margin-left: 10px;
            position: relative;
            z-index: 2;
            width: 80px;
            height: 35px;
            outline: 0px !important;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border: 4px solid #ff7372;
                border-radius: 15px;
            }
            & p {
                z-index: 1;
                color: white;
                transition: 0.3s2all ease-in-out;
            }
            & div.bg2{
                z-index: -1;
                position: absolute;
                top: -20px;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 15px;
                background-color: #ff7372;
                overflow: hidden;
                &::after {
                    content: "";
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 130%;
                    height: 100%;
                    background-color: white;
                    transform: skewX(15deg);
                    transition: 0.2s all ease-in-out;
                }
            }
            &:hover p{
                color: #ff7372;
            }
            &:hover div.bg2::after{
                left: 0%;
            } 
        }
    }
    table{
        width: 100%;
        margin: 20px auto;
        text-align: center;
        tr{
            &:nth-child(1){
                border-bottom: 2px $mt_black solid;
            }
        }
        th,td{
            padding: 3px 0;
            vertical-align: middle;
            &:nth-child(even){
                background-color: rgb(230, 230, 230);
            }
            margin: 5px auto;
            cursor: pointer;

            input{
                outline: none;
                border-radius: 8px;
                border: solid 1px #9999;
                padding: 5px 5px;
            }
        }
        img{
            width: 90%;
            &:hover{
                transform: scale(2);
            }
        }
        .editproduct{
            border-style: none;
            align-items: center;
            margin: 0 auto;
            width: 95px;
            height: 45px;
            outline: 0px !important;
            border-radius: 15px;
            justify-content: center;
            background-color:$mt_yellow;
            cursor: pointer;
            color: #fff;
            &:hover{
                background-color:$mt_blue2;
            }
        }
    }
}
.pagebtn{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#newwProduct{
    // border: crimson 1px solid;
    display: flex;
    
    .block{
        width: 450px;
        margin: 0px 50px 70px;
    }
    .left{
        input{
            outline: none;
            border-radius: 8px;
            border: solid 1px #9999;
            padding: 2px 5px;
        }
        select{
            width: 180px;
            outline: none;
            border-radius: 8px;
            border: solid 1px #9999;
            padding: 2px 5px;
        }
        .degree_category{
            margin-left:15px;
            margin-right:5px;
        }
        #product_description{
            outline: none;
            border-radius: 8px;
            border: solid 1px #9999;
            padding: 2px 5px;
            vertical-align: top;
        }
    }
    .right{
        .productUploadImage{
            width: 100%;
            display: flex;
            margin: 0;
            #productImg1,#productImg2,#productImg3{
                border-radius: 12px;
                border: solid 1px #9999;
                width: 95px;
                height: 80px;
                margin: 0;
                cursor: pointer;
            }
        }
        label{
            display: flex;
            align-items: center; 
        img{ 
            width: 30px;
            margin-left: 10px;
            cursor: pointer;
        }
        }
        .itembox{
            display: flex;
            .product_situation{
                margin-left:15px;
                margin-right:5px;
            }
        }
    }
}
#newProductBtnSend{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 95px;
    height: 45px;
    outline: 0px !important;
    border-radius: 15px;
    justify-content: center;
    background-color: #ff7372;
    cursor: pointer;
    color: #fff;
    &:hover{
        background-color: #203aad;
    }
}