$background:#eaf1f4;
$labelbackground:#ffc400;
$login:#2c5e9e;
$background2:#ff7372;
$mt_blue2: #2C5E9E;         //header,footer,button,裝飾文字半透明.6(ex:揪團詳細頁沒人報名時的文字)

body{
    height: 100vh;
    background-color:$background !important;
    overflow: hidden;
}
div{
    position:absolute; 
    top:25%; 
    left: 30%;
    width: 500px;
    text-align: center;
    margin: auto;
    form{
        text-align: center;
        img{
            width: 50%;
            margin: 10px auto;
            display: flex;
        }
        span{
            position:absolute; 
            top:100px; 
            right: 130px;
            color: white;
            background-color: $background2;
            font-size: 10px;
            text-align: right;  
        }
        label{
            background: $labelbackground;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding: 5px 10px;
        }
        input{
            padding: 5px;
            margin: 10px 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background: #fff;
            border-style: none;
            outline: none;
        }
        .btnB_L_blue{
            position: relative;
            z-index: 2;
            width: 95px;
            height: 45px;
            outline: 0px !important;
            margin: 15px;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border: 4px solid $mt_blue2;
                border-radius: 15px;
            }
            p{
                line-height: 40px;
                z-index: 1;
                color: white;
                transition: 0.3s all ease-in-out;
            }
            & div.bg{
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 15px;
                background-color: $mt_blue2;
                overflow: hidden;
                &::after {
                    content: "";
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 130%;
                    height: 100%;
                    // border-radius: 15px;
                    background-color: white;
                    transform: skewX(15deg);
                    transition: 0.2s all ease-in-out;
                }
            }
            &:hover p{
                color: $mt_blue2;
            }
            &:hover div.bg::after{
                left: 0%;
            }
        }
    width: 100%;
    }
}
