@import 'common'; 

header#BackstageHeader{
    height: 70px;
    width: 100%;
    background-color: $mt_blue2;
    border-bottom: 5px solid $mt_blue1;
    & div#headerbox{
        height: 100%;
        width: 1152px;
        border: 2px solid red;
        margin: 0 auto;
        & div#inforbox {
            height: 100%;
            width: 200px;
            border: 2px solid yellow;
            float: right;
            & div#avatorbox{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                & img {
                    height: 100%;
                }
            }
        }
    }
}



nav#BackstageNav {
    width: 120px;
    *{
        text-align: center;
        user-select: none;
    }
    & ul {
        padding: 25px 0px;
        height: 80px;
        position: relative;
        background-color: $mt_blue2;
        transition: 0.2s all ease-in-out;
        &.index {
            border-radius: 0px 10px 0px 0px;
        }
        &.administer {
            border-radius: 0px 0px 10px 0px;
        }
        & p.title {
            color: white;
            font-size: 20px;
            height: 50px;
        }
        & a {
            padding: 25px 0px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            text-decoration: none !important;
        }
        & li {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0%;
            visibility: hidden;
            width: 120px;
            height: 80px;
            &.navli a{
                padding: 15px 20px 20px 20px;
                background-color: $mt_blue2;
                transition: 0.2s background-color ease-in-out;
                &:hover {
                    background-color: $mt_yellow;
                }
                & p {
                    color: white;
                }
                & div.note{
                    position: absolute;
                    width: 100% !important;
                    left: 0;
                    bottom: 0;
                    background-color: $mt_blue4;
                    & p{
                        color: $mt_pink;
                    }
                }
            }
            &.tour{
                margin-left: 120px;
            }
            &.forum{
                margin-left: 240px;
            }
            &.comment{
                margin-left: 360px;
                border-radius: 0px 10px 10px 0px;
                overflow: hidden;
            }
            &.realname{
                margin-left: 120px;
            }
            &.guide{
                margin-left: 240px;
                border-radius: 0px 10px 10px 0px;
                overflow: hidden;
            }
        }
        &.index:hover ,
        &.product:hover ,
        &.administer:hover{
            background-color: $mt_yellow;
        }
        &.report:hover li.navli,
        &.verify:hover li.navli {
            visibility: visible;
        }
    }
    & .ulat p.title,
    & .liat p.desc{ 
        color: $mt_blue1 !important;
    }
}