@import 'common';

$background:#eaf1f4;
$labelbackground:#ffc400;
$login:#2c5e9e;
$background2:#ff7372;
$mt_blue2: #2C5E9E;         //header,footer,button,裝飾文字半透明.6(ex:揪團詳細頁沒人報名時的文字)

body{
    height: 100vh;
    background-color:$background !important;
    overflow: hidden;
    main{
        position: relative;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 500px;
        text-align: center;
        margin: 0 auto;
        form{
            text-align: center;
            img{
                width: 50%;
                margin: 10px auto;
                display: flex;
            }
            span{
                position:absolute; 
                top:100px; 
                right: 130px;
                color: white;
                background-color: $background2;
                font-size: 10px;
                text-align: right;  
            }
            label{
                background: $labelbackground;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                padding: 5px 10px;
            }
            input{
                padding: 5px;
                margin: 10px 0;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background: #fff;
                border-style: none;
                outline: none;
            }
        width: 100%;
        }
    }
}