// ===============reset===============
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details , embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-family: inherit;
  margin: 0;
  padding: 0; 
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;  
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  
  &:visited {
    color: currentColor;
  }
}
// ===============var===============
$mt_black: #222222;         //最黑的顏色，請替代black，不要用在文字上
$mt_fontdark: #555555;      //深色字，淺色背景使用
$mt_fontspan: #999999;      //span使用字體色彩
$mt_fontlight: #ffffff;     //淺色字，深色背景使用
$mt_grey1: #F3F3F3;         //
$mt_grey2: #EAF1F4;         //取消按鈕,各種框的底色(ex:input,textarea,有框起來會員.....) 
$mt_blue1: #1A95DB;         // 
$mt_blue2: #2C5E9E;         //header,footer,button,裝飾文字半透明.6(ex:揪團詳細頁沒人報名時的文字)
$mt_blue3: #115277;
$mt_blue4: #153A64;
$mt_yellow: #FFC400;        //button,文字裝飾底色
$mt_orange: #DB931A;
$mt_pink: #FF7372;          //收藏愛心
$mt_green: #437F38;         //山的難易度icon,沒有的時候半透明.2

// ================mixin==============
@mixin ab_center {
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
// ==============fonts==============
* {
    font-family: 'Noto Sans TC' !important;
    color: $mt_fontdark;
}
// ============font style============
.text_underline{  //文字裝飾黃色底線
    display: table;
    position: relative;
    &::after{
        content:"";
        width: 100%;
        padding-top: 5px;
        border-radius: 10px;
        background-color: $mt_yellow;
        position: absolute;
        left:0; bottom: 0;
    }
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 1.6;
    font-weight: 800;
    @media screen and (max-width: 1439px){
        font-size: 18px;
    }
}
p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px;
    @media screen and (max-width: 1439px){
        font-size: 14px;
    }
}
span {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.4px;
    color: $mt_fontspan;
    @media screen and (max-width: 1439px){
        font-size: 12px;
    }
}



header nav p {
    font-size: 20px !important;
    font-weight: 600 !important;
}
// ===============css===============
html , body {
    padding: 0;
    margin: 0;
    position: relative; 
}
* {
    box-sizing: border-box; 
} 

// ============components============



// ===============media===============
@media screen and (min-width: 1440px) {
    // 請用1366
        // max-width: 1366px;
      }
@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152
        // max-width: 1152px;
      }
@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
        // max-width: 960px;
      }
@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px;
      }
@media screen and (min-width: 576px) and (max-width: 767px){
  // 請用540
      // max-width: 540px;
}
@media screen and (max-width: 575px){
    // 請用100%
        // max-width: 100%;
      }



// ==============button==============
button.btnA_XLwRA{
    position: relative;
    z-index: 2;
    width: 190px;
    height: 45px;
    border: 2px solid $mt_fontdark;
    background-color: $mt_yellow;
    outline: 0px !important;
    transition: 0.2s all ease-in-out;
    border-radius: 10px 10px 6px 10px;
    &::after{
        z-index: 1;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-right: 2px solid $mt_fontdark;
        border-bottom: 2px solid $mt_fontdark;
        border-bottom-right-radius: 10px;
        left: 8px;
        top: 8px;
        transition: 0.2s all ease-in-out;
    }
    & p {
        position: absolute;
        top: 7px;
        left: 20px;
        transition: 0.2s all ease-in-out;
        color: $mt_fontdark;
    }
    & div.btnArrowXL{
        position: absolute;
        left: 150px;
        top: 13px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 0 0 9px;
        transition: 0.2s all ease-in-out;
        border-color: transparent transparent transparent $mt_fontdark;
        // overflow: hidden;
        &::before{
            position: absolute;
            content: "";
            left: -11px;
            top: -8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 0 0 9px;
            transition: 0.2s all ease-in-out;
            border-color: transparent transparent transparent $mt_yellow;
        }
        &::after{
            position: absolute;
            content: "";
            width: 40px;
            height: 2px;
            left: -40px;
            transition: 0.2s all ease-in-out;
            background-color: $mt_fontdark;
        }
    }  
    &:hover::after{
        z-index: -1;
        position: absolute;
        content: "";
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        background-color: $mt_yellow;
        border-right: 0px;
        border-bottom: 0px;
        border-radius: 10px;
        left: 0px;
        top: 0px;
        transition: 0.2s all ease-in-out;
    }
    &:hover p{
        color: white;
        transform: translate(5px,5px);
    }
    &:hover{
        border: 0px solid $mt_yellow;
        background-color: $mt_yellow;
    }
    &:hover div{
        transform: translate(5px,5px);
        border-color: transparent transparent transparent white;
    }
    &:hover div::before{
        // transform: translate(4px,4px);
        border-color: transparent transparent transparent $mt_yellow;
    }
    &:hover div::after{
        // transform: translate(4px,4px);
        background-color: white;
    }
}


button.btnA_XLwLA{
    position: relative;
    z-index: 2;
    width: 190px;
    height: 45px;
    border: 2px solid $mt_fontdark;
    background-color: $mt_yellow;
    outline: 0px !important;
    transition: 0.2s all ease-in-out;
    border-radius: 10px 10px 6px 10px;
    &::after{
        z-index: 1;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-right: 2px solid $mt_fontdark;
        border-bottom: 2px solid $mt_fontdark;
        border-bottom-right-radius: 10px;
        left: 8px;
        top: 8px;
        transition: 0.2s all ease-in-out;
    }
    & p {
        position: absolute;
        top: 7px;
        left: 95px;
        transition: 0.2s all ease-in-out;
        color: $mt_fontdark;
    }
    & div.btnArrowXL{
        position: absolute;
        left: 21px;
        top: 13px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 9px 9px;
        transition: 0.2s all ease-in-out;
        border-color: transparent transparent $mt_fontdark transparent;
        // overflow: hidden;
        &::before{
            position: absolute;
            content: "";
            left: -6px;
            top: 0px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 9px 9px;
            transition: 0.2s all ease-in-out;
            border-color: transparent transparent $mt_yellow transparent;
        }
        &::after{
            position: absolute;
            content: "";
            width: 40px;
            height: 2px;
            left: -9px;
            top: 9px;
            transition: 0.2s all ease-in-out;
            background-color: $mt_fontdark;
        }
    }  
    &:hover::after{
        z-index: -1;
        position: absolute;
        content: "";
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        background-color: $mt_yellow;
        border-right: 0px;
        border-bottom: 0px;
        border-radius: 10px;
        left: 0px;
        top: 0px;
        transition: 0.2s all ease-in-out;
    }
    &:hover p{
        color: white;
        transform: translate(5px,5px);
    }
    &:hover{
        border: 0px solid $mt_yellow;
        background-color: $mt_yellow;
    }
    &:hover div{
        transform: translate(5px,5px);
        border-color: transparent transparent white transparent;
    }
    &:hover div::before{
        // transform: translate(4px,4px);
        border-color: transparent transparent $mt_yellow transparent;
    }
    &:hover div::after{
        // transform: translate(4px,4px);
        background-color: white;
    }
}

button.btnA_LwRA{
    position: relative;
    z-index: 2;
    width: 95px;
    height: 45px;
    border: 2px solid $mt_fontdark;
    background-color: $mt_yellow;
    outline: 0px !important;
    transition: 0.2s all ease-in-out;
    border-radius: 10px 10px 6px 10px;
    &::after{
        z-index: 1;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-right: 2px solid $mt_fontdark;
        border-bottom: 2px solid $mt_fontdark;
        border-bottom-right-radius: 10px;
        left: 8px;
        top: 8px;
        transition: 0.2s all ease-in-out;
    }
    & p {
        position: absolute;
        top: 7px;
        left: 3px;
        transition: 0.2s all ease-in-out;
        color: $mt_fontdark;
    }
    & div.btnArrowL{
        position: absolute;
        left: 77px;
        top: 13px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 0 0 9px;
        transition: 0.2s all ease-in-out;
        border-color: transparent transparent transparent $mt_fontdark;
        // overflow: hidden;
        &::before{
            position: absolute;
            content: "";
            left: -11px;
            top: -8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 0 0 9px;
            transition: 0.2s all ease-in-out;
            border-color: transparent transparent transparent $mt_yellow;
        }
        &::after{
            position: absolute;
            content: "";
            width: 22px;
            height: 2px;
            left: -22px;
            transition: 0.2s all ease-in-out;
            background-color: $mt_fontdark;
        }
    }  
    &:hover::after{
        z-index: -1;
        position: absolute;
        content: "";
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        background-color: $mt_yellow;
        border-right: 0px;
        border-bottom: 0px;
        border-radius: 10px;
        left: 0px;
        top: 0px;
        transition: 0.2s all ease-in-out;
    }
    &:hover p{
        color: white;
        transform: translate(5px,5px);
    }
    &:hover{
        border: 0px solid $mt_yellow;
        background-color: $mt_yellow;
    }
    &:hover div{
        transform: translate(5px,5px);
        border-color: transparent transparent transparent white;
    }
    &:hover div::before{
        // transform: translate(4px,4px);
        border-color: transparent transparent transparent $mt_yellow;
    }
    &:hover div::after{
        // transform: translate(4px,4px);
        background-color: white;
    }
}
button.btnA_LwLA{
    position: relative;
    z-index: 2;
    width: 95px;
    height: 45px;
    border: 2px solid $mt_fontdark;
    background-color: $mt_yellow;
    outline: 0px !important;
    transition: 0.2s all ease-in-out;
    border-radius: 10px 10px 6px 10px;
    &::after{
        z-index: 1;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-right: 2px solid $mt_fontdark;
        border-bottom: 2px solid $mt_fontdark;
        border-bottom-right-radius: 10px;
        left: 8px;
        top: 8px;
        transition: 0.2s all ease-in-out;
    }
    & p {
        position: absolute;
        top: 7px;
        left: 33px;
        transition: 0.2s all ease-in-out;
        color: $mt_fontdark;
    }
    & div.btnArrowL{
        position: absolute;
        left: 4px;
        top: 13px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 9px 9px;
        transition: 0.2s all ease-in-out;
        border-color: transparent transparent $mt_fontdark transparent;
        // overflow: hidden;
        &::before{
            position: absolute;
            content: "";
            left: -5.5px;
            top: -1px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 9px 9px;
            transition: 0.2s all ease-in-out;
            border-color: transparent transparent $mt_yellow transparent;
        }
        &::after{
            position: absolute;
            content: "";
            width: 22px;
            height: 2px;
            left: -8.5px;
            top: 8px;
            transition: 0.2s all ease-in-out;
            background-color: $mt_fontdark;
        }
    }  
    &:hover::after{
        z-index: -1;
        position: absolute;
        content: "";
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        background-color: $mt_yellow;
        border-right: 0px;
        border-bottom: 0px;
        border-radius: 10px;
        left: 0px;
        top: 0px;
        transition: 0.2s all ease-in-out;
    }
    &:hover p{
        color: white;
        transform: translate(5px,5px);
    }
    &:hover{
        border: 0px solid $mt_yellow;
        background-color: $mt_yellow;
    }
    &:hover div{
        transform: translate(5px,5px);
        border-color: transparent transparent white transparent ;
    }
    &:hover div::before{
        // transform: translate(4px,4px);
        border-color: transparent transparent $mt_yellow transparent;
    }
    &:hover div::after{
        // transform: translate(4px,4px);
        background-color: white;
    }
}

button.btnA_L{
    position: relative;
    z-index: 2;
    width: 95px;
    height: 45px;
    border: 2px solid $mt_fontdark;
    background-color: $mt_yellow;
    outline: 0px !important;
    transition: 0.2s all ease-in-out;
    border-radius: 10px 10px 6px 10px;
    &::after{
        z-index: 1;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-right: 2px solid $mt_fontdark;
        border-bottom: 2px solid $mt_fontdark;
        border-bottom-right-radius: 10px;
        left: 8px;
        top: 8px;
        transition: 0.2s all ease-in-out;
    }
    & p {
        position: absolute;
        top: 7px;
        left: 7px;
        transition: 0.2s all ease-in-out;
        color: $mt_fontdark;
    }
    &:hover::after{
        z-index: -1;
        position: absolute;
        content: "";
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        background-color: $mt_yellow;
        border-right: 0px;
        border-bottom: 0px;
        border-radius: 10px;
        left: 0px;
        top: 0px;
        transition: 0.2s all ease-in-out;
    }
    &:hover p{
        color: white;
        transform: translate(5px,5px);
    }
    &:hover{
        border: 0px solid $mt_yellow;
        background-color: $mt_yellow;
    }
} 

button.btnA_MwRA{
    position: relative;
    z-index: 2;
    width: 45px;
    height: 45px;
    border: 2px solid $mt_fontdark;
    background-color: $mt_yellow;
    outline: 0px !important;
    transition: 0.2s all ease-in-out;
    border-radius: 10px 10px 6px 10px;
    &::after{
        z-index: 1;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-right: 2px solid $mt_fontdark;
        border-bottom: 2px solid $mt_fontdark;
        border-bottom-right-radius: 10px;
        left: 8px;
        top: 8px;
        transition: 0.2s all ease-in-out;
    }
    & div.btnArrowM{
        position: absolute;
        left: 24px;
        top: 13px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 0 0 9px;
        transition: 0.2s all ease-in-out;
        border-color: transparent transparent transparent $mt_fontdark;
        // overflow: hidden;
        &::before{
            position: absolute;
            content: "";
            left: -11px;
            top: -8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 0 0 9px;
            transition: 0.2s all ease-in-out;
            border-color: transparent transparent transparent $mt_yellow;
        }
        &::after{
            position: absolute;
            content: "";
            width: 22px;
            height: 2px;
            left: -22px;
            transition: 0.2s all ease-in-out;
            background-color: $mt_fontdark;
        }
    }  
    &:hover::after{
        z-index: -1;
        position: absolute;
        content: "";
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        background-color: $mt_yellow;
        border-right: 0px;
        border-bottom: 0px;
        border-radius: 10px;
        left: 0px;
        top: 0px;
        transition: 0.2s all ease-in-out;
    }
    &:hover{
        border: 0px solid $mt_yellow;
        background-color: $mt_yellow;
    }
    &:hover div{
        transform: translate(5px,5px);
        border-color: transparent transparent transparent white;
    }
    &:hover div::before{
        // transform: translate(4px,4px);
        border-color: transparent transparent transparent $mt_yellow;
    }
    &:hover div::after{
        // transform: translate(4px,4px);
        background-color: white;
    }
}


button.btnA_MwLA{
    position: relative;
    z-index: 2;
    width: 45px;
    height: 45px;
    border: 2px solid $mt_fontdark;
    background-color: $mt_yellow;
    outline: 0px !important;
    transition: 0.2s all ease-in-out;
    border-radius: 10px 10px 6px 10px;
    &::after{
        z-index: 1;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-right: 2px solid $mt_fontdark;
        border-bottom: 2px solid $mt_fontdark;
        border-bottom-right-radius: 10px;
        left: 8px;
        top: 8px;
        transition: 0.2s all ease-in-out;
    }
    & div.btnArrowM{
        position: absolute;
        left: 8px;
        top: 13px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 9px 9px;
        transition: 0.2s all ease-in-out;
        border-color: transparent transparent $mt_fontdark transparent ;
        // overflow: hidden;
        &::before{
            position: absolute;
            content: "";
            left: -6px;
            top: 0px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 9px 9px;
            transition: 0.2s all ease-in-out;
            border-color: transparent transparent $mt_yellow transparent ;
        }
        &::after{
            position: absolute;
            content: "";
            width: 22px;
            height: 2px;
            left: -8.5px;
            top: 8px;
            transition: 0.2s all ease-in-out;
            background-color: $mt_fontdark;
        }
    }  
    &:hover::after{
        z-index: -1;
        position: absolute;
        content: "";
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        background-color: $mt_yellow;
        border-right: 0px;
        border-bottom: 0px;
        border-radius: 10px;
        left: 0px;
        top: 0px;
        transition: 0.2s all ease-in-out;
    }
    &:hover{
        border: 0px solid $mt_yellow;
        background-color: $mt_yellow;
    }
    &:hover div{
        transform: translate(5px,5px);
        border-color: transparent transparent white transparent;
    }
    &:hover div::before{
        // transform: translate(4px,4px);
        border-color: transparent transparent $mt_yellow transparent;
    }
    &:hover div::after{
        // transform: translate(4px,4px);
        background-color: white;
    }
}

button.btnA_S{
    position: relative;
    margin: 3px;
  display: inline-block;
  z-index: 2;
  width: 22px;
  height: 22px;
  // border: 1px solid $mt_black;
  // background-color: white;
  outline: 0px !important;
  overflow: hidden;
  &::after{
      content: "";
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: $mt_yellow;
      position: absolute;
      left: 0;
      top: 100%;
      transition: 0.2s all ease-in-out;
  }
  & p {
      z-index: 2;
      font-size: 10px;
      font-weight: 500;
      transform: translate(-2px , 0px);
      transition: 0.2s all ease-in-out;
  }
  &:hover::after{
      top: 0%;
  }
  &:hover p{
      color: white;
  }
  &.-active{
      
      &::after{
          content: "";
          width: 100%;
          height: 3px;
          border-radius: 2px;
          background-color: $mt_yellow;
          position: absolute;
          top: calc(100% - 3px);
          transition: 0s;
      }
      p{
          font-weight: 700;
          color: $mt_yellow;
      }
  }
}










button.btnB_XL_blue{
    position: relative;
    z-index: 2;
  width: 190px;
  height: 45px;
  // border: 4px solid $mt_blue2;
  // border-radius: 15px;
  outline: 0px !important;
  &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 4px solid $mt_blue2;
      border-radius: 15px;
  }
  & p {
      z-index: 1;
      color: white;
      transition: 0.4s all ease-in-out;
  }
  & div.bg{
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: $mt_blue2;
      overflow: hidden;
      &::after {
          content: "";
          z-index: -1;
          position: absolute;
          top: 0;
          left: 100%;
          width: 130%;
          height: 100%;
          // border-radius: 15px;
          background-color: white;
          transform: skewX(15deg);
          transition: 0.3s all ease-in-out;
      }
  }
  &:hover p{
      color: $mt_blue2;
  }
  &:hover div.bg::after{
      left: 0%;
  }
}



button.btnB_XL_yellow{
    position: relative;
    z-index: 2;
  width: 190px;
  height: 45px;
  // border: 4px solid $mt_blue2;
  // border-radius: 15px;
  outline: 0px !important;
  &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 4px solid $mt_yellow;
      border-radius: 15px;
  }
  & p {
      z-index: 1;
      color: white;
      transition: 0.4s all ease-in-out;
  }
  & div.bg{
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: $mt_yellow;
      overflow: hidden;
      &::after {
          content: "";
          z-index: -1;
          position: absolute;
          top: 0;
          left: 100%;
          width: 130%;
          height: 100%;
          background-color: white;
          transform: skewX(15deg);
          transition: 0.3s all ease-in-out;
      }
  }
  &:hover p{
      color: $mt_yellow;
  }
  &:hover div.bg::after{
      left: 0%;
  }
}

button.btnB_XL_grey{
    position: relative;
    z-index: 2;
  width: 190px;
  height: 45px;
  // border: 4px solid $mt_blue2;
  // border-radius: 15px;
  outline: 0px !important;
  &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 4px solid $mt_fontdark;
      border-radius: 15px;
  }
  & p {
      z-index: 1;
      color: white;
      transition: 0.4s all ease-in-out;
  }
  & div.bg{
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: $mt_fontdark;
      overflow: hidden;
      &::after {
          content: "";
          z-index: -1;
          position: absolute;
          top: 0;
          left: 100%;
          width: 130%;
          height: 100%;
          background-color: white;
          transform: skewX(15deg);
          transition: 0.3s all ease-in-out;
      }
  }
  &:hover p{
      color: $mt_fontdark;
  }
  &:hover div.bg::after{
      left: 0%;
  }
}


button.btnB_L_blue{
    position: relative;
    z-index: 2;
  width: 95px;
  height: 45px;
  outline: 0px !important;
  &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 4px solid $mt_blue2;
      border-radius: 15px;
  }
  & p {
      z-index: 1;
      color: white;
      transition: 0.3s all ease-in-out;
  }
  & div.bg{
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: $mt_blue2;
      overflow: hidden;
      &::after {
          content: "";
          z-index: -1;
          position: absolute;
          top: 0;
          left: 100%;
          width: 130%;
          height: 100%;
          // border-radius: 15px;
          background-color: white;
          transform: skewX(15deg);
          transition: 0.2s all ease-in-out;
      }
  }
  &:hover p{
      color: $mt_blue2;
  }
  &:hover div.bg::after{
      left: 0%;
  }
}



button.btnB_L_yellow{
    position: relative;
    z-index: 2;
  width: 95px;
  height: 45px;
  outline: 0px !important;
  &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 4px solid $mt_yellow;
      border-radius: 15px;
  }
  & p {
      z-index: 1;
      color: white;
      transition: 0.3s2all ease-in-out;
  }
  & div.bg{
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: $mt_yellow;
      overflow: hidden;
      &::after {
          content: "";
          z-index: -1;
          position: absolute;
          top: 0;
          left: 100%;
          width: 130%;
          height: 100%;
          // border-radius: 15px;
          background-color: white;
          transform: skewX(15deg);
          transition: 0.2s all ease-in-out;
      }
  }
  &:hover p{
      color: $mt_yellow;
  }
  &:hover div.bg::after{
      left: 0%;
  }
}

button.btnB_L_grey{
    position: relative;
    z-index: 2;
  width: 95px;
  height: 45px;
  outline: 0px !important;
  &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 4px solid $mt_fontdark;
      border-radius: 15px;
  }
  & p {
      z-index: 1;
      color: white;
      transition: 0.3s2all ease-in-out;
  }
  & div.bg{
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: $mt_fontdark;
      overflow: hidden;
      &::after {
          content: "";
          z-index: -1;
          position: absolute;
          top: 0;
          left: 100%;
          width: 130%;
          height: 100%;
          // border-radius: 15px;
          background-color: white;
          transform: skewX(15deg);
          transition: 0.2s all ease-in-out;
      }
  }
  &:hover p{
      color: $mt_fontdark;
  }
  &:hover div.bg::after{
      left: 0%;
  }
}


// ============會員============

//被div裁型的圖片
@mixin imgs {
    width: 100%;
    object-fit: contain;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
}

.certificationIcon div.icon_hover{
    width: 120px;
    background-color: $mt_grey1;
    position: absolute;
    // display: block;
    display: none;
    top: -30px;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    &::after{
        content: '';
        position: absolute;
        bottom: -10px;
        right: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 7px 0 3px;
        border-color: $mt_grey1 transparent transparent transparent;
    }
}

//////會員款式Ａ/////
.member_styleA{
    flex-shrink:0;//若父層有flex，避免寬度被壓縮導致跑版
    .memberImg{
        display: inline-block;
        // background-color: #555;
        border-radius: 50%;
        width: 65px;
        padding-top: 65px;
        overflow: hidden;
        position: relative;
        img{
            @include imgs;
        }
    }
    .memberInfo{
        display: inline-block;
        .certification{
            .certificationIcon{
                display: inline-block;
                width: 15px;
                height: 15px;
                position: relative;
                img{
                    height: 100%;
                    position: absolute;
                    top:0;
                }
                &:hover{
                    .icon_hover{
                        display: block;
                    }
                }
            }
        }
        .memberId{
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 1.5px;
        }
        .memberBadge{
            .memberBadgeIcon{
                display: inline-block;
                width: 25px;
                padding-top: 25px;
                overflow: hidden;
                position: relative;
                img{
                    @include imgs;
                }
            }
        }
    }
}

//////橫/////
.member_styleA.row{
    width: 211px;
    display: inline-block;
    .memberInfo{
        .memberBadge{
            display: inline-block;
        }
    }
}
//直//
.member_styleA.column{
    width: 145px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    .memberInfo{
        .memberId{
            text-align: center;
        }
        .certification{
            display: flex;
            justify-content:center;
            .certificationIcon{
                margin: 5px;
            }
        }
        .memberBadge{
            display: flex;
            justify-content:center;
            .memberBadgeIcon{
                margin: auto 5px;
            }
        }
    }
}
//////會員款式C 只有頭像 ＩＤ/////
.member_styleC{
    flex-shrink:0;//若父層有flex，避免寬度被壓縮導致跑版
    display: flex;
    align-items: center;
    .memberImg{
        display: inline-block;
        background-color: rgb(209, 104, 104);
        border-radius: 50%;
        width: 30px;
        padding-top: 30px;
        overflow: hidden;
        position: relative;
        
        margin: auto 5px auto 3px;
        img{
            @include imgs;
        }
    }
    .memberId{
        font-size: 10px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 1.5px;
    }
}

// ============山山山 小icon============
.degreeImg {
    display: inline-block;
    & div.iconBox{
        display: inline-block;
        margin: 2px;
        height: 24px;
        width: 24px;
        & img.iconDegree {
            transform: translateY(3px);
            width: 100%;
        }
    }
}




// body height controll footer in bom
@media screen and (min-width: 1440px) {
    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1439px){
    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    body{
        min-height: calc(100vh - 70px - 209px);
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    body{
        min-height: calc(100vh - 70px - 281px);
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    body{
        min-height: calc(100vh - 70px - 380px);
        display: flex;
        flex-direction: column;
    }
 }
@media screen and (max-width: 575px){
    body{
        min-height: calc(100vh - 70px - 392px);
        display: flex;
        flex-direction: column;
    }
}