#banner{
    width: 100%;
    // height: 90vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 2%;;
}

#parent_container{
    width: 1366px;
    max-width: 100%;
    margin:  0 auto;
    display: flex;
}
    main{
        width: 75%;
    }

    //------------討論區用統一標題
    .ntittle{
        padding: 8px 30px;
        background-color: #153A64;

        h2{
            color: white;
        }
    }

    // ⛰最新公告⛰
    .news_list{
        width: 80%;
        margin: 2% auto;


        .list{
            display: flex;
            border-bottom: 1px solid black;

            p{
                line-height: 50px;
                font-size: 16px;
            }

            .button{
                margin-left: auto;
                background-color: #DB931A;
                width: 80px;
                height: 36px;
                text-align: center;
                line-height: 36px;
                margin-top: 6px;

                a{
                    color: white;
                }
            }
        }
    }

    // ⛰討論度排行榜⛰

    .billboard_list{
        height: 500px;
        // border: 5px solid rgb(115, 248, 26);
    }

    .search-block{

        .outline{
            display: flex;
            flex-direction: row;
        }
        .item_btns{
            width: 52%;
        }

        button{
            width: 90px;
            line-height: 40px;
            background-color: #2C5E9E;
            color: white;
            margin: 0px 2px;
            border: 1px solid #2C5E9E;
            font-size: 16px;
            cursor:pointer;
        }

        .searchbar{
            width: 28%;
            position: relative;
            
            input{
                width: 280px;
                height: 40px;
                border-radius: 0%;
                padding: 0px 15%;
            }

            .searchicon{
                position: absolute;
                top:10%;
                left: 3%;

                img{
                    width: 30px;
                    height: 30px;
                }
            }

        }

        .ask_btn{
            margin-right: auto;
            #ask{
                background-color: #FFC400;
                width: 200px;
                line-height: 43px;
                font-size: 16px;
                cursor:pointer;
                font-weight: 800;
                border: hidden;
            }
        }

    }
    // ----------特效區-------------
    .swiper-wrapper{
        display: flex;
        align-items: center;
        margin: 20px;
    }
    
    // .swiper-slide {
    //     width: 400px;
    // }
    
    .swiper-slide:nth-child(1) .slider-text {
        background-color: #2196f3;
    }
    
    .swiper-slide:nth-child(2) .slider-text {
        background-color: #e91e63;
    }
    
    .swiper-slide:nth-child(3) .slider-text {
        background-color: #c3d41a;
    }
    
    .swiper-slide:nth-child(4) .slider-text {
        background-color: #ff9800;
    }
    
    .swiper-slide:nth-child(5) .slider-text {
        background-color: #c33ada;
    }
    
    .card {
        background-color: #f6f6f6;
        height: 500px;
        margin: 0 auto;
        position: relative;
        width: 400px;
    }
    
    .card .content {
        padding: 30px;
        width: 400px;
    }
    
    .card .content a {
        border: 2px solid #000000;
        color: #262626;
        display: inline-block;
        font-weight: 600;
        margin: 10px 0 0;
        padding: 10px 20px;
        text-decoration: none;
    }
    
    .card .slider-text {
        align-items: center;
        background-color: #000000;
        display: flex;
        height: 200px;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    
    .card .slider-text h3 {
        color: #ffffff;
        font-size: 3em;
    }

    //⛰論壇區⛰
    #forum-block{
        margin-top: 2%;
    }
    
    #forum-tittle{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        justify-content: space-around;
        background:#153A64;
        color: white;
        line-height: 50px;

        :nth-child(1){width: 12%;}
        :nth-child(2){width: 48%;}
        :nth-child(3){width: 10%;}
        :nth-child(4){width: 10%;}
        :nth-child(5){width: 12%;}
    }

    #forum-list{
        .form-container{
            // border: 5px solid rgb(68, 59, 8);
            display: flex;
            flex-wrap: nowrap;
            text-align: center;
            justify-content: space-around;
            background-color: #f6f6f6;
            margin-top: 0.5%;

            .img:nth-child(1){
                width: 170px;
                max-width: 100%;
                margin: 0 10px 0 0;

                img{
                    width: 100%;
                }
            }
            
            .theme:nth-child(2){
                width: 48%;
                text-align: left;

                .tittle{
                    line-height: 50px;
                    font-size: 20px;
                }
            }

            .response:nth-child(3){
                width: 10%;
                margin: auto;
            }
            .message-time:nth-child(4){
                width: 10%;
                margin: auto;
            }
            .renews:nth-child(5){
                width: 12%;
                margin: auto;
            }
        }

        #poster-block{
            // border: 1px solid rgb(15, 25, 58);
            display: flex;
            justify-content: space-around;
            margin-top: 5%;

            .user{
                display: flex;
                width: 40%;
                text-align: center;
                .user-pic{
                    .user-img{
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        overflow: hidden;
                    }
                }
            }
            .remessage{
                display: flex;
                margin: auto;
            }

            .like{
                display: flex;
                margin: auto;
            }
        }
        .user-name{
            margin: 0px 5px;
            span{line-height: 50px;}
        }
    }

    aside{
        // border: 2px solid green;
        width: 300px;
        max-width: 100%;
        vertical-align: top;
        margin-left: auto;

        .prod-img{
            width: 300px;
            img{
                width: 100%;
            }
        }

        .hot-title{
            text-align: center;
            line-height: 30px;
            margin-top: 5%;
            .color-bottom01{
                width: 180px;
                height: 10px;
                background-color: red;
                margin: auto;
            }
        }
    }

    #hot-travel-asideblock{
        margin-top: 5%;
        border: 1px solid rgb(36, 36, 36);
        ul::-webkit-scrollbar{
            width: 8px;
            height: 8px;
        }

        ul::-webkit-scrollbar-thumb{
            border-radius:100px;
            background:rgb(187, 187, 187);
        }

        .travel-card{
            width: 280px;
            height: 1120px;
            overflow: scroll;
            // border: 1px solid gold;
            margin: 0 auto;
            list-style: none;
            overflow-x: hidden;
            overflow-y: auto;

            .card-list{
                margin: 10px auto;
                // border: 1px solid rgb(131, 23, 77);
                .pop-img{
                        img{
                        width: 100%;
                    }
                }
                .pop-title{
                    display: flex;
                    align-content: space-between;
                    h3:nth-child(1){
                        width: 80%;
                    }
                    .pop-like{
                        margin: 8% auto;
                    }
                }
                .pop-content-block{
                    display: flex;
                    align-content: space-between;
                    .pop-user{
                        width: 45%;
                        // border: 5px solid green;
                        display: flex;
                        font-size: 12px;
                        margin: auto;
                        justify-content: space-between;

                        .pop-user-img{
                            width: 40px;
                            height: 40px;

                            img{
                                width: 100%;
                                border-radius: 100%;
                                overflow: hidden;
                            }
                        }
                    }
                    .pop-place{
                        display: flex;
                        font-size: 12px;
                        padding: 5px 0px;
                        .location{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 80px;
                        }

                    }
                    .pop-easy{
                        display: flex;
                        font-size: 12px;
                        padding: 5px 0px;
                        #mountains{
                            height: 15px;
                            width: 60%;
                        }
                    }
                    .pop-date{
                        display: flex;
                        font-size: 12px;
                        padding: 5px 0px;
                    }
                }
            }
        }
    }

    #tag{
        margin-top: 5%;
        border: 1px solid gray;
        padding: 5px;

        .hot-tags{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 300px;

            li{
                list-style: none;
                border: 1px solid black;
                line-height: 30px;
                padding: 5px;
                margin: 5px;
                font-size: 9px;
            }
            
        }
    }

/* ----------------------GO TOP---------------------- */
    #gotop a{
        text-decoration: none;
    }

    #gotop {
        position:fixed;
        z-index:90;
        right:20px;
        bottom:31px;
        display:none;
        width:50px;
        height:50px;
        color:#fff;
        background-color: #153a64;
        // background-image: linear-gradient(to top, #86baff, #956bda);
        line-height:50px;
        // border-radius:50%;
        transition:all 0.5s;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }

//-------------------------aside link---------------------------

#aside-link{
    display:block;
    position: fixed;
    right: 1px;
    bottom: 300px;
    height: auto;
    z-index: 4;
}

.aside-com-btn{
    display: block;
    position: absolute;
    right: 0px;
    bottom: 20px;
    height: auto;
    width: 100px;

    img{
        width: 100%;
        margin: 3px 0px;
    }
}