@import "common";
@mixin threeLine {
    display: -webkit-box;
    -webkit-line-clamp:3;
    /*!autoprefixer:off*/
    -webkit-box-orient: vertical;
    /*autoprefixer:on*/
    overflow:hidden;
}

@mixin imgs {
    height: 100%;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
}

#banner{
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.705);
        object-fit: cover;
    }
}

#main_forum{
    width: 1366px;
    max-width: 100%;
    margin:  0 auto;
    display: flex;
    margin-top: 2%;
    // border: 1px solid gold;
}

#forum_container{
    // border: 2px solid rgb(34, 204, 34);
    display: flex;
    width: 100%;
        .forum_container-right{
            // border: 2px solid hotpink;
            width: 100%;
            .news_block{
                margin: 0 auto;
                padding: 25px;
                width: 100%;
                // border: 2px solid rgb(105, 220, 255);
                .hot-top{
                    h2{
                        color: rgb(43, 43, 43);
                        font-size: 30px;
                        font-weight: 600;   
                        margin:50px auto;
                    }
                }
                .news_list{
                    width: 80%;
                    margin: 2% auto;
                    // border: 3px solid hotpink;
                    .list{
                        display: flex;
                        border-bottom: 1px solid black;
                        p{
                            line-height: 50px;
                            font-size: 16px;
                        }
                        .news-text{
                            margin-left: auto;
                            background-color: $mt_orange;
                            width: 50px;
                            height: 30px;
                            text-align: center;
                            line-height: 30px;
                            margin-top: 6px;
                            color: white;
                            font-size: 10px;
                            border-radius: 5px;
                        }
                    }
                }
            }

            .billboard-block{
                // border: 2px solid rgb(167, 204, 35);
                width: 100%;
                h2{
                    color: rgb(43, 43, 43);
                    font-size: 30px;
                    font-weight: 600;   
                    margin:50px auto;
                }
                .content{
                    width: 1000px;
                    max-width: 100%;
                    margin: 2% auto;
                }
                    
                .slider{
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    
                    &__area {
                      display: flex;
                      list-style-type: none;
                      padding: 0;
                      margin: 40px;
                    }
                      
                    &__item {
                      margin: 10px 5px 0px 5px;
                    }
                    .card-block{position: relative;
                      .card{
                        width: 360px;
                        max-width: 100%;
                        border: 1px solid rgb(218, 218, 218);
                        // position: relative;
                        .slider-img {
                          align-items: center;
                          // background-color: #000000;
                          // display: flex;
                          justify-content: center;
                          position: relative;
                              img{
                                  width: 100%;
                                  overflow: hidden;
                                }
                                .hot-tag{
                                    width: 80px;
                                    height: 30px;
                                    background-color: #DB931A;
                                    position: absolute;
                                    top: 10px;
                                    right: 10px;
                                    padding: 10px;
                                    border-radius: 20px;
                                    //文字特效       
                                    p{
                                        font-size: 8px;
                                        line-height: 8px;
                                        text-align: center;
                                        color: white;
                                    }
                                }
                        }
                        .hot-users-block{
                          display: flex;
                          flex-direction: column;
                          position: absolute;
                          top: 0;
                          z-index: 50;
                          margin: -45px 125px;
                          text-align: center;
                          .pic{
                              height: 100px;
                              width: 100px;
                              border-radius: 50%;
                              text-align: center;
                              line-height: 100px;
                              top: 0;
                              z-index: 50;
                              margin: 0 auto;
                                  img{
                                  width: 100%;
                                  border-radius: 50%;
                              }
                          }
                          .user_name{
                              padding: 3px;
                              background-color:rgba(17, 17, 17, 0.7);
                              border-radius: 20px;
                                  .usname{
                                      color: white;
                                      font-size: 12px;
                              }
                          }
                          .memberBadge{
                              display: flex;
                              justify-content:center;
                            .memberBadgeIcon{
                                display: inline-block;
                                width: 25px;
                                padding-top: 25px;
                                overflow: hidden;
                                position: relative;
                                filter: drop-shadow(1px 1px 3px rgb(77, 77, 77));
                                img{
                                    @include imgs;
                                    }
                                }   
                           }
                        }
                        .container{
                          padding: 20px;
                          .tittle{
                            margin-bottom: 8%;
                            >span{
                                @include threeLine;
                            }
                          }
                        }
                      }
                    }
                      //這裡是.card結束標籤
                }
                    
                %slider-btn{
                    width: 2em;
                    height: 5em;
                    background-color: #fdfdfd;
                    border: 1px solid #eee;
                    text-align: center;
                }
                    
                .prev-btn{
                    @extend %slider-btn;
                    position: absolute;
                    top: 40%;
                    left: 0;
                    img{
                        transform: translateY(25px);
                        opacity: 80%;
                    }
                }
                    
                .next-btn{
                    @extend %slider-btn;
                    position: absolute;
                    top: 40%;
                    right: 0;
                    img{
                        transform: translateY(25px);
                        opacity: 80%;
                    }
                }
            }
            .forum-block{
                // border: 2px solid rgb(198, 35, 204);
                width: 100%;
                h2{
                    color: rgb(117, 94, 94);
                    font-size: 30px;
                    font-weight: 600;   
                    margin:50px auto;
                }
                .search-block{
                    margin: 2%;
                    .outline{
                        display: flex;
                        justify-content: space-around;
                        .item_btns{
                            label{
                                line-height: 40px;
                                background-color: #2C5E9E;
                                color: white;
                                margin: 0px 5px;
                                padding: 10px;
                                border: 1px solid #2C5E9E;
                                font-size: 16px;
                                cursor: pointer;
                            }
                            label:hover{
                                background-color: #FFC400;
                                border: 1px solid #FFC400;
                                transition: all 0.5s linear; 
                            }
                        }
                        .bar-block{
                            display: flex;
                            .searchbar{
                                width: 100%;
                                position: relative;
                                    input{
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        appearance: none;
                                        outline: none;
                                        // width: 280px;
                                        max-width: 100%;
                                        height: 40px;
                                        border-radius: 10px;
                                        padding: 0px 15%;
                                        border: inset;
                                    }
                                    .searchicon{
                                        position: absolute;
                                        top:10%;
                                        left: 3%;
                                            img{
                                                width: 30px;
                                                height: 30px;
                                            }
                                        }
                                }
                            }
                    
                            .ask_btn{
                                margin: 0px 5px;
                                #ask{
                                    width: 120px;
                                    background-color: #FFC400;
                                    line-height: 43px;
                                    font-size: 16px;
                                    font-weight: 800;
                                    border: hidden;
                                    border-radius: 20px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                #forum_list{
                    width: 100%;
                    // border: 2px solid peru;
                    display: flex;
                    background: #f6f6f6;
                    margin: 8px 0;
                    &:hover{
                        box-shadow: 0 1px 6px rgba(0,0,0,.2);
                        border-color: #eee;
                        transition: all .2s ease-in-out;
                    }
                    .forum_post_image{
                        // border: 1px solid lawngreen;
                        width: 600px;
                        height: 260px; //圖片先給固定高
                        max-width: 100%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            // height: 100%;
                            overflow: hidden;
                        }
                    }
                    .forum-infor{
                        // border: 2px solid khaki;
                        width: 100%;
                        padding: 20px;
                        .tittle{
                            // color: #DB931A;
                            .innertext{
                                >p{
                                    @include threeLine;
                                }
                            }
                        }
                        
                    }
                    .poster-block{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 3%;
                        // .user:nth-child(1){width: 40%;}
                        // .forum_keep:nth-child(2){width: 20%;}
                        // .post_situation:nth-child(3){width: 35%;}
                        
                        //////會員款式Ａ/////
                        .member_styleA{
                            flex-shrink:0;//若父層有flex，避免寬度被壓縮導致跑版
                            .memberImg{
                                display: inline-block;
                                background-color: #555;
                                border-radius: 50%;
                                width: 65px;
                                padding-top: 65px;
                                overflow: hidden;
                                position: relative;
                                img{
                                    @include imgs;
                                }
                            }
                            .memberInfo{
                                display: inline-block;
                                .certification{
                                    .certificationIcon{
                                        display: inline-block;
                                        width: 15px;
                                        height: 15px;
                                        position: relative;
                                        img{
                                            height: 100%;
                                            position: absolute;
                                            top:0;
                                        }
                                    }
                                }
                                .memberId{
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    letter-spacing: 1.5px;
                                }
                                .memberBadge{
                                    .memberBadgeIcon{
                                        width: 25px;
                                        padding-top: 25px;
                                        overflow: hidden;
                                        position: relative;
                                        img{
                                            @include imgs;
                                        }
                                    }
                                }
                            }
                        }
                        .forum_groups{
                            // border: 1px solid rgb(55, 223, 209);
                            margin: auto;
                            .heart{
                                display: flex;
                                .heart-icon img{width: 25px; margin: 0 2px;}
                            }
                            .message{
                                display: flex;
                                .message-icon img{width: 25px; margin: 0 2px;}
                            }
                        }
                        .post_situation{
                            // border: 1px solid rgb(104, 31, 79);
                            margin: auto;
                            text-align: right;
                            .post_time{
                                display: flex;
                                justify-content: flex-end;
                                p{font-size: 14px;}
                            }
                            .remessage_time{
                                display: flex;
                                p{font-size: 14px;}
                            }
                        }
                    }
                }
            }
            .nextpage-btn{
                text-align: center;
                margin-bottom: 8%;
            }
        
    #forum_aside{
        padding: 12px;
        margin-left: 3%;
        // border: 3px solid purple;
        .tour-tittle{
            h2{
            padding: 20px;
            text-align: center;
            margin: 0 auto;
            }
        }

        #tour-block{
            margin-top: 8%;
            list-style: none;
            // height: 1050px;
            // overflow: scroll;
            // border: 1px solid gold;
            // overflow-x: hidden;
            // overflow-y: auto;

            .hot-tour-card{
                background-color: $mt_grey1;
                .tour-img{
                    max-width: 100%;
                    margin-top: 5%;
                    img{
                        width: 100%;
                    }
                }
                .tour-block{
                    padding: 20px;
                    // border: 1px solid gray;
                    margin-top: -10px;
                    }
                    .tag{
                        display: flex;
                        .tag_click{
                            // background-color: #DB931A;
                            // padding: 2px 10px;
                            border-radius: 5px;
                            margin: 5px;
                            .sapn{
                                font-size: 8px;
                                line-height: 8px;
                                text-align: center;
                                color: white;
                            }
                        }
                    }
                    .tour-place{
                        display: flex;
                        margin: 12px 0 0 0;
                        .location{
                            display: flex;
                        }
                        .degree_category{
                            display: flex;
                        }
                    }
                    .tour-activitystart{
                        display: flex;
                    }
                }
            }

            #tag{
                margin-top: 5%;
                padding: 5px;
                .tag-tittle{
                    padding: 20px;
                    p{
                        font-size: 20px;
                    }
                }
        
                .hot-tags{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 300px;
        
                    li{
                        list-style: none;
                        line-height: 30px;
                        padding: 5px;
                        margin: 5px;
                        font-size: 9px;
                        background-color: #DB931A;
                        border-radius: 5px;
                        a{
                            color: white !important;
                        }
                    }
                    
                }
            }
    }
}

/* ----------------------GO TOP---------------------- */
#gotop a{
    text-decoration: none;
}

#gotop {
    position:fixed;
    z-index:90;
    right:20px;
    bottom:31px;
    display:none;
    width:50px;
    height:50px;
    color:#fff;
    background-color: #153a64;
    line-height:50px;
    transition:all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    & .svg-inline--fa.fa-arrow-up.fa-w-14 path{
        color:#fff;
        transform: scale(1);
    }
}

//-------------------------aside link---------------------------

#aside-link{
    display:block;
    position: fixed;
    right: 1px;
    bottom: 300px;
    height: auto;
    z-index: 51;
}

.aside-com-btn{
    display: block;
    position: absolute;
    right: 0px;
    bottom: 20px;
    height: auto;
    width: 100px;

    img{
        width: 100%;
        margin: 3px 0px;
    }
}

// ===========media screen===========

@media screen and (min-width: 1440px) {
    // 請用1366
        // max-width: 1366px
    main#main_forum{
        // border: 1px solid red;
        max-width: 1366px;
        #forum_container{
            .forum_container-right{
                .forum-block{
                    #forum_list{
                        padding: 20px;
                    }
                }
            }
        }
    }

}
@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152
        // max-width: 1152px
    main#main_forum{
        // border: 1px solid rgb(243, 123, 11);
        max-width: 1152x;
        #forum_container{
            width: 74%;
            .forum_container-right{
                .forum-block{
                    #forum_list{
                        padding: 20px;
                    }
                }
            }
        }
        #forum_aside{
            width: 35%;
        }
    }


}
@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
        // max-width: 960px
    main#main_forum{
        // border: 1px solid rgb(239, 255, 11);
        max-width: 960px;
        #forum_container{
            .forum_container-right{
                .forum-block{
                    #forum_list{
                        padding: 20px;
                    }
                }
            }
        }

        #forum_aside{
            display: none;
        }
    }
    

}
@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px
    main#main_forum{
        // border: 1px solid rgb(7, 175, 15);
        max-width: 720px;
        .forum_container-right{
            .forum-block{
                .search-block{
                    .outline{
                        display: flex;
                        flex-direction: column;
                        .item_btns{
                            display: block;
                            margin: 0 auto;
                            width: auto;
                        }
                        .bar-block{
                            display: flex;
                            align-self: center;
                            margin: 20px auto 0;
                            .searchbar{
                                width: 100%;
                            }
                        }
                    }
                }
                #forum_list{
                    .forum-infor{
                        .poster-block{
                            flex-direction: column;
                            .user{
                                justify-content: center;
                            }
                            .forum_groups{
                                display: flex;
                                justify-content: space-evenly;
                            }
                            .post_situation{
                                display: flex;
                                justify-content: space-evenly;
                            }
                        }
                    }
                }
            }
        }

        #forum_aside{
            display: none;
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    // 請用540
        // max-width: 540px
    main#main_forum{
        // border: 1px solid rgb(57, 7, 175);
        max-width: 540px;
        .forum_container-right{
            .news_block{
                padding: 0px;
                .news_list{
                    .list{
                        p{
                            line-height: 30px;
                        }
                        .news-text{
                            transform: translate(0px, 20px);
                        }
                    }
                }
            }
            .forum-block{
                .search-block{
                    .outline{
                        display: flex;
                        flex-direction: column;
                        .item_btns{
                            display: block;
                            margin: 0 auto;
                            width: auto;
                        }
                        .bar-block{
                            display: flex;
                            align-self: center;
                            margin: 20px auto 0;
                            .searchbar{
                                width: 100%;
                            }
                        }
                    }
                }
                #forum_list{
                    flex-direction: column;
                    .forum-infor{
                        .poster-block{
                            display: block;
                            .user{
                                margin: 6% 0px;
                                justify-content: center;
                            }
                            .forum_groups{
                                display: flex;
                                justify-content: space-evenly;
                            }
                            .post_situation{
                                display: flex;
                                justify-content: space-evenly;
                            }
                        }
                    }
                }
            }
        }

        #forum_aside{
            display: none;
        }
    }

}
@media screen and (max-width: 575px){
    main#main_forum{
        // border: 1px solid rgb(135, 14, 151);
        #forum_container{
            .forum_container-right{
                .news_block{
                    padding: 0px;
                    .news_list{
                        .list{
                            p{
                                line-height: 40px;
                            }
                            .news-text{
                                transform: translate(0px, 20px);
                            }
                        }
                    }
                }
                .forum-block{
                    h2{
                        margin: auto;
                        margin-bottom: 8%
                    }
                    .search-block{
                        margin: 0;
                        .outline{
                            flex-direction: column;
                            padding: 10px;
                            .item_btns{
                                display: block;
                                margin: 0 auto;
                                padding: 0px 25px;
                                button{
                                    margin: 2% auto;
                                }
                            }
                            .bar-block{
                                display: flex;
                                align-self: center;
                                margin: 20px auto 0;
                                .searchbar{
                                    width: 100%;
                                    input{
                                        width: 100%;
                                        padding: 0px 0px 0px 32px
                                    }
                                }
                            }
                        }
                    }
                    #forum_list{
                        flex-direction: column;
                        margin-top: 15%;
                        .forum-infor{
                            .poster-block{
                                display: block;
                                .user{
                                    margin: 6% 0px;
                                    justify-content: center;
                                }
                                .forum_groups{
                                    display: flex;
                                    justify-content: space-evenly;
                                }
                                .post_situation{
                                    display: flex;
                                    justify-content: space-evenly;
                                }
                            }
                        }
                    }
                }
            }
            #forum_aside{
                display: none;
            }
        } //forum_container的結束
    }
} //media screen的結束

//---------- NAV 的底線設定---------- 
nav.menu ul.link_list.llleft li{
    & a p::after {
        display: none;
        content: "";
        position: absolute;
        border-radius: 5px;
        width: 70px;
        height: 4px;
        top: 37px;
        background-color: $mt_yellow;
    }
    & a.forum p::after {
        display: block;
        @media screen and (min-width: 1199px) { left: 213px; }
        @media screen and (min-width: 992px) and (max-width: 1199px){left: 154px;}
        @media screen and (min-width: 576px) and (max-width: 991px) {top: 75px; width: 165px; }
        @media screen and (max-width: 575px) {top: 42px; width: 100px; }
    }
}