@import "common";
@mixin imgs {
    height: 100%;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
}

#banner{
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
    // margin-bottom: 2%;;
    img{
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.705);
        object-fit: cover;
    }
}

#comment{
    // width: 1200px;
    max-width: 100%;
    margin: 5% auto;
    // border: 3px solid gold;
}

#comment-block{
    margin: 0 5%;
    .original-poster-block{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 2%;
        .poster{
            display: flex;
            .original{
                margin: auto;
                width: 80px;
                height: 80px;
                img{
                    width: 100%;
                    border-radius: 100%;
                }
            }
        }
}

    //------------討論區用統一標題
    .ntittle{
        padding: 8px 30px;
        background-color: #153A64;

        h2{
            color: white;
        }
    }

        .name_time{
            display: flex;
            width: 100%;
        }
        .poster-name{
            line-height: 20px;
            margin: auto 5px;
        }
        .poster-time{
            margin: auto;
        }
        .poster-report{
            // margin: auto;
            display: flex;
            .commentCollect{
                margin: auto;
            }
            .report{
                margin: auto 10px;
<<<<<<< HEAD
                // display: none;
=======
>>>>>>> master
            }
        }
    }

    #innertext-block{
        // width: 1040px;
        max-width: 100%;
        margin: 0 auto;

        .write-top{
            text-align: center;
            line-height: 50px;
        }
        p{
            line-height: 40px;
        }

        .post-image{
            display: block;
            margin: 3% auto;
            width: 800px;
            max-width: 100%;

            img{
                width: 100%;
            }
        }
    }

    .post-poster-block01{
        display: flex;
        margin: 3% auto;
        // width: 1040px;
        max-width: 100%;

        .member_styleA{
            flex-shrink:0;//若父層有flex，避免寬度被壓縮導致跑版
            .memberImg{
                display: inline-block;
                background-color: #555;
                border-radius: 50%;
                width: 65px;
                padding-top: 65px;
                overflow: hidden;
                position: relative;
                img{
                    @include imgs;
                }
            }
            .memberInfo{
                display: inline-block;
                .certification{
                    .certificationIcon{
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        position: relative;
                        img{
                            height: 100%;
                            position: absolute;
                            top:0;
                        }
                    }
                }
                .memberId{
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 1.5px;
                }
                .memberBadge{
                    .memberBadgeIcon{
                        display: inline-block;
                        width: 25px;
                        padding-top: 25px;
                        overflow: hidden;
                        position: relative;
                        img{
                            @include imgs;
                        }
                    }
                }
            }
        }
        .post-text{
            width: 100%;
            margin: 0 2%;
    
            .triangle1-text{
                padding:20px;
                    .poster-say{
                        display: flex;
                        justify-content: space-between;
                        line-height: 30px;
                    }
                    .report{
                        display: flex;
                        img{
                            width: 18px;
                            height: 18px;
                            max-width: 100%;
                            margin: auto 5px;
                        }
                    }
                }
        }
    }

    .triangle1{
        width: 100%;
        background-color: #F0F0F0;
        border-radius: 10px;
        position: relative;
        margin: 3% 0;
    }

    .triangle1::after{
        content: "";
        position: absolute;
        top: 30px;
        border-color: transparent;
        border-width: 25px;
        border-style: solid;
        border-right-color: #F0F0F0;
        left:-50px;
        //三角形的另一種寫法
        // border: 1px solid #000;
        // width: 30px;
        // padding-top: 30px;
        // background: linear-gradient(-45deg,transparent 50%, rgb(241, 24, 24) 50%);
    }
    //這區是回覆者的留言flex-row-reverse
    .post-poster-block02{
        display: flex;
        flex-direction: row-reverse;
        margin: 3% auto;
        // width: 1040px;
        max-width: 100%;
    }
    .member_styleA{
        flex-shrink:0;//若父層有flex，避免寬度被壓縮導致跑版
        .memberImg{
            display: inline-block;
            background-color: #555;
            border-radius: 50%;
            width: 65px;
            padding-top: 65px;
            overflow: hidden;
            position: relative;
            img{
                @include imgs;
            }
        }
        .memberInfo{
            display: inline-block;
            .certification{
                .certificationIcon{
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    position: relative;
                    img{
                        height: 100%;
                        position: absolute;
                        top:0;
                    }
                }
            }
            .memberId{
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 1.5px;
            }
            .memberBadge{
                .memberBadgeIcon{
                    display: inline-block;
                    width: 25px;
                    padding-top: 25px;
                    overflow: hidden;
                    position: relative;
                    img{
                        @include imgs;
                    }
                }
            }
        }
    }

    .post-text{
        .triangle2{
            width: 100%;
            background-color: #F0F0F0;
            border-radius: 10px;
            position: relative;
            margin: 3% 0;

            .triangle-text{
                padding: 20px;
                    .poster-say{
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        line-height: 30px;
                    }
                    .report{
                        display: flex;
                        .mg_report_bt{
                            img{
                                width: 18px;
                                height: 18px;
                                max-width: 100%;
                                margin: auto 5px;
                            }
                            .mg_text{
                                position: absolute;
                                display: block;
                                top: -20px;
                                // right: 0;
                                &::after{
                                    content: '';
                                    position: absolute;
                                    bottom: -10px;
                                    right: 5px;
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 10px 7px 0 3px;
                                    border-color: $mt_grey1 transparent transparent transparent;
                                }
                            }
                        }
                    }
            }
        }
    }


    .triangle2::after{
        content: "";
        position: absolute;
        top: 30px;
        border-color: transparent;
        border-width: 25px;
        border-style: solid;
        border-left-color: #F0F0F0;
        right:-50px;
    }

    //textarea
    // .text-arera-block{display: flex;}
    // .area-tittle{
    //     width: 20%;
    //     margin-left: auto;
        //  p{
        //     // text-align: end;
        //     padding: 0 30px;
        //     // writing-mode: vertical-lr;
        //  }
    // }
    .text-arera-block{
        .message{
            textarea{
                resize: none;
                outline: none;
                padding: 15px;
            }
        }
    }
    .message-btn{
        text-align: center;
        margin-top: 2%;
    }
    //product block
    .product-block{
        // border: 1px solid green;
        display: flex;
        margin: auto;
        width: 100%;
        justify-content: space-between;
        padding: 30px 10px 10px;
    }
    .product-img{
        width: 20%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
            transform:scale(1,1);
            transition: all 1s ease-out;
        }
        img:hover{
            transform:scale(1.1,1.1);
        }
    }
    .nextpage-btn{
        text-align: center;
        margin: 20px auto;
    }

    //留言檢舉
    #report_block_message.close{
        display: none;
    }
    
    #report_block_message{
        background-color: hsla(0, 0%, 0%,.5);
        width: 100vw;
        height: 100vh;
        display: flex; //不加!important會被劃掉
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        .rp_lightbox{
            background-color: #fff;
            border-radius: 15px;
            width: auto;
            padding: 10px;
            position: relative;
            text-align: center;
            .mg_close{
                width: 20px;
                height: 20px;
                line-height: 20px;
                position: absolute;
                top: 10px;
                right: 20px;
                cursor: pointer;
                // border: 1px solid #555;
                border-radius: 50%;
                &:hover{
                    color: #bbb;
                }
            }
            .mg_reporting{
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: 0 auto;
                text-align: left;
                >h2{
                    margin: 20px auto;
                }
                >div{
                    margin: 5px 0;
                }
                >textarea{
                    resize: none;
                    padding: 10px;
                    &:focus{
                        outline: none;
                    }
                }
                .rp_bt{
                    text-align: center;
                    button{
                        margin: 20px;
                    }
                }
            }
            .mg_be_reported{
                display: none;
                h2{
                    text-align: center;
                }
                p{
                    text-align: left;
                    margin: 15px 0;
                }
            }
        }
    }
    
    #banned_message.close{
        display: none;
    }
    
    #banned_message{
        background-color: hsla(0, 0%, 0%,.5);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        .ban_lightbox{
            background-color: #fff;
            border-radius: 15px;
            width: auto;
            padding: 10px;
            position: relative;
            text-align: center;
            .ban_close{
                width: 20px;
                height: 20px;
                line-height: 20px;
                position: absolute;
                top: 10px;
                right: 20px;
                cursor: pointer;
                border-radius: 50%;
                &:hover{
                    color: #bbb;
                }
            }
            .ban_be_reported{
                // display: none;
                h2{
                    text-align: center;
                }
                p{
                    text-align: left;
                    margin: 15px 0;
                }
            }
        }
    }

    //文章檢舉
    #report_block_match.close{
        display: none;
    }
    
    #report_block_match{
        background-color: hsla(0, 0%, 0%,.5);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        .rp_lightbox{
            background-color: #fff;
            border-radius: 15px;
            width: auto;
            padding: 10px;
            position: relative;
            text-align: center;
            .rp_close{
                width: 20px;
                height: 20px;
                line-height: 20px;
                position: absolute;
                top: 10px;
                right: 20px;
                cursor: pointer;
                // border: 1px solid #555;
                border-radius: 50%;
                &:hover{
                    color: #bbb;
                }
            }
            .tr_reporting{
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: 0 auto;
                text-align: left;
                >h2{
                    margin: 20px auto;
                }
                >div{
                    margin: 5px 0;
                }
                >textarea{
                    resize: none;
                    padding: 10px;
                    &:focus{
                        outline: none;
                    }
                }
                .rp_bt{
                    text-align: center;
                    button{
                        margin: 20px;
                    }
                }
            }
            .tr_be_reported{
                display: none;
                h2{
                    text-align: center;
                }
                p{
                    text-align: left;
                    margin: 15px 0;
                }
            }
        }
    }

    //<!-- --------------------aside link------------------ -->
    #aside-link{
        display:block;
        position: fixed;
        right: 1px;
        bottom: 300px;
        height: auto;
        z-index: 4;
    }
    
    .aside-com-btn{
        display: block;
        position: absolute;
        right: 0px;
        bottom: 20px;
        height: auto;
        width: 100px;

        img{
            width: 100%;
            margin: 3px 0px;
        }
    }

/* ----------------------GO TOP---------------------- */
    #gotop a{
        text-decoration: none;
    }

    #gotop {
        position:fixed;
        z-index:90;
        right:20px;
        bottom:31px;
        display:none;
        width:50px;
        height:50px;
        color:#fff;
        background-color: #153a64;
        line-height:50px;
        transition:all 0.5s;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    
        & .svg-inline--fa.fa-arrow-up.fa-w-14 path{
            color:#fff;
            transform: scale(1);
        }
    }

    // ===========media screen===========

@media screen and (min-width: 1440px) {
    // 請用1366
        // max-width: 1366px;
    main#comment{
        max-width: 1366px;
    }

}
@media screen and (min-width: 1200px) and (max-width: 1440px){
    main#comment{
        max-width: 1152px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    main#comment{
        max-width: 960px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    main#comment{
        max-width: 720px;
    }
    .original-poster-block .name_time{
        flex-direction: column;
    }
    // .area-tittle{
    //     p{
    //        writing-mode: vertical-lr;
    //     }
    // }
    .product-block{
        flex-wrap: wrap;
        .product-img{
            width: 45%;
            &:nth-child(6){
                display: none;
            }
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    main#comment{
        max-width: 540px;
    }
    .original-poster-block .name_time{
        flex-direction: column;
    }

    .product-block{
        flex-wrap: wrap;
        .product-img{
            width: 45%;
            &:nth-child(6){
                display: none;
            }
        }
    }
}
@media screen and (max-width: 575px){
    main#comment{
        max-width: 100%;
        .post-poster-block01{
            .post-text{
                .triangle1{
                    .triangle1-text{
                        .report{
                            display: block;
                            text-align: center;
                            width: 30%;
                            margin: auto;
                            >img{
                                width: 15px;
                            }
                        }
                    }
                }
            }
        }
        .post-poster-block02{
            .post-text{
                .triangle2{
                    .triangle-text{
                        .report{
                            display: block;
                            text-align: center;
                            width: 30%;
                            margin: auto;
                            >img{
                                width: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    .original-poster-block .name_time{
        flex-direction: column;
    }
    .product-block{
        .product-img{
            width: 30%;
            margin: 1px;
            &:nth-child(6){
                display: none;
            }
        }
    }
}
nav.menu ul.link_list.llleft li{
    & a p::after {
        display: none;
        content: "";
        position: absolute;
        border-radius: 5px;
        width: 70px;
        height: 4px;
        top: 41px;
        background-color: $mt_yellow;
    }
    & a.forum p::after {
        display: block;
        @media screen and (min-width: 1440px) { left: 213px; }
        @media screen and (min-width: 1200px) and (max-width: 1439px){left: 141px;}
        @media screen and (min-width: 992px) and (max-width: 1199px){left: 120px;}
        @media screen and (min-width: 576px) and (max-width: 991px) {top: 75px; width: 165px; }
        @media screen and (max-width: 575px) {top: 42px; width: 100px; }
    }
}