@import 'common';
@import './hamburgers';
// *{
//     border: 1px solid black;
// }



 
header{
    background-color: $mt_blue2;
    border-bottom: 5px solid $mt_blue1;
    height: 70px;
    width: 100%;
    z-index: 99;
    & div#headerbox {
        & * {
            vertical-align: middle;
        }
        // overflow: hidden;
        margin: 0 auto;
        height: 100%;
        position: relative;
        // border: 2px solid red;
        & a{
            width: 190px;
            height: 70px;
            cursor: pointer;
            & img {
                position: relative;
                // top: 9px;
                height: 50px;
            }
        }
        & nav.menu{
            position: absolute;
            display: inline-block;
            transition: 0.3s all ease-in-out;
            // margin-left: 60px;
            left: 160px;
            top: 12px;
            & ul.link_list.llleft{
                list-style: none;
                margin: 0;
                padding: 0;
                display: inline;
                & li {
                    display: inline-block;
                    & a {
                        width: auto;
                        height: 34px;
                        display: inline-block;
                        text-decoration: none;
                        padding: 2px 5px;
                        & p {
                            color: white;
                            transition: 0.2s all ease-in-out;
                        }
                    }
                }
            }
            & ul.link_list.llright{
                position: relative;
                list-style: none;
                // bottom: 7px;
                padding: 0;
                display: inline-block;
                right: 0;
                // border: 2px solid red;
                & li {
                    transition: 0.2s all ease-in-out;
                    display: inline-block;
                    margin: 0 5px;
                    cursor: pointer;
                    #mem_avatar_box{
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        border: 1px solid white;
                        overflow: hidden;
                        border-radius: 50%;
                        // position: absolute;
                        left: 0px;
                        // top: -7px;
                        visibility: hidden;
                        img{
                            width:100%;
                        }
                    }
                    #mem_info_id{
                        display: inline-block;
                        text-align: center;
                        line-height: 50px;
                        // position: absolute;
                        left: 57px;
                        // top: -7px;
                        color: white;
                        visibility: hidden;
                    }
                    button.btnB_L_grey{
                        display: inline-block;
                        // left: 24px;
                        // top: 8px;
                        visibility: hidden;
                        // margin: 0 18px;
                    }
                    &  a.member div.memicon {
                        width: 50px;
                        height: 50px;
                        padding: 10px;
                        & .membg {
                            width: 100%;
                            height: 100%;
                            background-image: url("../images/icons/icon_member.svg");
                            background-position: center; 
                            background-repeat: no-repeat;
                            background-size: contain; 
                        }
                    }
                    &  a.cart div.carticon {
                        width: 50px;
                        height: 50px;
                        padding: 10px;
                        & .cartbg {
                            width: 100%;
                            height: 100%;
                            background-image: url("../images/icons/icon_car.svg");
                            background-position: center; 
                            background-repeat: no-repeat;
                            background-size: contain; 
                        }
                    }
                }
            }
        }
        div#imagebox{
            // border: 2px solid red;
            position: relative;
            top: 0px;
            width: 200px;
            height: 70px;
            overflow: hidden;
            & img{
                position: absolute;
                left: 0;
                top: 100%;
                width: 90%;
                transition: 0.2s all ease-out;
            }
        }


        div#greymask{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba($mt_black,0);
            transition: 0.2s all;
            &.on{
                display: block;
            }
            &.show{
                background-color: rgba($mt_black,0.5);
            }
        }
        .hamburger{
            z-index: 25;
            right: 25px;
            top: 7px;
            position: absolute;
            outline: none !important;
            &.is-active .hamburger-box .hamburger-inner{
                background-color: $mt_blue2;
                &::before , &::after{
                    background-color: $mt_blue2;
                }
            }
        }
    }


div#hamburgerBG{
    position: absolute;
    width: 600px;
    height: 100vh;
    right: 0;
    top: 0;
    overflow: hidden !important;
    display: none !important;
    opacity: 0 !important;
    // border: 2px solid red;
    & div.ab{
        position: absolute;
        transition: 0.1s all linear;
    }
    & div.white{
        top: 0;
        width: 100%;
        height: 100%;
        min-height: 986px;
        background-color: rgb(255, 255, 255);
        transform: skew(16deg) translateX(150px)
    }
    & div.yellow1{
        opacity: 0;
        top: 141px;
        left: 95px;
        height: 70px;
        // border: 3px solid cyan;
        background-color: $mt_yellow;
        transform: skew(16deg) 
    }
    & div.yellow2{
        opacity: 0;
        top: 225px;
        left: 120px;
        height: 70px;
        // border: 3px solid cyan;
        background-color: $mt_yellow;
        transform: skew(16deg) 
    }
    & div.yellow3{
        opacity: 0;
        top: 309px;
        left: 140px;
        height: 70px;
        // border: 3px solid cyan;
        background-color: $mt_yellow;
        transform: skew(16deg) 
    }
    &.on{
        display: block !important;
    }
    &.show{
        opacity: 0.9 !important;
        right: 0;
    }
}
  
}

@media screen and (min-width: 1440px) {
    div#headerbox {
        width: 1366px;
        & nav.menuhover {
            position: absolute;
            left: 160px;
            top: 20px;
            & li.bg{
                opacity: 0;
                transition: 0.2s all ease-in-out;
                display: inline-block;
                transform:skewX(15deg);
                width: 120px;
                height: 30px;
                margin: 0 21.5px;
                background-color: $mt_yellow;
            }
        }
        & nav.menu{
            & ul.link_list.llleft{
                & li{
                    margin: 0 45px;
                    &:hover p{
                        color: $mt_blue2;
                    }
                }
                
            }
            & ul.link_list.llright{
                margin-left: 300px;
                // & li{
                //     margin: 0 0px;
                // }
            }
        }
        div#imagebox{
            display: inline-block;
            margin-left: 500px;
        }
        .hamburger{
            display: none;
        }
    }

}
@media screen and (min-width: 1200px) and (max-width: 1439px){
    div#headerbox {
        width: 1152px;
        & nav.menuhover {
            position: absolute;
            left: 160px;
            top: 20px;
            & li.bg{
                opacity: 0;
                transition: 0.2s all ease-in-out;
                display: inline-block;
                transform: skewX(15deg);
                width: 80px;
                height: 30px;
                margin: 0 17px;
                background-color: $mt_yellow;
            }
        }
        & nav.menu{
            & ul.link_list.llleft{
                & li{
                    margin: 0 21px;
                    &:hover p{
                        color: $mt_blue2;
                    }
                }
                
            }
            & ul.link_list.llright{
                margin-left: 190px;
                & li{
                    margin: 0 18px;
                }
            }
        }
        div#imagebox{
            display: inline-block;
            left: 385px;
        }
        .hamburger{
            display: none;
        }
    }

}
@media screen and (min-width: 992px) and (max-width: 1199px){
    //960
    div#headerbox {
        width: 960px;
        & a.logo img.logo {
            margin-top: 6px;
        }
        & nav.menuhover {
            position: absolute;
            left: 157px;
            top: 20px;
            & li.bg{
                opacity: 0;
                transition: 0.2s all ease-in-out;
                display: inline-block;
                transform:skewX(15deg);
                width: 80px;
                height: 30px;
                margin: 0 10.5px;
                background-color: $mt_yellow;
            }
        }
        & nav.menu{
            & ul.link_list.llleft{
                & li{
                    margin: 0 14px;
                    &:hover p{
                        color: $mt_blue2;
                    }
                }
            }
            & ul.link_list.llright{
                margin-left: 20px;
                & li{
                    margin: 0 18px;
                }
            }
        }
        div#imagebox{
            display: none;
        }
        .hamburger{
            display: none;
        }
    }
}



@media screen and (min-width: 768px) and (max-width: 991px) {//漢堡開始
    //720
    header{
        position: sticky;
        top: 0;
    }
    div#headerbox {
        width: 100%;
        & a.logo img.logo {
            margin-top: 6px;
            margin-left: 6px;
        }
        & nav.menuhover {
            display: none;
        }
        & nav.menu{
            z-index: 20;
            display: none !important; 
            opacity: 0 !important;
            margin-left: calc( 150px + 40%);
            top: 0px;
            & ul.link_list.llleft{
                z-index: 20;
                top: 66px;
                position: absolute !important;
                width: 200px;
                // border: 2px solid red;
                & >:nth-child(1){
                    transform: translateX(-170px);
                }
                & >:nth-child(2){
                    transform: translateX(-135px);
                }
                & >:nth-child(3){
                    transform: translateX(-100px);
                }
                & li{
                    display: block !important;
                    margin: 50px 0px !important;
                    & a {
                        & p {
                            font-size: 50px !important;
                            color: $mt_blue2 !important;
                            // transform: translateY(-20px);
                        }
                    }
                }
            }
            & ul.link_list.llright{
                z-index: 20;
                top: 400px;
                transform: translateX(40px);
                position: absolute !important;
                min-width: 200px ;
                width: auto;
                max-width: 400px;
                border: 1px solid red;
                // & >:nth-child(1) , >:nth-child(2) , >:nth-child(4) , >:nth-child(5){
                //     display: inline-block;
                // }
                & >:nth-child(3) {
                    display: block !important;
                }
                & li{
                    margin: 10px auto !important;
                    
                    & > * {
                        display: inline-block !important;
                    }
                    & > a {
                        width: auto !important;
                    }
                    #mem_avatar_box{
                        display: none;
                    }
                    #mem_info_id{
                        display: none;
                        color: $mt_fontdark !important;
                    }
                }  
            }
            &.on{
                display: block !important; 
            }
            &.show{
                opacity: 1 !important;
            }
        }
        & .hamburger{
            display: block;
        }
    }
    div#imagebox{
        display: none;
    }
    div#hamburgerBG{
        & div.yellow1{
            width: 400px;
        }
        & div.yellow2{
            width: 400px;
        }
        & div.yellow3{
            width: 400px;
        }
    }

    
}
@media screen and (min-width: 576px) and (max-width: 767px){
    //540
    header{
        position: sticky;
        top: 0;
    }
    div#headerbox {
        width: 540px;
        & nav.menuhover {
            display: none;
        }
        & nav.menu{
            z-index: 20;
            display: none !important; 
            opacity: 0 !important;
            margin-left: calc( 50px + 30%);
            top: 0px;
            & ul.link_list.llleft{
                z-index: 20;
                top: 66px;
                position: absolute !important;
                width: 200px;
                // border: 2px solid red;
                & li{
                    display: block !important;
                    margin: 50 30px !important;
                    & a {
                        & p {
                            font-size: 50px !important;
                            color: $mt_blue2 !important;
                            transform: translateY(-20px);
                        }
                    }
                    & a.tour {
                        transform: translateX(-70px) translateY(70px);
                    }
                    & a.forum {
                        transform: translateX(-30px) translateY(120px);
                    }
                    & a.product {
                        transform: translateX(10px) translateY(170px);
                    }
                }
            }
            & ul.link_list.llright{
                z-index: 20;
                top: 470px;
                transform: translateX(40px);
                position: absolute !important;
                
            }
            &.on{
                display: block !important; 
            }
            &.show{
                opacity: 1 !important;
            }
        }
        div#imagebox{
            display: none ;
        }
        & .hamburger{
            display: block;
        }

    }
    div#hamburgerBG{
        & div.yellow1{
            width: 320px;
        }
        & div.yellow2{
            width: 320px;
        }
        & div.yellow3{
            width: 320px;
        }
    }

}
@media screen and (max-width: 575px){
    //100%
    a.logo img {
        transform: scale(0.75);
    }
    header{
        position: sticky;
        top: 0;
    }
    div#headerbox {
        width: 100%;
        & nav.menuhover {
            display: none;
        }
        & nav.menu{
            z-index: 20;
            display: none !important; 
            opacity: 0 !important;
            margin-left: calc(110% - 250px);
            top: -100px;
            & ul.link_list.llleft{
                z-index: 20;
                top: 72px;
                position: absolute !important;
                width: 200px;
                // border: 2px solid red;
                & li{
                    display: block !important;
                    margin: 50 30px !important;
                    & a {
                        & p {
                            font-size: 30px !important;
                            color: $mt_blue2 !important;
                            transform: translateY(-20px);
                        }
                    }
                    & a.tour {
                        transform: translateX(-70px) translateY(90px);
                    }
                    & a.forum {
                        transform: translateX(-50px) translateY(112px);
                    }
                    & a.product {
                        transform: translateX(-30px) translateY(134px);
                    }
                }
            }
            & ul.link_list.llright{
                z-index: 20;
                top: 350px;
                transform: translateX(-10px);
                position: absolute !important;
            }
            &.on{
                display: block !important; 
            }
            &.show{
                opacity: 1 !important;
            }
        }
        div#imagebox{
            display: none ;
        }
        & .hamburger{
            display: block;
            right: 2px !important;
        }

        div#hamburgerBG{
            width: 350px;
            & div.yellow1{
                top: 98px;
                height: 50px;
                left: -106px;
                width: 175px;
            }
            & div.yellow2{
                top: 164px;
                height: 50px;
                left: -88px;
                width: 175px;
            }
            & div.yellow3{
                top: 231px;
                height: 50px;
                left: -68px;
                width: 175px;
            }
        }
    }
}

// cartCount
.add_count_others{
    display: none;
    border-radius: 50%;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    // line-height: 20px;
    font-size: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}



// 所在位置 //
nav.menu ul.link_list.llleft li{
    & a p::after {
        display: none;
        content: "";
        position: absolute;
        border-radius: 5px;
        width: 70px;
        height: 4px;
        top: 41px;
        background-color: $mt_yellow;
    }
    & a.tour p::after {
        display: block;
        @media screen and (min-width: 1440px) {left: 47px;}
        @media screen and (min-width: 1200px) and (max-width: 1439px){left: 22px; }
        @media screen and (min-width: 992px) and (max-width: 1199px){left: 17px; }
        @media screen and (min-width: 576px) and (max-width: 991px) {top: 75px; width: 165px; }
        @media screen and (max-width: 575px) {top: 42px; width: 100px; }
    }
    & a.forum p::after {
        display: block;
        @media screen and (min-width: 1440px) { left: 213px; }
        @media screen and (min-width: 1200px) and (max-width: 1439px){left: 141px;}
        @media screen and (min-width: 992px) and (max-width: 1199px){left: 120px;}
        @media screen and (min-width: 576px) and (max-width: 991px) {top: 75px; width: 165px; }
        @media screen and (max-width: 575px) {top: 42px; width: 100px; }
    }
    & a.product p::after {
        display: block;
        @media screen and (min-width: 1440px) {left: 380px;}
        @media screen and (min-width: 1200px) and (max-width: 1439px){left: 260px; }
        @media screen and (min-width: 992px) and (max-width: 1199px){left: 225px; }
        @media screen and (min-width: 576px) and (max-width: 991px) {top: 75px; width: 165px; }
        @media screen and (max-width: 575px) {top: 42px; width: 100px; }
    }
}

a.member div.memicon .membg { background-image: url("../images/icons/icon_member_h.svg") !important;}
a.cart div.carticon .cartbg { background-image: url("../images/icons/icon_car_h.svg") !important;}


// 結束 //