@import "common";


$textColor1: $mt_fontdark;


/////字體/////

@mixin contentText {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px;
}


//被div裁型的圖片
@mixin imgs {
    width: 100%;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
}



#meet2-2{
    // border: 1px solid blue;
    margin: auto;
    max-width: 1366px;
    width: 100%;
    // img{
    //     @include imgs;
    // }
    h2{
        text-align: center;
        margin-bottom: 30px;
    }
    .step{  //步驟提示圖
        ul{
            display: flex;
            justify-content: center;
            li{
                display: flex;
                >div{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    margin: auto 25px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    img{
                        width: 35px;
                    }
                    &::before{
                        content: "";
                        display: inline-block;
                        width: 25px;
                        height: 2px;
                        background: #666;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -37.5px;
                    }
                }
                &:nth-child(2){
                    img{
                        height: 60px;
                    }
                }
                &:last-child{
                    div{
                        &::before{
                            display: none;
                        }
                    }
                }
            }
            li.-on{
                >div{
                    background-color: $mt_yellow;
                }
            }
        }
    }
    .tour_build_form{  //開團表單
        border: 1px solid $textColor1;
        border-radius: 30px;
        height: 70vh;
        overflow-y: scroll;
        margin: 50px auto;
        padding: 30px;
        max-height: 570px;
        &::-webkit-scrollbar{
            background-color:  transparent;
        }
        .btn_box{
            align-self: flex-end;
        }
        input,select,textarea,.degree_category{
            outline: none;
            width: 100%;
            background-color: $mt_grey2 ;
            border:none;
            height: 40px;
            border-radius: 8px;
            padding: 5px;
        }
        .tour_build_step1{ //步驟一
            // border: 1px solid rgb(167, 50, 50);
            display: none;
            justify-content: space-between;
            section{
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .mountain_image{
                    width: 70%;
                    padding-top: 70%;
                    margin: auto;
                    background-color: #ccc;
                    position: relative;
                    &::after{
                        content: "將依據您所選擇地點跳轉圖片";
                        font: 20px;
                        position: absolute;
                        color: $mt_fontdark;
                        @include ab_center;
                    }
                }
                .tour_info1{
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content:center;
                    .tour_number{
                        select{
                            width: 30%;
                        }
                    }
                }
            }
        }
        .tour_build_step2{ //步驟二
            // border: 1px solid rgb(34, 163, 180);
            height: 100%;
            display: none;
            justify-content: space-between;
            .tour_info2{
                width: 60%;
                display: flex;
                justify-content: space-between;
                
                >div{
                    width: 50%;
                    height: 100%;
                    padding-right: 10px;
                    display: flex;
                    flex-direction: column;
                    overflow-y: scroll;
                    &::-webkit-scrollbar{
                        background-color:  transparent;
                    }

                    .tour_equip{ //建議裝備
                        margin-bottom: 30px;
                        >div{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;

                        }
                        input{
                            margin: auto ;
                            width: 10px;
                            height: 10px;
                            // display: none;
                        }
                        label{
                            width: 50%;
                            margin: 5px 0;
                            display: flex;
                            justify-content: flex-end;
                            p{
                                display: inline-block;
                                line-height: 40px;
                                background-color: $mt_grey2;
                                border-radius: 8px;
                                padding: 0 5px;
                                width: 80%;
                                position: relative;
                                // &::before{
                                //     content: "";
                                //     width: 10px;
                                //     height: 10px;
                                //     border-radius: 50%;
                                //     border: 1px solid $mt_fontdark;
                                //     position: absolute;
                                //     top:50%;
                                //     left:-15px;
                                //     transform: translateY(-50%);
                                // }
                            }
                        }
                    }
                    .notice{//注意事項
                        flex-grow:2;
                        display: flex;
                        flex-direction: column;
                    }
                }
                >label{ //活動簡介
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                }
                textarea{
                    resize : none;
                    flex-grow:2;
                }

            }
        }
        .tour_build_step3{ //步驟三
            // border: 1px solid rgb(50, 167, 50);
            height: 100%;
            display: none;
            flex-direction: row;
            justify-content: space-between;
            .tour_info3{
                width: 60%;
                display: flex;
                justify-content: space-between;
                label{
                    border: 1px solid #000;
                    position: relative;
                    input{ //上傳照片
                        border: 1px solid #000;
                        width: 25px;
                        height: 25px;
                        padding: 0;
                        opacity: 0;
                        z-index: 2;
                    }
    
                    .upload_tourimg{ //＋＋
                        border: 1px solid #000;
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        top: 0;
                        right: 0;
                        left: auto;
                        transform: translate(0,0);
                        z-index: -2;
                    }
                }
                
                .tour_image{
                    flex-grow: 2;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    overflow-y: auto;
                    &::-webkit-scrollbar{
                        background-color:  transparent;
                    }
                    >div{
                        width: 30%;
                        padding-top: 30%;
                        border-radius: 10px;
                        background-color:#EAF1F4;
                        margin: 5px;
                        align-self: center;
                        overflow: hidden;
                        position: relative;
                        img{
                            @include imgs;
                        }
                    }
                }
            }
        }
        section.-on{
            display: flex;
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152
         // max-width: 1152px;
    #meet2-2{
        max-width: 1152px;
        width: 100%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
         // max-width: 960px;
   

    #meet2-2{
        max-width: 960px;
        width: 100%;
        .tour_build_form{
            .tour_build_step2{ //步驟二
                .tour_info2{
                    width: 70%;
                }
            }
            .tour_build_step3{ //步驟三
                .tour_info3{
                    width: 70%;
                }
            }
        }

    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px;
  

    #meet2-2{
        max-width: 720px;
        width: 100%;
        
        .tour_build_form{
            .tour_build_step2{ //步驟二
                .tour_info2{
                    width: 70%;
                }
            }
            .tour_build_step3{ //步驟三
                .tour_info3{
                    width: 70%;
                    .tour_image{
                        >div{
                            width: 45%;
                            padding-top: 45%;
                        }
                    }
                }
            
            }
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  // 請用540
        // max-width: 540px;
 
  

    #meet2-2{
        max-width: 540px;
        width: 100%;
        .tour_build_form{
            .btn_box{
                order:1;
            }
            .tour_build_step1{ //步驟一
                flex-direction: column;
                section{
                    width: 100%;
                }
                .tour_info1_btn{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .tour_info1{
                        width: 70%;
                        margin: 30px auto;
                    }
                }
            }
            .tour_build_step2{ //步驟二
                flex-wrap: wrap;
                .tour_info2{
                    width: 100%;
                }
            }
            .tour_build_step3{ //步驟三
                flex-wrap: wrap;
                height: auto;
                .tour_info3{
                    width: 100%;
                    flex-direction: column;
                    .tour_image{
                        >div{
                            width: 45%;
                            padding-top: 45%;
                        }
                    }
                }
            
            }
        }
    }
}
@media screen and (max-width: 575px){
    // 請用100%
        // max-width: 100%;


    #meet2-2{
        max-width: 100%;
        .tour_build_form{
            margin: 30px;
            padding: 20px 20px 40px 20px;
            .btn_box{
                order:1;
            }
            .tour_build_step1{ //步驟一
                flex-direction: column;
                section{
                    width: 100%;
                }
                .tour_info1_btn{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .tour_info1{
                        width: 100%;
                        margin: 30px auto;
                    }
                }
            }
            .tour_build_step2{ //步驟二
                flex-wrap: wrap;
                height: auto;
                .tour_info2{
                    width: 100%;
                    margin-bottom: 30px;
                    flex-direction: column;
                   >div, .tour_innertext{
                       width: 100%;
                       padding: 0;
                       .notice{
                            textarea{
                                height: 15vh;
                            }
                       }
                       textarea{
                            height: 50vh;
                        }
                   }
                   >div{
                       margin-bottom: 20px;
                   }
                }
            }
            .tour_build_step3{ //步驟三
                flex-wrap: wrap;
                height: auto;
                .tour_info3{
                    width: 100%;
                    flex-direction: column;
                    margin-bottom: 30px;
                    .tour_image{
                        >div{
                            width: 45%;
                            padding-top: 45%;
                        }
                    }
                }
            
            }
        }
    }
}




// 所在位置 //
nav.menu ul.link_list.llleft li{
    & a p::after {
        display: none;
        content: "";
        position: absolute;
        border-radius: 5px;
        width: 70px;
        height: 4px;
        top: 37px;
        background-color: $mt_yellow;
    }
    & a.tour p::after {
        display: block;
        @media screen and (min-width: 1199px) {left: 48px;}
        @media screen and (min-width: 992px) and (max-width: 1199px){left: 27px; }
        @media screen and (min-width: 576px) and (max-width: 991px) {top: 75px; width: 165px; }
        @media screen and (max-width: 575px) {top: 42px; width: 100px; }
    }
}