
@import "common";
@import "memberStyle";

$textColor1: $mt_fontdark;

@mixin contentText {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px;
}


/////會員/////
//會員款式Ａ
@mixin memberIdA {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.5px;
}
@mixin memberImgA {
    display: inline-block;
    background-color: #555;
    width: 65px;
    padding-top: 65px;
}

//文字最多只顯示兩行
@mixin towLine {
    display: -webkit-inline-box;
    -webkit-line-clamp:2;
    /*!autoprefixer:off*/
    -webkit-box-orient: vertical;
    /*autoprefixer:on*/
    overflow:hidden;
}
//文字最多只顯示3行
@mixin threeLine {
    display: -webkit-box;
    -webkit-line-clamp:3;
    /*!autoprefixer:off*/
    -webkit-box-orient: vertical;
    /*autoprefixer:on*/
    overflow:hidden;
}
//文字最多只顯示4行
@mixin fourLine {
    display: -webkit-box;
    -webkit-line-clamp:4;
    /*!autoprefixer:off*/
    -webkit-box-orient: vertical;
    /*autoprefixer:on*/
    overflow:hidden;
}

//被div裁型的圖片
@mixin imgs {
    width: 100%;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
}



#meet2-0{
    .hotMeet{
        border: 1px solid red;
        width: 80%;
        margin: auto;
        background: linear-gradient(transparent,$mt_grey2,transparent);
        z-index: -100;
        h2{
            margin:50px auto;
        }
        >div{
            border: 1px solid #000;
            margin-bottom: 70px;
            display: flex;
            flex-direction: column;
            .hot_meet_top3{
                border: 1px solid green;
                width: 50%;
                .meet_mountain_img{
                    width: 50%;
                    padding-top: 50%;
                    background-color: #ccc;
                    margin-bottom: -25%;
                    img{
                        @include imgs;
                    }
                }
                .meet_content{
                    border: 1px solid #000;
                    padding: 30px ;
                    display: flex;
                    position: relative;
                    .bg_cloud{
                        width: 100%;
                        position: absolute;
                        bottom:10px;
                        left:0;
                        
                    }
                    .member_styleA.column{
                        border: 1px solid #00f;
                        z-index: 2;
                    }
                    .title_info_text{
                        border: 1px solid #0f0;
                        z-index: 2;
                        .info{
                            background-color: #ff0;
                        }
                        .meetContent{
                            @include fourLine;
                        }
                    }
                    .like_btn{
                        z-index: 2;
                        >div{
                            height: 50%;
                        }
                    }

                }
            }
            .top1{
                margin: 0 auto;
            }
            .top2-3{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .newMeet{
        border: 1px solid red;
        width: 80%;
        margin: auto;
        h2{
            margin:50px auto;
        }
        .changeTypeBtn{
            border: 1px solid orange;
            display: flex;
            justify-content:flex-end;
            margin-bottom: 30px;
            button{
                border: 1px solid red;
                margin: 5px;
            }
            button.-on{
                background-color: yellowgreen;
            }
        }
        .newMeetActivity{
            border: 1px solid #000;
            padding: 15px;
            .item{
                border: 1px solid blue;
                padding: 15px;
                .newImg{
                    background-color: #555;
                }
                .newMeetTextCont{
                    border: 1px solid #000;
                    .tittleLike{
                        h3{
                            @include towLine;
                            width:90%;
                            vertical-align: middle;
                        }
                        .heartIcon{
                            display:inline-block;
                            vertical-align: middle;
                            i{
                                font-size: 25px;
                            }
                        }
                    }
                    .info{
                        border: 1px solid pink;
                        display: inline-block;
                    }
                    .meetContent{
                        .textContent{
                            @include threeLine;
                        }
                    }
                }
                .organiser{
                    border: 1px solid #0F0;
                    .memberImg{
                        @include memberImgA;
                        img{
                            @include imgs;
                        }
                    }
                    .memberInfo{
                        display: inline-block;
                        .certification{
                            background-color: blue;
                            .certificationIcon{
                                background-color: #555;
                                display: inline-block;
                                width: 10px;
                                padding-top: 10px;
                            }
                        }
                        .memberId{
                            @include memberIdA;
                            border: 1px solid #000;
                        }
                        .memberBadge{
                            background-color: blue;
                            .memberBadgeIcon{
                                background-color: #555;
                                display: inline-block;
                                width: 25px;
                                padding-top: 25px;
                            }
                        }
                    }
                }
            }
        }
        .newMeetActivity.card{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .item{
                width: 350px;
                margin-top: 100px;
                display: inline-block;
                .newImg{
                    width: 100%;
                    padding-top: 100%;
                    margin: -70px auto auto auto;
                }
                .organiser{
                    width: 180px;
                    display: inline-block;
                }
            }
        }
        .newMeetActivity.list{
            .item{
                display: flex;
                justify-content: space-between;
                margin: 30px auto;
                .newImg{
                    width: 25%; //
                    display: inline-block; //
                }
                .newMeetTextCont{
                    width: 60%; //
                    display: inline-block; //
                }
                .organiser{
                    display: flex;//
                    flex-direction:column;//
                    justify-content:center;//
                    align-items: center;//
                    .memberInfo{
                        .certification{
                            display: flex;//
                            justify-content:center;//
                            .certificationIcon{
                                margin: 5px;//
                            }
                        }
                        .memberBadge{
                            display: flex;//
                            justify-content:space-around;//
                        }
                    }
                }
            }
        }
        div.page{
            display: flex;
            justify-content: center;
        }
    }
    
}

@media screen and (min-width: 1440px) {
    // 請用1366
        // max-width: 1366px;
      }
@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152

}
@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
         // max-width: 960px;
  
}
@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px;
   
}
@media screen and (min-width: 576px) and (max-width: 767px){
  // 請用540
        // max-width: 540px;
  
}
@media screen and (max-width: 575px){
    // 請用100%
        // max-width: 100%;
  
}
