
@import "common";
@import "memberStyle";

$textColor1: $mt_fontdark;

@mixin contentText {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px;
}



//文字最多只顯示兩行
@mixin towLine {
    display: -webkit-inline-box;
    -webkit-line-clamp:2;
    /*!autoprefixer:off*/
    -webkit-box-orient: vertical;
    /*autoprefixer:on*/
    overflow:hidden;
}
//文字最多只顯示3行
@mixin threeLine {
    display: -webkit-box;
    -webkit-line-clamp:3;
    /*!autoprefixer:off*/
    -webkit-box-orient: vertical;
    /*autoprefixer:on*/
    overflow:hidden;
}
//文字最多只顯示4行
@mixin fourLine {
    display: -webkit-box;
    -webkit-line-clamp:4;
    /*!autoprefixer:off*/
    -webkit-box-orient: vertical;
    /*autoprefixer:on*/
    overflow:hidden;
}

//被div裁型的圖片
@mixin imgs {
    height: 100%;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
}



#meet2-0{
    margin:auto;
    max-width: 1366px;
    .serchMeet{
        h2{
            margin:50px auto;
        }
        .serch{
            .location{
                display: flex;
                align-items: center;
                >p{
                    display: inline-block;
                    color:#fff;
                    padding: 5px 15px;
                    line-height: 30px;
                    border-radius: 50%;
                    background-color: $mt_blue2;
                    margin: 10px;
                }
                >div{
                    label{
                        input{
                            // display: none;
                        }
                        p{
                            display: inline-block;
                            padding: 3px 10px;
                        }
                        p.-on{
                            color:#fff;
                            background-color: $mt_yellow;
                        }
                    }
                }
            }
        }
    }
    .hotMeet{
        display: none;
        border: 1px solid blue;
        margin: auto;
        background: linear-gradient(transparent,$mt_grey2,transparent);
        z-index: -100;
        h2{
            margin:50px auto;
        }
        >div{
            border: 1px solid #000;
            margin-bottom: 70px;
            display: flex;
            flex-direction: column;
            .hot_meet_top3{
                border: 1px solid green;
                width: 50%;
                .meet_mountain_img{
                    width: 50%;
                    padding-top: 50%;
                    background-color: #ccc;
                    margin-bottom: -25%;
                    img{
                        @include imgs;
                    }
                }
                .meet_content{
                    border: 1px solid #000;
                    padding: 30px ;
                    display: flex;
                    position: relative;
                    .bg_cloud{
                        width: 100%;
                        position: absolute;
                        bottom:10px;
                        left:0;
                        
                    }
                    .member_styleA.column{
                        border: 1px solid #00f;
                        z-index: 2;
                    }
                    .title_info_text{
                        border: 1px solid #0f0;
                        z-index: 2;
                        .info{
                            background-color: #ff0;
                        }
                        .meetContent{
                            @include fourLine;
                        }
                    }
                    .like_btn{
                        z-index: 2;
                        >div{
                            height: 50%;
                        }
                    }

                }
            }
            .top1{
                margin: 0 auto;
            }
            .top2-3{
                display: flex;
                justify-content: space-between;
            }
        }
        .mountain_img{
            background-color: #ff0;
            padding-top: 50%;
        }
    }

    .hotMeet1{
        // border: 1px solid blue;
        margin: auto;
        position: relative;
        h2{
            margin:50px auto;
        }
        .top1-3{
            height: 80vh;
            background-image: url(../images/meet/2-0-bg_top3_1.svg);
            background-repeat: no-repeat;
            background-size: 90%;
            background-position: 0 center;
            
            overflow-y: scroll;
            &::-webkit-scrollbar{
                background-color:  transparent;
            }
            >div{
                // border: 1px solid #000;
                display: flex;
                flex-direction: column;
                .hot_meet_top3{
                    // border: 1px solid green;
                    width: 50%;
                    min-width: 500px;
                    .meet_mountain_img{
                        width: 50%;
                        padding-top: 50%;
                        background-color: #ccc;
                        margin-bottom: -25%;
                        overflow: hidden;
                        position: relative;
                        img{
                            @include imgs;
                        }
                    }
                    .meet_content{
                        // border: 1px solid #000;
                        padding: 30px ;
                        display: flex;
                        position: relative;
                        .bg_cloud{
                            width: 100%;
                            position: absolute;
                            bottom:10px;
                            left:0;
                            
                        }
                        .member_styleA.column{
                            // border: 1px solid #00f;
                            z-index: 2;
                        }
                        .title_info_text{
                            // border: 1px solid #0f0;
                            z-index: 2;
                            h3{
                                @include towLine;
                            }
                            .meetContent{
                                @include fourLine;
                            }
                        }
                        .like_btn{
                            z-index: 2;
                            >div{
                                height: 50%;
                            }
                        }
    
                    }
                }
                .top1,.top3{
                    // border: 1px solid #00f;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .decoration_draw{
            background-image: url(../images/meet/2-0-decoration_draw1.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 25%;
            padding-top: 35%;
            position: absolute;
            bottom:0px;
            right:0;
        }
    }

    .newMeet{
        // border: 1px solid red;
        margin: auto;
        h2{
            margin:50px auto;
        }
        .changeTypeBtn{
            // border: 1px solid orange;
            display: flex;
            justify-content:flex-end;
            margin-bottom: 30px;
            button{
                // border: 1px solid red;
                margin: 5px;
            }
            button.-on{
                background-color: yellowgreen;
            }
        }
        .newMeetActivity{
            // border: 1px solid #000;
            padding: 15px;
            .item{
                // border: 1px solid blue;
                padding: 15px;
                .newImg{
                    // background-color: #555;
                    overflow: hidden;
                    position: relative;
                    img{
                        @include imgs;
                    }
                }
                .newMeetTextCont{
                    // border: 1px solid #000;
                    .tittleLike{
                        h3{
                            @include towLine;
                            width:90%;
                            vertical-align: middle;
                        }
                        .heartIcon{
                            display:inline-block;
                            vertical-align: middle;
                            i{
                                font-size: 25px;
                            }
                        }
                    }
                    .info{
                        // border: 1px solid pink;
                        display: inline-block;
                    }
                    .meetContent{
                        .textContent{
                            @include threeLine;
                        }
                    }
                }
                
            }
        }
        .newMeetActivity.card{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .item{
                width: 350px;
                margin-top: 100px;
                display: inline-block;
                .newImg{
                    width: 100%;
                    padding-top: 100%;
                    margin: -70px auto auto auto;
                }
                
            }
        }
        .newMeetActivity.list{
            .item{
                display: flex;
                justify-content: space-between;
                margin: 30px auto;
                .newImg{
                    width: 25%; //
                    display: inline-block; //
                }
                .newMeetTextCont{
                    width: 60%; //
                    display: inline-block; //
                }
                
            }
        }
        div.page{
            display: flex;
            justify-content: center;
        }
    }
    
}


@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152
    #meet2-0{
        max-width: 1152px; 
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
         // max-width: 960px;
    #meet2-0{
        max-width: 960px; 
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px;
    #meet2-0{
        max-width: 720px; 
        .hotMeet1{
            .top1-3{
                >div{
                    .hot_meet_top3{
                        width: 500px;
                    }
                }
                .top3{
                    .hot_meet_top3{
                        margin-right: 40px;
                    }
                }
            }
        }
    }
   
}

@media screen and (min-width: 576px) and (max-width: 767px){
  // 請用540
        // max-width: 540px;
    #meet2-0{
        max-width: 540px; 
        .hotMeet1{
            .top1-3{
                >div{
                    .hot_meet_top3{
                        width: 500px;
                        .meet_content{
                            flex-wrap: wrap;
                            justify-content: flex-end;
                            .member_styleA{
                                width: 211px;
                                display: inline-block;
                                margin-right: 50px;
                                .memberInfo{
                                    .certification{
                                        justify-content: flex-start;
                                    }
                                    .memberBadge{
                                        display: inline-block;
                                    }
                                }
                            }
                            .title_info_text{
                                width: 330px;
                                .meetContent{
                                    @include towLine;
                                }
                            }
                            
                        }
                    }
                }
                .top3{
                    .hot_meet_top3{
                        margin-right: 40px;
                    }
                }
            }
            .decoration_draw{
                right: -60px;
            }
        }
    }
  
}

@media screen and (max-width: 575px){
    // 請用100%
        // max-width: 100%;
    #meet2-0{
        max-width: 100%; 
        .hotMeet1{
            .top1-3{
                background-color: $mt_grey2;
                overflow-y:auto;
                height:auto;
                >div{
                    .hot_meet_top3{
                        width: 500px;
                        .meet_content{
                            flex-wrap: wrap;
                            justify-content: flex-end;
                            .member_styleA{
                                width: 211px;
                                display: inline-block;
                                margin-right: 50px;
                                .memberInfo{
                                    .certification{
                                        justify-content: flex-start;
                                    }
                                    .memberBadge{
                                        display: inline-block;
                                    }
                                }
                            }
                            .title_info_text{
                                width: 330px;
                                .meetContent{
                                    @include towLine;
                                }
                            }
                            
                        }
                    }
                }
                .top2{
                    display: flex;
                    justify-content: center;
                }
                .top3{
                    .hot_meet_top3{
                        margin-right: 0;
                    }
                }
            }
            .decoration_draw{
                display: none;
            }
        }
    }
}
