@import 'common';
@import 'meet2-3-1';

body{
    position: relative;
}
div.wrap{
    width: 1200px;
    margin: 40px auto;
    .person{
        display: flex;
        .person_headtag{
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        div.person_info{
            margin: auto 20px;
            .person_name-badge{
                display: flex;
                margin: auto 0;
                width: 50px;
                .person_name{
                    a{
                        color: #000;
                    }
                }
                .person_badge{
                    width: 100%;
                    img{
                        width: 100%;
                        margin: 0 5px;
                    }
                }
            }
            .person_following{
                font-size: 12px;
            }
        }
    }
    .public_pic-activity{
        display: flex;
        margin: 0 0 20px;
        .public_pic{
            width: 50%;
            >img{
                width: 100%;
                height: 400px;
                object-fit: cover;
            }
            .related_pic{
                margin: 10px 0;

                .related_pic_block{
                    display: flex;
                    .related_pic_item{
                        margin: 0 10px 0 0;
                        &:last-child{
                            margin: 0;
                        }
                        img{
                            width: 100%;
                            object-fit: cover;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .activity{
            width: 50%;
            margin: 0 0 0 20px;
            display: flex;
            flex-direction: column;
            h3.activity_title{
                margin: 0 0 10px;
            }
            .activity_report{
                display: flex;
                justify-content: space-between;
                margin: 0 20px;
                .report{
                    .report_bt{
                        cursor: pointer;
                        position: relative;
                        .report_hover{
                            width: 40px;
                            background-color: $mt_grey1;
                            position: absolute;
                            display: none;
                            top: -30px;
                            right: 0;
                            text-align: center;
                            &::after{
                                content: '';
                                position: absolute;
                                bottom: -10px;
                                right: 5px;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 10px 7px 0 3px;
                                border-color: $mt_grey1 transparent transparent transparent;
                            }
                        }
                        &:hover{
                            .report_hover{
                                display: block;
                            }
                        }
                    }   
                }
            }
            .info_icon{
                display: flex;
                justify-content: space-evenly;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                padding: 10px 0;
                .mountain_icon_part{
                    text-align: center;
                    .mountain_icon{
                        width: 100%;
                        height: 30px;
                    }
                    .mountain_text{
                        width: 100%;
                    }
                }
                .participant_icon_part{
                    text-align: center;
                    .participant_icon{
                        width: 100%;
                        height: 30px;
                    }
                    .participant_text{
                        width: 100%;
                    }
                }
                .collection_icon_part{
                    text-align: center;
                    .collection_icon{
                        width: 100%;
                        height: 30px;
                    }
                    .collection_text{
                        width: 100%;
                    }
                }
                .share_icon_part{
                    text-align: center;
                    div.share_icon{
                        width: 100%;
                        height: 30px;
                    }
                    .share_text{
                        width: 100%;
                    }
                }
            }
            .applied_participant{
                display: none;
                border-bottom: 1px solid #000;
                padding-bottom: 10px;
                h3.text_underline{
                    margin: 10px 0;
                    &::after{
                        padding-top: 2px;
                    }
                }
                .applied_participant_block{
                    display: flex;
                    .applied_participant_item{
                        margin: 0 20px;
                        .applied_participant_pic{
                            img{
                                width: 60px;
                                height: 60px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }
                        .applied_participant_name-badge{
                            display: flex;
                            .applied_participant_name{
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            .equip_recommend{
                border-bottom: 1px solid #000;
                .equip_block{
                    display: flex;
                    .equipment{
                        position: relative;
                        img{
                            width: 100%;
                            cursor: pointer;
                        }
                        .show_hover{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            text-align: center;
                            transition: all .5s 0s ease;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            background-size: 100% 100%;
                            &:hover{
                                background-color: rgba(150, 150, 150, .5);
                                opacity: 1;
                            }
                            .p_title{
                                // height: 100%;
                                color: #fff;
                                font-size: 40px;
                                // display: flex;
                                // justify-content: center;
                                // align-items: center;
                            }
                            .go_shop{
                                background-color: #fff;
                                width: 50%;
                                align-self: center;
                                border-radius: 15px;
                            }
                        }
                    }
                }
            }
            div{
                h3.text_underline{
                    margin: 5px 0;
                    &::after{
                        padding-top: 2px;
                    }
                }
            }
            button.apply_bt{
                margin: 0px auto 0;
                width: 80%;
                height: 40px;
                border-radius: 10px;
                font-size: 18px;
            }
        }
    }

    .introduction-application_block{
        .introduction-application_bt{
            display: flex;
            .change:after{
                content: '';
                width: 100%;
                padding-top: 5px;
                background-color:#fff;
                position: absolute;
                bottom: -2px;
                left: 0;  
            }
            .introduction_bt{
                width: 100px;
                border: 1px solid #000;
                border-bottom: none;
                background-color: #fff;
                position: relative;
                border-radius: 5px 5px 0 0;
                margin-right: 10px;
                text-align: center;
                cursor: pointer;
            }
            .application_bt{
                width: 100px;
                border: 1px solid #000;
                border-bottom: none;
                background-color: #fff;
                position: relative;
                border-radius: 5px 5px 0 0;
                text-align: center;
                cursor: pointer;
            }
        }
        .introduction-application_info{
            // height: 600px;
            border: 1px solid #000;
            padding: 20px;
            border-radius: 0 10px 10px 10px;
            .activity_introduction{
                display: block;
            }
            .activity_application{
                display: none;
                .no_applied{
                    display: none;
                }
                .applicant{
                    width: 400px;
                    border-radius: 15px;
                    background-color: #EAF1F4;
                    padding: 5px 0 10px;
                    margin: 5px;
                    .memPic{
                        display: flex;
                        a{
                            margin: 0 auto;
                            img{
                                width: 100px;
                                height: 100px;
                                border-radius: 50%;
                                object-fit: cover;
                                margin: 0 auto;
                            }
                        }
                    }
                    .memName{
                        h3{
                            text-align: center;
                        }
                    }
                    .medal{
                        display: flex;
                        justify-content: center;
                        li{
                            width: 30px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .follow{
                        display: flex;
                        justify-content: center;
                    }
                    .applied_bt{
                        display: flex;
                        justify-content: center;
                        .a_bt{
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
    .message{
        .leave_message_block{
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            textarea{
                resize: none;
                padding: 10px;
                &:focus{
                    outline: none;
                }
            }
            .bt_block{
                display: flex;
                justify-content: flex-end;
                border-bottom: 1px solid #000;
                button{
                    width: 100px;
                    margin: 10px 0;
                }
            }
        }
        .message_board_block{
            display: flex;
            width: 100%;
            border-bottom: 1px solid #000;
            margin: 20px auto;
            padding: 10px 0;
            .sent_message{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #ddd;
                border-radius: 20px;
                padding: 5px 50px 5px 10px;
                position: relative;
                .message_text{
                    .mg_time{
                        font-size: 10px;
                    }
                    .mg_report_bt{
                        position: absolute;
                        top: 0;
                        right: 10px;
                        cursor: pointer;
                        .mg_report_pic{
                            transform: scale(.7);
                        }
                        .mg_text{
                            display: none;
                            width: 40px;
                            text-align: center;
                            border-radius: 5px;
                            background-color: $mt_grey1;
                        }
                        &:hover{
                            // .mg_report_pic{
                            //     display: none;
                            // }
                            .mg_text{
                                position: absolute;
                                display: block;
                                top: -30px;
                                right: 0;
                                &::after{
                                    content: '';
                                    position: absolute;
                                    bottom: -10px;
                                    right: 5px;
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 10px 7px 0 3px;
                                    border-color: $mt_grey1 transparent transparent transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
        .change_page{
            text-align: center;
            margin: 20px auto;
        }
    }
    .related_article{
        width: 100%;
        position: relative;
        .content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            overflow: hidden;
            .article{
                width: 33%;
                text-align: center;
                margin: 0 2px;
                position: relative;
                .art_pic{
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .art_title{
                    width: 90%;
                    margin: 0 auto;
                    transition: all .3s ease;
                    &:hover{
                        color: #ffc107;
                    }
                }
            }
        }
        .left{
            display: none;
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-70%);
            color: #fff;
            font-size: 60px;
            transition: .4s ease;
            &:hover{
                color: #ffc107;
            }
        }

        .right{
            display: none;
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-70%);
            color: #fff;
            font-size: 60px;
            transition: .4s ease;
            &:hover{
                color: #ffc107;
            }
        }
    }
}

// gotop
#gotop a{
    text-decoration: none;
}

#gotop {
    position:fixed;
    z-index:90;
    right:20px;
    bottom:31px;
    display:none;
    width:50px;
    height:50px;
    color:#fff;
    background-color: #153a64;
    line-height:50px;
    transition:all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    & .svg-inline--fa.fa-arrow-up.fa-w-14 path{
        color:#fff;
        transform: scale(1);
    }
}

// aside-link
#aside-link{
    display:block;
    position: fixed;
    right: 1px;
    bottom: 300px;
    height: auto;
    z-index: 4;
    .aside-com-btn{
        display: block;
        position: absolute;
        right: 0px;
        bottom: 20px;
        height: auto;
        width: 100px;
    
        img{
            width: 100%;
            margin: 3px 0px;
        }
    }
}
//#report_block
#report_block_match.close{
    display: none;
}

#report_block_match{
    background-color: hsla(0, 0%, 0%,.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    .rp_lightbox{
        background-color: #fff;
        border-radius: 15px;
        width: auto;
        padding: 10px;
        position: relative;
        text-align: center;
        .rp_close{
            width: 20px;
            height: 20px;
            line-height: 20px;
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            // border: 1px solid #555;
            border-radius: 50%;
            &:hover{
                color: #bbb;
            }
        }
        .reporting{
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            text-align: left;
            >h2{
                margin: 20px auto;
            }
            >div{
                margin: 5px 0;
            }
            >textarea{
                resize: none;
                padding: 10px;
                &:focus{
                    outline: none;
                }
            }
            .rp_bt{
                text-align: center;
                button{
                    margin: 20px;
                }
            }
        }
        .be_reported{
            display: none;
            h2{
                text-align: center;
            }
            p{
                text-align: left;
                margin: 15px 0;
            }
        }
    }
}

#report_block_message.close{
    display: none;
}

#report_block_message{
    background-color: hsla(0, 0%, 0%,.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    .rp_lightbox{
        background-color: #fff;
        border-radius: 15px;
        width: auto;
        padding: 10px;
        position: relative;
        text-align: center;
        .mg_close{
            width: 20px;
            height: 20px;
            line-height: 20px;
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            // border: 1px solid #555;
            border-radius: 50%;
            &:hover{
                color: #bbb;
            }
        }
        .mg_reporting{
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            text-align: left;
            >h2{
                margin: 20px auto;
            }
            >div{
                margin: 5px 0;
            }
            >textarea{
                resize: none;
                padding: 10px;
                &:focus{
                    outline: none;
                }
            }
            .rp_bt{
                text-align: center;
                button{
                    margin: 20px;
                }
            }
        }
        .mg_be_reported{
            display: none;
            h2{
                text-align: center;
            }
            p{
                text-align: left;
                margin: 15px 0;
            }
        }
    }
}

#banned_message.close{
    display: none;
}

#banned_message{
    background-color: hsla(0, 0%, 0%,.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    .ban_lightbox{
        background-color: #fff;
        border-radius: 15px;
        width: auto;
        padding: 10px;
        position: relative;
        text-align: center;
        .ban_close{
            width: 20px;
            height: 20px;
            line-height: 20px;
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            border-radius: 50%;
            &:hover{
                color: #bbb;
            }
        }
        .ban_be_reported{
            // display: none;
            h2{
                text-align: center;
            }
            p{
                text-align: left;
                margin: 15px 0;
            }
        }
    }
}

// media
@media screen and (min-width: 1440px) {
    div.wrap{
        max-width: 1366px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1439px){
    div.wrap{
        max-width: 1152px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    div.wrap{
        max-width: 960px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    div.wrap{
        max-width: 720px;
        .public_pic-activity{
            flex-direction: column;
            margin: 0 0 50px 0;
            .public_pic{
                width: 100%;
            }
            .activity{
                width: 100%;
                margin: 0;
                padding-bottom: 30px;
                border-bottom: 1px solid #000;
            }
        }
        .introduction-application_block{
            .introduction-application_info{
                .activity_application{
                    .applicant{
                        width: 300px;
                    }         
                }
            }
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    div.wrap{
        max-width: 540px;
        .public_pic-activity{
            flex-direction: column;
            margin: 0 0 50px 0;
            .public_pic{
                width: 100%;
            }
            .activity{
                width: 100%;
                margin: 0;
                padding-bottom: 30px;
                border-bottom: 1px solid #000;
            }
        }
        .introduction-application_block{
            .introduction-application_info{
                .activity_application{
                    .applicant{
                        width: 240px;
                    }         
                }
            }
        } 
    }
}
@media screen and (max-width: 575px){
    div.wrap{
        max-width: 100%;
        padding: 0 10px;
        .public_pic-activity{
            flex-direction: column;
            margin: 0 0 50px 0;
            .public_pic{
                width: 100%;
            }
            .activity{
                width: 100%;
                margin: 0;
                padding-bottom: 30px;
                border-bottom: 1px solid #000;
            }
        }
        .introduction-application_block{
            .introduction-application_info{
                .activity_application{
                    .applicant{
                        width: 220px;
                    }         
                }
            }
        }
        .message{
            .message_board_block{
                .sent_message{
                    .message_text{
                        .mg_report_bt{
                            .mg_text{
                                position: absolute;
                                display: block;
                                top: -30px;
                                right: 0;
                                &::after{
                                    content: '';
                                    position: absolute;
                                    bottom: -10px;
                                    right: 5px;
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 10px 7px 0 3px;
                                    border-color: $mt_grey1 transparent transparent transparent;
                                }
                            }
                        }
                    }
                }
            }
        }  
    }
}


// 所在位置 //
nav.menu ul.link_list.llleft li{
    & a p::after {
        display: none;
        content: "";
        position: absolute;
        border-radius: 5px;
        width: 70px;
        height: 4px;
        top: 37px;
        background-color: $mt_yellow;
    }
    & a.tour p::after {
        display: block;
        @media screen and (min-width: 1199px) {left: 48px;}
        @media screen and (min-width: 992px) and (max-width: 1199px){left: 27px; }
        @media screen and (min-width: 576px) and (max-width: 991px) {top: 75px; width: 165px; }
        @media screen and (max-width: 575px) {top: 42px; width: 100px; }
    }
}