@import "common";


$textColor1: $mt_fontdark;


/////字體/////

@mixin contentText {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px;
}


//被div裁型的圖片
@mixin imgs {
    width: 100%;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
}



#meet2-2{
    // border: 1px solid blue;
    margin: auto;
    max-width: 1366px;
    img{
        @include imgs;
    }
    h2{
        text-align: center;
        margin-bottom: 30px;
    }
    .step{  //步驟提示圖
        ul{
            display: flex;
            justify-content: center;
            li{
                display: flex;
                >div{
                    width: 70px;
                    line-height: 70px;
                    font-size: 24px;
                    font-weight: 600;
                    text-align: center;
                    color: $mt_yellow;
                    border: 1px solid $mt_yellow;
                    border-radius: 50%;
                    margin: auto 10px;
                }
                h3{
                    align-self:center;
                    position: relative;
                    margin-right: 100px;
                    &::after{
                        content: ".....";
                        font-size: 30px;
                        letter-spacing: 10px;
                        color: $textColor1;
                        position: absolute;
                        top: -50%; right:-110px;
                    }
                }
                &:last-child{
                    h3{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
            li.-on{
                h3{
                   color: $mt_yellow;
                }
                >div{
                    color: #fff;
                    background-color: $mt_yellow;
                }
            }
        }
    }
    .tour_build_form{  //開團表單
        border: 1px solid $textColor1;
        border-radius: 30px;
        height: 70vh;
        overflow-y: scroll;
        margin: 50px auto;
        padding: 30px;
        max-height: 570px;
        &::-webkit-scrollbar{
            background-color:  transparent;
        }
        .btn_box{
            align-self: flex-end;
        }
        .tour_build_step1{ //步驟一
            // border: 1px solid rgb(167, 50, 50);
            display: none;
            justify-content: space-between;
            input,select,.degree_category{
                width: 100%;
                background-color: $mt_grey2 ;
                border:none;
                height: 40px;
                border-radius: 10px;
            }
            section{
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .mountain_image{
                    width: 70%;
                    padding-top: 70%;
                    margin: auto;
                    background-color: #ccc;
                    position: relative;
                    &::after{
                        content: "將依據您所選擇地點跳轉圖片";
                        font: 20px;
                        position: absolute;
                        color: $mt_fontdark;
                        @include ab_center;
                    }
                }
                .tour_info1{
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content:center;
                    .tour_number{
                        select{
                            width: 30%;
                        }
                    }
                }
            }
        }
        .tour_build_step2{ //步驟二
            // border: 1px solid rgb(34, 163, 180);
            height: 100%;
            display: none;
            justify-content: space-between;
            .tour_info2{
                width: 60%;
                display: flex;
                justify-content: space-between;
                
                >div{
                    width: 50%;
                    height: 100%;
                    padding-right: 10px;
                    display: flex;
                    flex-direction: column;
                    overflow-y: scroll;
                    &::-webkit-scrollbar{
                        background-color:  transparent;
                    }

                    .tour_equip{ //建議裝備
                        margin-bottom: 30px;
                        >div{
                            display: flex;
                            flex-wrap: wrap;
                        }
                        label{
                            width: 50%;
                            margin: 5px 0;
                            p{
                                display: inline-block;
                                line-height: 40px;
                                background-color: $mt_grey2;
                                border-radius: 10px;
                                padding: 0 5px;
                                width: 80%;
                            }
                        }
                    }
                    .notice{//注意事項
                        flex-grow:2;
                        display: flex;
                        flex-direction: column;
                    }
                }
                >label{ //活動簡介
                    width: 50%;
                    // height: 100%;
                    display: flex;
                    flex-direction: column;
                }
                    
                textarea{
                    background-color: $mt_grey2;
                    border-radius: 10px;
                    border: none;  
                    width: 100%;
                    resize : none;
                    flex-grow:2;
                }

            }
        }
        .tour_build_step3{ //步驟三
            // border: 1px solid rgb(50, 167, 50);
            height: 100%;
            display: none;
            flex-direction: row;
            justify-content: space-between;
            .tour_info3{
                width: 60%;
                display: flex;
                justify-content: space-between;
               
                .upload_tourimg{
                    border: 1px solid $mt_black;
                    border-radius: 50%;
                    padding: 0;
                    width: 20px;
                    line-height: 20px;
                    margin:5px
                }
                .tour_image{
                    flex-grow: 2;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    overflow-y: auto;
                    &::-webkit-scrollbar{
                        background-color:  transparent;
                    }
                    >div{
                        width: 30%;
                        padding-top: 30%;
                        border-radius: 10px;
                        background-color:#EAF1F4;
                        margin: 5px;
                        align-self: center;
                        overflow: hidden;
                        position: relative;
                        img{
                            @include imgs;
                        }
                    }
                }
            }
        }
        section.-on{
            display: flex;
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152
         // max-width: 1152px;
    #meet2-2{
        max-width: 1152px;
        width: 100%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
         // max-width: 960px;
   

    #meet2-2{
        max-width: 960px;
        width: 100%;
        .tour_build_form{
            .tour_build_step2{ //步驟二
                .tour_info2{
                    width: 70%;
                }
            }
            .tour_build_step3{ //步驟三
                .tour_info3{
                    width: 70%;
                }
            }
        }

    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px;
  

    #meet2-2{
        max-width: 720px;
        width: 100%;
        .step{
            ul{
                li{
                    h3{
                        margin-right: 70px;
                        &::after{
                            content: "...";
                            font-size: 30px;
                            letter-spacing: 10px;
                            right:-70px;
                        }
                    }
                }
            }
        }
        .tour_build_form{
            .tour_build_step2{ //步驟二
                .tour_info2{
                    width: 70%;
                }
            }
            .tour_build_step3{ //步驟三
                .tour_info3{
                    width: 70%;
                    .tour_image{
                        >div{
                            width: 45%;
                            padding-top: 45%;
                        }
                    }
                }
            
            }
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  // 請用540
        // max-width: 540px;
 
  

    #meet2-2{
        max-width: 540px;
        width: 100%;
        .step{
            ul{
            justify-content: space-between;
                
                li{
                    >div{
                        width: 50px;
                        line-height: 50px;
                    }
                    h3{
                        margin-right: 0;
                        &::after{
                            content: "...";
                            font-size: 30px;
                            letter-spacing: 10px;
                            right:-70px;
                        }
                    }
                }
            }
        }
        .tour_build_form{
            .btn_box{
                order:1;
            }
            .tour_build_step1{ //步驟一
                flex-direction: column;
                section{
                    width: 100%;
                }
                .tour_info1_btn{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .tour_info1{
                        width: 70%;
                        margin: 30px auto;
                    }
                }
            }
            .tour_build_step2{ //步驟二
                flex-wrap: wrap;
                .tour_info2{
                    width: 100%;
                }
            }
            .tour_build_step3{ //步驟三
                flex-wrap: wrap;
                height: auto;
                .tour_info3{
                    width: 100%;
                    flex-direction: column;
                    .tour_image{
                        >div{
                            width: 45%;
                            padding-top: 45%;
                        }
                    }
                }
            
            }
        }
    }
}
@media screen and (max-width: 575px){
    // 請用100%
        // max-width: 100%;


    #meet2-2{
        max-width: 100%;
        .step{
            ul{
            justify-content: space-between;
            padding: 5px;
            width: 375px;
            margin: auto;
                li{
                    >div{
                        width: 32px;
                        line-height: 30px;
                        font-size: 24px;
                        margin: auto 5px;
                    }
                    h3{
                        margin-right: 0;
                        font-size: 18px;
                        margin-right:5px;
                        &::after{
                            content: "...";
                            font-size: 20px;
                            right:-25px;
                            letter-spacing: 0.4px;
                            top:-30%;
                        }
                    }
                }
            }
        }
        .tour_build_form{
            margin: 30px;
            padding: 20px 20px 40px 20px;
            .btn_box{
                order:1;
            }
            .tour_build_step1{ //步驟一
                flex-direction: column;
                section{
                    width: 100%;
                }
                .tour_info1_btn{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .tour_info1{
                        width: 100%;
                        margin: 30px auto;
                    }
                }
            }
            .tour_build_step2{ //步驟二
                flex-wrap: wrap;
                height: auto;
                .tour_info2{
                    width: 100%;
                    margin-bottom: 30px;
                    flex-direction: column;
                   >div, .tour_innertext{
                       width: 100%;
                       padding: 0;
                       .notice{
                            textarea{
                                height: 15vh;
                            }
                       }
                       textarea{
                            height: 50vh;
                        }
                   }
                   >div{
                       margin-bottom: 20px;
                   }
                }
            }
            .tour_build_step3{ //步驟三
                flex-wrap: wrap;
                height: auto;
                .tour_info3{
                    width: 100%;
                    flex-direction: column;
                    margin-bottom: 30px;
                    .tour_image{
                        >div{
                            width: 45%;
                            padding-top: 45%;
                        }
                    }
                }
            
            }
        }
    }
}



