
@import "common";
@import "memberStyle";

$textColor1: $mt_fontdark;
a{
    cursor: pointer;
}
@mixin contentText {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px;
}

//文字最多只顯示一行
@mixin oneLine {
    display: -webkit-inline-box;
    -webkit-line-clamp:1;
    /*!autoprefixer:off*/
    -webkit-box-orient: vertical;
    /*autoprefixer:on*/
    overflow:hidden;
}

//文字最多只顯示兩行
@mixin towLine {
    display: -webkit-inline-box;
    -webkit-line-clamp:2;
    /*!autoprefixer:off*/
    -webkit-box-orient: vertical;
    /*autoprefixer:on*/
    overflow:hidden;
}
//文字最多只顯示3行
@mixin threeLine {
    display: -webkit-box;
    -webkit-line-clamp:3;
    /*!autoprefixer:off*/
    -webkit-box-orient: vertical;
    /*autoprefixer:on*/
    overflow:hidden;
}
//文字最多只顯示4行
@mixin fourLine {
    display: -webkit-box;
    -webkit-line-clamp:4;
    /*!autoprefixer:off*/
    -webkit-box-orient: vertical;
    /*autoprefixer:on*/
    overflow:hidden;
}

//被div裁型的圖片
@mixin imgs {
    height: 100%;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
}

// //隱藏側邊滾輪//
// overflow-y: scroll;
//     &::-webkit-scrollbar{
//         background-color:  transparent;
//      }

//收藏
.changeIcon{
    cursor: pointer;
}

// KEYFRAMES 
            
@keyframes animateCloud {
    0% {margin-left: -1000px;}
    100% {margin-left: 100%;}
}
@keyframes animateBird {
    0% {margin-left: 1000px;}
    100% {margin-left: 0%;}
}

#meet2-0{
    margin:auto;
    max-width: 1366px;

    .serchMeet{
        h2{
            margin:50px auto;
        }
        .searchFormMap{
            width: 100%;
            display: inline-flex;
            position: relative;
            overflow-x: hidden !important;
            .serchMap{
                // border: 1px solid #000;
                height: 70vh;
                flex-grow: 2;
                iframe{
                    width: 100%;
                    height: 100%;
                }
                .marker_click_info{ ///////點擊後打開的資訊
                    // width: 450px !important;
                    padding: 10px;
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;
                    .mountain_name{
                        display: inline-block;
                        h3{
                            display: inline;
                            position: relative;
                            &::after{
                                padding-top: 3px;
                            }
                            span{
                                position: absolute;
                                right: -40px;
                            }
                        }
                        
                    }
                    .meets{
                        width: 450px !important;
                        a{
                            display: inline-block;
                            width: 100%;
                            background-color: $mt_grey1;
                            margin: 5px 0;
                            padding: 10px;
                            &:hover{
                                background-color: $mt_grey2;
                            }
                            .date_member{
                                display: flex;
                                align-items: center;
                                .member_styleC{
                                    display: inline-flex;
                                    margin-left: 5px;
                                }
                            }
                           
                            
                           
                        }
                    }
                }
                
            }
        // 那個雲那個霧啊 ==============================
            /* ANIMATIONS */
            .x1,.x2,.x3,.x4,.x5,.x6,.x7{
                position: absolute;
                pointer-events: none;
            }
            .x1 {
                animation: animateCloud 35s linear infinite;
                transform: scale(0.65);
                bottom: -40px;
            }
            .x2 {
                animation: animateCloud 20s linear infinite;
                transform: scale(0.3);
                top: 50px;
            }
            .x3 {
                animation: animateCloud 30s linear infinite;
                transform: scale(0.5);
                top: -8px;
            }
            .x4 {
                animation: animateCloud 18s linear infinite;
                transform: scale(0.4);
                bottom: 125px;
            }
            .x5 {
                animation: animateCloud 25s linear infinite;
                transform: scale(0.55);
            }
            .x6 {
                animation: animateBird 18s linear infinite;
                transform: scale(0.2);
                bottom: 85px;
            }
            .x7 {
                animation: animateCloud 25s linear infinite;
                bottom: -130px;
                opacity: .3;
                -webkit-transform: rotate(90deg) scale(0.2); /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(90deg) scale(0.2); /* IE 9 */
                transform: rotate(90deg) scale(0.2);
            }
            
            /* 雲霧們 */
            .cloud{
            width: 600px;
            height: 400px;
            background-size:contain;
            background-repeat: no-repeat;
            }
            .cloud.cloud1{
            background-image: url(../images/meet/2-0-cloudcloud1.png);
            }
            .cloud.cloud2{
            background-image: url(../images/meet/2-0-cloudcloud2.png);
            }
            .cloud.cloud3{
            background-image: url(../images/meet/2-0-cloudcloud3.png);
            }
            .cloud.bird{
                background-image: url(../images/meet/2-0-bird.gif);
            }
            .cloud.airplane{
                background-image: url(../images/meet/2-0-airplane.png);
                background-size: contain;
            }
            //================================
        }
        
    }

    .hotMeet1{
        // border: 1px solid blue;
        margin: auto;
        position: relative;
        h2{
            margin:50px auto;
        }
        .top1-3{
            position: relative;
            
            >div.meettop{
                &>:nth-child(1),&>:nth-child(3){
                    // border: 1px solid #00f;
                    display: flex;
                    justify-content: center;
                }
                // border: 1px solid #000;
                display: flex;
                flex-direction: column;
                .hot_meet_top3{
                    
                    width: 50%;
                    min-width: 500px;
                    .meet_mountain_img{
                        width: 50%;
                        padding-top: 50%;
                        background-color: #ccc;
                        margin-bottom: -5%;
                        overflow: hidden;
                        position: relative;
                        transition: linear 1s;
                        img{
                            @include imgs;
                        }
                    }
                    .meet_content{
                        // border: 1px solid #000;
                        padding: 30px ;
                        display: flex;
                        position: relative;
                        .bg_cloud{
                            width: 100%;
                            position: absolute;
                            bottom:10px;
                            left:0;
                            
                        }
                        .member_styleA.column{
                            // border: 1px solid #00f;
                            z-index: 2;
                        }
                        .title_info_text{
                            // border: 1px solid #0f0;
                            z-index: 2;
                            h3{
                                @include towLine;
                            }
                            
                            .text_btn{
                                display: flex;
                                .meetContent{
                                    @include fourLine;
                                }
                               
                            }
                        }
                        .like_btn{
                            border: 1px solid #000;
                            z-index: 2;
                            >div{
                                height: 50%;
                            }
                        }
    
                    }
                   
                }
                
                // .top1,.top3{
                //     // border: 1px solid #00f;
                //     display: flex;
                //     justify-content: center;
                // }
            }
            .top1-3_bg{
                // border: 1px solid #000;
                height: 100%;
                width: 100%;
                position: absolute;
                top:0; left: 0;
                z-index: -2;
                img{
                    width: 80%;
                    position: sticky;
                    top:0;
                }
            }
            .decoration_draw{
            //    background-color: #0ff;
                position: absolute;
                height: 85%;
                width: 25%;
                top:15%;
                right: 0; 
                z-index: -1;
                img{
                    width: 100%;
                    // border: 1px solid #000;
                    position: sticky;
                    top:25%;
                }
            }
        }
        
    }

    .newMeet{
        // border: 1px solid red;
        margin: auto;
        h2{
            margin:50px auto;
        }
        .changeTypeBtn{
            // border: 1px solid orange;
            display: flex;
            justify-content:flex-end;
            margin-bottom: 30px;
            
            div{
                border: 1px solid #222;
                // background-color: salmon;
                width: 50px;
                height: 40px;
                display: flex;
                align-items: center;
                // padding:7px 15px ;
                cursor: pointer;
                position: relative;
                img{
                    width: 30px;
                }
                &:hover{
                    opacity: .6;
                }
                &::before{
                    content: "";
                    width: 30px;
                    padding-top: 30px;
                    position: absolute;
                    background-repeat: no-repeat;
                    background-position: center center;
                    @include ab_center;
                    display: none;
                }
                &::after{
                    content: "";
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    background-repeat: no-repeat;
                    background-position: center center;
                    @include ab_center;
                }
            }
            .typeCard{
                border-radius: 8px 0 0 8px;
                &::before{
                    background-image: url(../images/icons/icon_card_w.svg);
                }
                &::after{
                    background-image: url(../images/icons/icon_card_b.svg);
                }
            }
            .typeList{
                border-radius: 0 8px 8px 0;
                &::before{
                    background-image: url(../images/icons/icon_list_w.svg);
                    background-size:contain;
                }
                &::after{
                    background-image: url(../images/icons/icon_list_b.svg);
                    background-size:contain;
                    
                }
            }
            div.-on{
                background-color: $mt_yellow;
                &::before{
                    display: inline-block;
                }
                &::after{
                    display: none;
                }
            }
        }
        
        .newMeetActivity{
            // border: 1px solid #000;
            padding: 15px;
            .item{
                border: 1px solid #eee;
                padding: 15px;
                .newImg{
                    // background-color: #555;
                    overflow: hidden;
                    position: relative;
                    img{
                        @include imgs;
                        width: 100%;
                    }
                }
                .newMeetTextCont{
                    // border: 1px solid #000;
                    .tittleLike{
                        h3{
                            @include towLine;
                            width:85%;
                            vertical-align: middle;
                            height: 58px;
                            display: inline-flex;
                            align-items: center;
                        }
                        .heartIcon{
                            display:inline-block;
                            vertical-align: middle;
                            i{
                                font-size: 25px;
                            }
                        }
                    }
                    .info{
                        // border: 1px solid pink;
                        display: inline-block;
                    }
                    .meetContent{
                        .textContent{
                            @include threeLine;
                            margin: 10px auto;
                        }
                    }
                }
                &:hover {
                    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
                    border-color: #eee;
                    transition: all .2s ease-in-out;
                  }
            }
            .page{
                width: 100%;
                margin-top: 40px;
            }
        }
        .newMeetActivity.card{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .item{
                width: 350px;
                margin-top: 100px;
                display: inline-block;
                .newImg{
                    width: 100%;
                    padding-top: 100%;
                    margin: -70px auto auto auto;
                }
                
            }
        }
        .newMeetActivity.list{
            .item{
                display: flex;
                justify-content: space-between;
                margin: 30px auto;
                a{
                    display: contents;
                }
                .newImg{
                    width: 25%; //
                    display: inline-block; //
                }
                .newMeetTextCont{
                    width: 60%; //
                    padding-left:10px;
                    display: inline-block; //
                }
                
            }
        }
        div.page{
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }
    }
    
}


@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152
    #meet2-0{
        max-width: 1152px; 
        .hotMeet1{
            .top1-3{
                >div.meettop{
                    .hot_meet_top3{
                        .meet_mountain_img{
                            margin-bottom: -10%;
                        }
                    }
                    
                }
            }
        }
    }

}

@media screen and (max-width: 991px){
    #meet2-0{
        .serchMeet{
            .searchFormMap{
                form.serch{
                    align-items: center;
                    width: auto;
                }
            }
            
        }
        
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
         // max-width: 960px;
    #meet2-0{
        max-width: 960px; 
        .hotMeet1{
            .top1-3{
                >div.meettop{
                    .hot_meet_top3{
                        .meet_mountain_img{
                            margin-bottom: -27%;
                        }
                    }
                    
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
        // max-width: 720px;
    #meet2-0{
        max-width: 720px; 

        .serchMeet{
            .searchFormMap{
                flex-direction: column;
                align-items: center;
                .serchMap{
                    width: 100%;
                }
            }
        }

        .hotMeet1{
            .top1-3{
                >div.meettop{
                    .hot_meet_top3{
                        width: 500px;
                        .meet_mountain_img{
                            margin-bottom: -28%;
                        }
                    }
                    &>:nth-child(3){
                        .hot_meet_top3{
                            margin-right: 40px;
                        }
                    }
                }
                // .top3{
                //     .hot_meet_top3{
                //         margin-right: 40px;
                //     }
                // }
                .decoration_draw{
                    height: 90%;
                    top:10%;
                    right:-35px;
                    img{
                        top:15%;
                    }
                }
            }
        }
        
    }
   
}

@media screen and (min-width: 576px) and (max-width: 767px){
  // 請用540
        // max-width: 540px;

    html,body.meet2-0_body{
        overflow-x: hidden !important;
        width: 100%;
    }
    
    #meet2-0{
        max-width: 540px; 
        width: 100%;
        .serchMeet{
            .searchFormMap{
                flex-direction: column;
                align-items: center;
                .serchMap{
                    width: 100%;
                }
            }
        }
        .hotMeet1{
            .top1-3{
                >div.meettop{
                    .hot_meet_top3{
                        width: 500px;
                        margin-bottom: 50px;
                        .meet_mountain_img{
                            margin-bottom: -10%;
                        }
                        .meet_content{
                            flex-wrap: wrap;
                            justify-content: flex-end;
                            padding: 0;
                            .bg_cloud{
                                width: 130%;
                                bottom: -30px;
                                left: -30px;
                            }
                            .member_styleA{
                                margin-bottom: 20px;
                                width: 211px;
                                display: inline-block;
                                margin-right: 50px;
                                .memberInfo{
                                    .certification{
                                        justify-content: flex-start;
                                    }
                                    .memberBadge{
                                        display: inline-block;
                                    }
                                }
                            }
                            .title_info_text{
                                width: 330px;
                                flex-grow: 0.5;
                                margin-right: 10px;
                                .meetContent{
                                    @include towLine;
                                }
                            }
                            
                        }
                        
                    }
                    
                    &>:nth-child(3){
                        .hot_meet_top3{
                            margin-right: 40px;
                        }
                    }
                    
                }
                // .top3{
                //     .hot_meet_top3{
                //         margin-right: 40px;
                //     }
                // }
                .decoration_draw{
                    display: none;
                }
            }
        }
        .newMeet{
            .changeTypeBtn{
                .typeCard{
                    border-radius: 8px;
                }
                .typeList{
                    display: none;
                }
            }
            .newMeetActivity.list{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .item{
                    width: 350px;
                    margin-top: 100px;
                    display: inline-block;
                    .newImg{
                        width: 100%;
                        padding-top: 100%;
                        margin: -70px auto auto auto;
                    }
                    
                }
            }
        }
    }
  
}

@media screen and (max-width: 575px){
    // 請用100%
        // max-width: 100%;
    html,body.meet2-0_body{
        overflow-x: hidden !important;
        width: 100%;
    }
    #meet2-0{
        max-width: 100%;
        .serchMeet{
            .searchFormMap{
                flex-direction: column;
                align-items: center;
                .serchMap{
                    width: 100%;
                    height: 80vh;
                }
            }
        } 
        .hotMeet1{
            .top1-3{
                >div.meettop{
                    &>:nth-child(1),&>:nth-child(3){
                        justify-content: initial;
                    }
                    .hot_meet_top3{
                        width: auto;
                        min-width: initial;
                        margin-bottom: 100px;
                        padding: 10px;
                        .meet_mountain_img{
                            margin-bottom: -20%;
                        }
                        .meet_content{
                            flex-wrap: wrap;
                            justify-content: flex-end;
                            padding: 0;
                            .bg_cloud{
                                width: 188%;
                                bottom: -22px;
                                left: -134px;
                            }
                            .member_styleA{
                                margin-bottom: 20px;
                                width: 211px;
                                display: inline-block;
                                margin-right: 50px;
                                .memberInfo{
                                    .certification{
                                        justify-content: flex-start;
                                    }
                                    .memberBadge{
                                        display: inline-block;
                                    }
                                }
                            }
                            .title_info_text{
                                flex-grow: 0.5;
                                margin-right: 10px;
                                h3{
                                    @include oneLine;
                                }
                                .meetContent{
                                    @include towLine;
                                }
                            }
                            .like_btn{
                                border: solid 1px #333;
                                >div{
                                    height:initial;
                                    margin-right: 20px;
                                    .changeIcon{
                                        position: absolute;
                                        left: 0;
                                        top: 65px;
                                    }
                                }
                            }
                            
                        }
                        
                    }
                }
                .top1-3_bg{
                    background-color: $mt_grey2;
                }
                .decoration_draw{
                    display: none;
                }
            }
        }
        .newMeet{
            .changeTypeBtn{
                .typeCard{
                    border-radius: 8px;
                    margin-right: 10px;
                }
                .typeList{
                    display: none;
                }
            }
            .newMeetActivity.list{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .item{
                    width: 350px;
                    margin-top: 100px;
                    display: inline-block;
                    .newImg{
                        width: 100%;
                        padding-top: 100%;
                        margin: -70px auto auto auto;
                    }
                    
                }
            }
        }
    }
}
@media screen and (max-width: 390px){
    #meet2-0{
        .serchMeet{
            .searchFormMap{
                .serch{
                    >div{
                        flex-wrap: wrap;
                        >div{
                            margin: auto;
                        }
                    }
                   
                }
                
            }
        }
    }
}
//<!-- --------------------aside link------------------ -->
#aside-link{
    display:block;
    position: fixed;
    right: 1px;
    bottom: 300px;
    height: auto;
    z-index: 4;
    .aside-com-btn{
        display: block;
        position: absolute;
        right: 0px;
        bottom: 20px;
        height: auto;
        width: 100px;
    
        img{
            width: 100%;
            margin: 3px 0px;
        }
    }
}



/* ----------------------GO TOP---------------------- */
#gotop a{
    text-decoration: none;
}

#gotop {
    position:fixed;
    z-index:90;
    right:20px;
    bottom:31px;
    display:none;
    width:50px;
    height:50px;
    color:#fff;
    background-color: #153a64;
    line-height:50px;
    transition:all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    & .svg-inline--fa.fa-arrow-up.fa-w-14 path{
        color:#fff;
        transform: scale(1);
    }
}

// 所在位置 //
nav.menu ul.link_list.llleft li{
    & a p::after {
        display: none;
        content: "";
        position: absolute;
        border-radius: 5px;
        width: 70px;
        height: 4px;
        top: 41px;
        background-color: $mt_yellow;
    }
    & a.tour p::after {
        display: block;
        @media screen and (min-width: 1440px) {left: 47px;}
        @media screen and (min-width: 1200px) and (max-width: 1439px){left: 22px; }
        @media screen and (min-width: 992px) and (max-width: 1199px){left: 17px; }
        @media screen and (min-width: 576px) and (max-width: 991px) {top: 75px; width: 165px; }
        @media screen and (max-width: 575px) {top: 42px; width: 100px; }
    }
}