div.wrap{
    width: 1200px;
    margin: 40px auto;
    div.person{
        display: flex;
        div.person_headtag{
            // border: 1px solid #000;
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        div.person_info{
            margin: auto 20px;
            div.person_name-badge{
                display: flex;
                margin: auto 0;
                div.person_name{
                    width: 100%;
                    a{
                        color: #000;
                    }
                }
                div.person_badge{
                    width: 100%;
                }
            }
            div.person_following{
                font-size: 12px;
            }
        }
    }
    div.public_pic-activity{
        display: flex;
        div.public_pic{
            width: 50%;
            // height: 100%;
            >img{
                width: 100%;
                height: 400px;
                // height: 100%;
                object-fit: cover;
            }
            div.related_pic{
                // border-top: 1px solid black;
                // border-bottom: 1px solid black;
                margin: 10px 0;
                // h3{
                //     margin: 10px 0;
                // }
                div.related_pic_block{
                    display: flex;
                    // margin-bottom: 10px;
                    div.related_pic_item{
                        // width: 200px;
                        margin: 0 10px 0 0;
                        &:last-child{
                            margin: 0;
                        }
                        img{
                            width: 100%;
                            object-fit: cover;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        div.activity{
            width: 50%;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            h3.activity_title{
                margin: 0 0 10px;
            }
            div.activity_report{
                display: flex;
                justify-content: space-between;
                // width: 100%;
                margin: 0 20px;
                // div.activity_info{
                //     width: 100%;
                //     div.activity_date{
                //         width: 100%;
                //     }
                //     div.place{
                //         width: 100%;
                //     }
                //     div.participant_num{
                //         width: 100%;
                //     }
                //     div.mountain_level{
                //         width: 100%;
                //     }
                //     p.activity_brief{
                //         border: 1px solid #000;
                //     }
                // }
                div.report{
                    div.report_bt{
                        background-color: #ccc;
                        padding: 5px;
                        border-radius: 5px;
                        cursor: pointer;
                    }   
                }
            }
            div.info_icon{
                display: flex;
                justify-content: space-evenly;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                padding: 10px 0;
                div.mountain_icon_part{
                    div.mountain_icon{
                        width: 100%;
                    }
                    div.mountain_text{
                        width: 100%;
                    }
                }
                div.participant_icon_part{
                    div.participant_icon{
                        width: 100%;
                    }
                    div.participant_text{
                        width: 100%;
                    }
                }
                div.collection_icon_part{
                    div.collection_icon{
                        width: 100%;
                    }
                    div.collection_text{
                        width: 100%;
                    }
                }
                div.share_icon_part{
                    div.share_icon{
                        width: 100%;
                    }
                    div.share_text{
                        width: 100%;
                    }
                }
            }
            div.applied_participant{
                display: none;
                border-bottom: 1px solid #000;
                padding-bottom: 10px;
                h4{
                    margin: 10px 0;
                }
                div.applied_participant_block{
                    display: flex;
                    div.applied_participant_item{
                        margin: 0 20px;
                        div.applied_participant_pic{
                            img{
                                width: 60px;
                                height: 60px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }
                        div.applied_participant_name-badge{
                            display: flex;
                            div.applied_participant_name{
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            .equip_recommend{
                border-bottom: 1px solid #000;
                .equip_block{
                    display: flex;
                    .equipment{
                        position: relative;
                        img{
                            width: 100%;
                            cursor: pointer;
                        }
                        .show_hover{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            text-align: center;
                            transition: all .5s 0s ease;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            // background-color: rgba(150, 150, 150, 0);
                            background-size: 100% 100%;
                            &:hover{
                                background-color: rgba(150, 150, 150, .2);
                                opacity: 1;
                            }
                            .p_title{
                                // height: 100%;
                                color: #fff;
                                font-size: 40px;
                                // display: flex;
                                // justify-content: center;
                                // align-items: center;
                            }
                            .go_shop{
                                background-color: #fff;
                                width: 50%;
                                align-self: center;
                                border-radius: 15px;
                            }
                        }
                    }
                }
            }
            h4{
                margin: 5px 0;
            }
            button.apply_bt{
                margin: 20px auto 0;
                width: 80%;
                height: 40px;
                border-radius: 10px;
                font-size: 18px;
            }
        }
    }

    div.introduction-application_block{
        div.introduction-application_bt{
            display: flex;
            .change:after{
                content: '';
                width: 100%;
                padding-top: 5px;
                background-color:#fff;
                position: absolute;
                bottom: -2px;
                left: 0;  
            }
            .introduction_bt{
                width: 100px;
                border: 1px solid #000;
                border-bottom: none;
                background-color: #fff;
                position: relative;
                border-radius: 5px 5px 0 0;
                margin-right: 10px;
                text-align: center;
                cursor: pointer;
            }
            .application_bt{
                width: 100px;
                border: 1px solid #000;
                border-bottom: none;
                background-color: #fff;
                position: relative;
                border-radius: 5px 5px 0 0;
                text-align: center;
                cursor: pointer;
            }
        }
        div.introduction-application_info{
            height: 600px;
            border: 1px solid #000;
            padding: 20px;
            border-radius: 0 10px 10px 10px;
            .activity_introduction{
                display: block;
            }
            .activity_application{
                display: none;
            }
        }
    }
    div.message{
        .leave_message_block{
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            textarea{
                resize: none;
            }
            .bt_block{
                display: flex;
                justify-content: flex-end;
                border-bottom: 1px solid #000;
                button{
                    width: 100px;
                    margin: 10px 0;
                }
            }
        }
        .message_board_block{
            display: flex;
            width: 100%;
            // height: 100px;
            // border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            margin: 20px auto;
            padding: 10px 0;
            .sent_message{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #ddd;
                border-radius: 20px;
                padding: 5px 40px 5px 10px;
                position: relative;
                .message_text{
                    .mg_time{
                        font-size: 10px;
                    }
                    .mg_report_bt{
                        position: absolute;
                        top: 0;
                        right: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
        .change_page{
            text-align: center;
            margin: 20px auto;
        }
    }
    .related_article{
        display: flex;
        justify-content: space-between;
        position: relative;
        margin: 20px 0;
        .article{
            width: 33%;
            text-align: center;
            .art_pic{
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        // .bt{
        //     width: 100%;
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        //     position: absolute;
        //     bottom: 0;
        .left{
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            font-size: 60px;
            &:hover{
                color: #ffc107;
            }
        }

        .right{
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            color: #fff;
            font-size: 60px;
            &:hover{
                color: #ffc107;
            }
        }
        // }
    }
}

// media
@media screen and (min-width: 1440px) {
    // 請用1366
    // max-width: 1366px;
    }
@media screen and (min-width: 1200px) and (max-width: 1439px){
    // 請用1152
    // max-width: 1152px;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    // 請用960
    // max-width: 960px;
}
@media screen and (min-width: 768px) and (max-width: 991px){
    // 請用720
    // max-width: 720px;
}
@media screen and (min-width: 576px) and (max-width: 767px){
  // 請用540
  // max-width: 540px;
}
@media screen and (max-width: 575px){
    // 請用100%
 }