div.wrap{
    // max-width: 1152px;
    margin: 30px auto;
    // padding: 0 20px;
    .back{
        border: 1px solid #000;
    }
    .product_block{
        display: flex;
        .left{
            width: 50%;
            margin-right: 100px;
            .main_pic{
                display: flex;
                justify-content: center;
                height: 400px;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    background: linear-gradient(180deg, #FFC400,#000000);
                    opacity: .5;
                    height: 100%;
                    width: 400px;
                    z-index: -1;
                    border-radius: 50%;
                }
                img{
                    height: 100%;
                    transition: .5s ease-in-out;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            .dot{
                display: flex;
                justify-content: center;
                .pic{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #bbb;
                    margin: 20px 10px;
                    cursor: pointer;
                    transition: .3s ease;
                    &:hover{
                        background-color: #FFC400;
                    }
                }
                .pick{
                    background-color: #FFC400;
                }
            }
            .move{
                display: flex;
                justify-content: space-between;
                .pre{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .pre_pic{
                        height: 100px;
                        img{
                            height: 100%;
                        }
                    }
                    &:hover img{
                        transform: scale(1.2);
                    }
                }
                .next{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .next_pic{
                        height: 100px;
                        img{
                            height: 100%;
                        }
                    }
                    &:hover img{
                        transform: scale(1.2);
                    }
                }
            }
        }
        .right{
            width: 50%;
            // margin-left: 20px;
            .top{
                display: flex;
                align-items: center;
                // margin-top: 20px;
                margin: 20px 0;
                h2{
                    margin: 0 20px 0 0;
                }
                .changeIcon{
                    cursor: pointer;
                }
            }
            .product_text{
                p{
                   text-align: justify;
                   margin: 10px 0;
                }
            }
            .money_chart{
                display: flex;
                align-items: center;
                margin: 20px auto;
                .money{
                    font-size: 50px;
                    margin: 0 20px 20px 0;
                }
                // .add_chart{
                //     cursor: pointer;
                // }
            }
            .artical{
                h3.related_artical{
                    display: inline-block;
                }
                .text_underline{
                    &::after{
                        padding-top: 2px;
                    }
                }
                .at_dots{
                    display: inline-flex;
                    background-color: #FFC400;
                    .at_dot{
                        height: 5px;
                        width: 5px;
                        border-radius: 50%;
                        background-color: #000;
                        margin: 2px;
                    }
                }
                a{
                    transition: 1s ease;
                    :hover{
                        color: #FFC400;
                    }
                    .at_title{
                        margin: 15px 0 0 0;
                        transition: .3s ease;

                    }
                }
            }
        }
    }
}

// media
@media screen and (min-width: 1440px) {
    div.wrap{
        max-width: 1366px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1439px){
    div.wrap{
        max-width: 1152px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    div.wrap{
        max-width: 960px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    div.wrap{
        max-width: 720px;
        margin: 100px auto 0;
        .product_block{
            .left{
                width: auto;
                margin-right: 50px;
                .main_pic{
                    height: 300px;
                    &:after{
                        width: 300px;
                    }
                }
                .move{
                    .pre{
                        flex-direction: column;
                    }
                    .next{
                        flex-direction: column-reverse;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  // 請用540
    div.wrap{
        max-width: 540px;
        .product_block{
            display: block;
            .left{
                width: auto;
                margin: 0;
                .main_pic{
                    height: 300px;
                    &:after{
                        width: 300px;
                    }
                }
            }
            .right{
                width: auto;
            }
        }
    }
}
@media screen and (max-width: 575px){
    div.wrap{
        width: 100%;
        padding: 0 10px;
        .product_block{
            display: block;
            .left{
                width: auto;
                margin: 0;
                .main_pic{
                    height: 300px;
                    &:after{
                        width: 300px;
                    }
                }
            }
            .right{
                width: auto;
            }
        }
    }
 }

 //demo使用之後刪掉
 .add_count{
    display: none;
    border-radius: 50%;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}