@import 'common';
header{
    border-bottom: 5px solid #1A95DB
}
div.wrap{
    max-width: 1152px;
    margin: 30px auto 50px;
    display: flex;
    flex-direction: column;
    .cate_per{
        display: flex;
        justify-content: space-around;
        margin: 0 0 20px;
        .p_per{
            display: none;
        }
    }
    .main{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .category{
            width: 50%;
            height: 500px;
            background-color: rgba(255, 196, 0, .5);
            .defult_clothes{
                cursor: pointer;
                height: 100%;
                h2{
                    text-align: center;
                    color: #fff;
                    text-shadow: 0.1em 0.1em 0.2em #555555;
                }
                img{
                    display: block;
                    width: 70%;
                    margin: auto;
                }
            }
            .show_now{
                height: 100%;
                position: relative;
                color: #fff;
                display: none;
                .category_title{
                    text-align: center;
                    position: absolute;
                    top: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 3;
                }
                img{
                    display: block;
                    // height: 100%;
                    width: 80%;
                    margin: auto;
                    transform: scale(.8);
                }
            }
        }
        .product_block{
            width: 50%;
            height: 500px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            overflow: scroll;
            position: relative;
            justify-content: space-evenly;
            .items_block{
                width: 45%;
                height: 48%;
                position: relative;
                display: none;
                .product_title{
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;
                    overflow: hidden;
                    .product_name{
                        transition: .5s ease;
                        color: #fff;
                        text-shadow: 0.1em 0.1em 0.2em #555555;
                    }
                    .product_price{
                        transition: .5s ease;
                        color: #fff;
                        text-shadow: 0.1em 0.1em 0.2em #555555;
                    }
                }
                    a{
                        display: flex;
                        height: 100%;
                    img{
                        width: 80%;
                        margin: 0 auto;
                        cursor: pointer;
                        transform: scale(.8);
                    }
                    :hover{
                        transform: scale(1);
                    }
                }
            }
            .it_bg1{
                background-color: rgba(26, 149, 219, 0.5);
            }
            .it_bg2{
                background-color: rgba(44, 94, 158, .5);
            }
            .it_bg3{
                background-color: rgba(234, 241, 244, .5);
            }
            .it_bg4{
                background-color: rgba(255, 196, 0, .5);
            }
            //category chose
            .category_block{
                width: 45%;
                height: 48%;
                position: relative;
                .category_title{
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;
                    overflow: hidden;
                    .category_name{
                        transition: .5s ease;
                        color: #fff;
                        text-shadow: 0.1em 0.1em 0.2em #555555;
                    }
                }
                .cate_pic{
                    display: flex;
                    height: 100%;
                    img{
                        width: 80%;
                        margin: 0 auto;
                        cursor: pointer;
                        transform: scale(.8);
                    }
                    :hover{
                        transform: scale(1);
                    }
                }
            }
        }
    }
    .main .close{
        display: none;
    }
    .category_list{
        display: flex;
        width: 50%;
        height: 100px;
        justify-content: space-evenly;
        color: #fff;
        margin-top: -50px;
        .clothes{
            height: 100%; 
            position: relative;
            img{
                height: 100%;
            }
        }
        .bag{
            height: 100%;
            position: relative;
            img{
                height: 100%;
            }
        }
        .shoes{
            height: 100%;
            position: relative;
            img{
                height: 100%;
            }
        }
        .campGear{
            height: 100%;
            position: relative;
            img{
                height: 100%;
            }
        }
        .others{
            height: 100%;
            position: relative;
            img{
                height: 100%;
            }
        }
    }
}

.show_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
    transition: all .5s 0s ease;
    background-size: 100% 100%;
    &:hover{
        background-color: rgba(34, 34, 34, .5);
        opacity: 1;
        cursor: pointer;
    }
    .p_title{
        height: 100%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
    }
}
.category_name{
    height: 100%;
    text-align: center;
}

// media
@media screen and (min-width: 1440px) {
    div.wrap{
        max-width: 1366px;
        .inner_p_per{
            display: none;
        }
    }
}
@media screen and (min-width: 1200px) and (max-width: 1439px){
    div.wrap{
        max-width: 1152px;
        .inner_p_per{
            display: none;
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    div.wrap{
        max-width: 960px;
        .inner_p_per{
            display: none;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    div.wrap{
        max-width: 720px;
        .cate_per{
            .p_per{
                display: none
            }
        }
        .main{
            display: flex;
            flex-direction: column;
            .category{
                width: 100%;
                .show_now{
                    img{
                        width: 60%;
                    }
                }
            }
            .inner_p_per{
                order: 3;
                text-align: center;
            }
            .product_block{
                width: 100%;
                order: 3;
                justify-content: space-between;
                .items_block{
                    margin: 10px 0;
                    width: 48%;
                }
            }
            .category_list{
                width: 100%;
                margin-top: -80px;
                margin-bottom: 50px;
            }
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    div.wrap{
        max-width: 540px;
        .cate_per{
            .p_per{
                display: none
            }
        }
        .main{
            display: flex;
            flex-direction: column;
            .category{
                width: 100%;
            }
            .inner_p_per{
                order: 3;
                text-align: center;
            }
            .product_block{
                width: 100%;
                order: 3;
                justify-content: space-between;
                .items_block{
                    margin: 10px 0;
                    width: 48%;
                }
                
            }
            .category_list{
                width: 100%;
                margin-top: -70px;
                margin-bottom: 50px;
            }
        }  
    }
}
@media screen and (max-width: 575px){
    div.wrap{
        max-width: 100%;
        .cate_per{
            .p_per{
                display: none
            }
        }
        .main{
            display: flex;
            flex-direction: column;
            .category{
                width: 100%;
            }
            .inner_p_per{
                order: 3;
                text-align: center;
                margin: 20px 0 10px;
            }
            .product_block{
                width: 100%;
                order: 3;
                justify-content: space-between;
                .items_block{
                    margin: 10px 0;
                    width: 48%;
                }
                .category_block{
                    width: 48%;
                    margin: 10px 0;
                }
            }
            .category_list{
                width: 100%;
                >div{
                    >img{
                        height: 80%;
                    }
                }
            }
        }  
    }
 }

 // 所在位置 //
nav.menu ul.link_list.llleft li{
    & a p::after {
        display: none;
        content: "";
        position: absolute;
        border-radius: 5px;
        width: 70px;
        height: 4px;
        top: 37px;
        background-color: $mt_yellow;
    }

    & a.product p::after {
        display: block;
        @media screen and (min-width: 1199px) {left: 310px;}
        @media screen and (min-width: 992px) and (max-width: 1199px){left: 281px; }
        @media screen and (min-width: 576px) and (max-width: 991px) {top: 75px; width: 165px; }
        @media screen and (max-width: 575px) {top: 42px; width: 100px; }
    }
}