@import "common";

* {
    position: relative;
    // border: 2px solid black; 
}

input {
    display: block;
    outline: none;
    width: 300px;
}

html,body {
    position: relative;
    margin: 0;
    padding: 0;
    height: auto;
    background-color: rgba($mt_grey2,1);
}

header { 
    z-index: 25;
    width: 100%;
    height: 200px;
    & div.logobox{
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
        height: 200px;
        background-color: $mt_blue2;
        & img#logo{
            top: 25px;
            position: absolute;
            width: 400px ;
            left: calc(( 100% - 400px ) / 2 );
        }
    } 
}
main { 
    padding: 50px;
    & div.line{
        display: inline-block;
        height: 30px;
        width: 10px;
        background-color: $mt_yellow;
        margin: auto 5px;
        transform: translateY(3px);
    }
    & h2 { 
        display: inline-block;
    }
    div.hr{
        width: 100%; 
        height: 5px;
        background-color: $mt_blue1;
        margin: 30px;
    }
    button{
        margin-bottom: 20px;
    }

}


// button.btnA_XLwRA{
//     position: relative;
//     z-index: 2;
//   width: 190px;
//   height: 45px;
//   border: 1px solid $mt_black;
//   background-color: white;
//   outline: 0px !important;
//   transition: 0.2s all ease-in-out;
//   &::after{
//       z-index: 1;
//       position: absolute;
//       content: "";
//       width: 100%;
//       height: 100%;
//       border-right: 1px solid $mt_black;
//       border-bottom: 1px solid $mt_black;
//       left: 8px;
//       top: 8px;
//       transition: 0.2s all ease-in-out;
//   }
//   & p {
//       position: absolute;
//       top: 7px;
//       left: 20px;
//       transition: 0.2s all ease-in-out;
//   }
//   & div.btnArrowXL{
//       position: absolute;
//       left: 150px;
//       top: 13px;
//       width: 0;
//       height: 0;
//       border-style: solid;
//       border-width: 9px 0 0 9px;
//       transition: 0.2s all ease-in-out;
//       border-color: transparent transparent transparent $mt_black;
//       // overflow: hidden;
//       &::before{
//           position: absolute;
//           content: "";
//           left: -11px;
//           top: -8px;
//           width: 0;
//           height: 0;
//           border-style: solid;
//           border-width: 9px 0 0 9px;
//           transition: 0.2s all ease-in-out;
//           border-color: transparent transparent transparent white;
//       }
//       &::after{
//           position: absolute;
//           content: "";
//           width: 40px;
//           height: 2px;
//           left: -40px;
//           transition: 0.2s all ease-in-out;
//           background-color: $mt_black;
//       }
//   }  
//   &:hover::after{
//       z-index: -1;
//       position: absolute;
//       content: "";
//       width: calc(100% + 8px);
//       height: calc(100% + 8px);
//       background-color: $mt_yellow;
//       border-right: 0px;
//       border-bottom: 0px;
//       left: 0px;
//       top: 0px;
//       transition: 0.2s all ease-in-out;
//   }
//   &:hover p{
//       color: white;
//       transform: translate(5px,5px);
//   }
//   &:hover{
//       border: 0px;
//       background-color: $mt_yellow;
//   }
//   &:hover div{
//       transform: translate(5px,5px);
//       border-color: transparent transparent transparent white;
//   }
//   &:hover div::before{
//       // transform: translate(4px,4px);
//       border-color: transparent transparent transparent $mt_yellow;
//   }
//   &:hover div::after{
//       // transform: translate(4px,4px);
//       background-color: white;
//   }
// }


// button.btnA_XLwLA{
//     position: relative;
//     z-index: 2;
//   width: 190px;
//   height: 45px;
//   border: 1px solid $mt_black;
//   background-color: white;
//   outline: 0px !important;
//   transition: 0.2s all ease-in-out;
//   &::after{
//       z-index: 1;
//       position: absolute;
//       content: "";
//       width: 100%;
//       height: 100%;
//       border-right: 1px solid $mt_black;
//       border-bottom: 1px solid $mt_black;
//       left: 8px;
//       top: 8px;
//       transition: 0.2s all ease-in-out;
//   }
//   & p {
//       position: absolute;
//       top: 7px;
//       left: 95px;
//       transition: 0.2s all ease-in-out;
//   }
//   & div.btnArrowXL{
//       position: absolute;
//       left: 21px;
//       top: 13px;
//       width: 0;
//       height: 0;
//       border-style: solid;
//       border-width: 0 0 9px 9px;
//       transition: 0.2s all ease-in-out;
//       border-color: transparent transparent $mt_black transparent;
//       // overflow: hidden;
//       &::before{
//           position: absolute;
//           content: "";
//           left: -6px;
//           top: 0px;
//           width: 0;
//           height: 0;
//           border-style: solid;
//           border-width: 0 0 9px 9px;
//           transition: 0.2s all ease-in-out;
//           border-color: transparent transparent white transparent;
//       }
//       &::after{
//           position: absolute;
//           content: "";
//           width: 40px;
//           height: 2px;
//           left: -9px;
//           top: 9px;
//           transition: 0.2s all ease-in-out;
//           background-color: $mt_black;
//       }
//   }  
//   &:hover::after{
//       z-index: -1;
//       position: absolute;
//       content: "";
//       width: calc(100% + 8px);
//       height: calc(100% + 8px);
//       background-color: $mt_yellow;
//       border-right: 0px;
//       border-bottom: 0px;
//       left: 0px;
//       top: 0px;
//       transition: 0.2s all ease-in-out;
//   }
//   &:hover p{
//       color: white;
//       transform: translate(5px,5px);
//   }
//   &:hover{
//       border: 0px;
//       background-color: $mt_yellow;
//   }
//   &:hover div{
//       transform: translate(5px,5px);
//       border-color: transparent transparent white transparent;
//   }
//   &:hover div::before{
//       // transform: translate(4px,4px);
//       border-color: transparent transparent $mt_yellow transparent;
//   }
//   &:hover div::after{
//       // transform: translate(4px,4px);
//       background-color: white;
//   }
// }

// button.btnA_LwRA{
//     position: relative;
//     z-index: 2;
//   width: 95px;
//   height: 45px;
//   border: 1px solid $mt_black;
//   background-color: white;
//   outline: 0px !important;
//   transition: 0.2s all ease-in-out;
//   &::after{
//       z-index: 1;
//       position: absolute;
//       content: "";
//       width: 100%;
//       height: 100%;
//       border-right: 1px solid $mt_black;
//       border-bottom: 1px solid $mt_black;
//       left: 8px;
//       top: 8px;
//       transition: 0.2s all ease-in-out;
//   }
//   & p {
//       position: absolute;
//       top: 7px;
//       left: 3px;
//       transition: 0.2s all ease-in-out;
//   }
//   & div.btnArrowL{
//       position: absolute;
//       left: 77px;
//       top: 13px;
//       width: 0;
//       height: 0;
//       border-style: solid;
//       border-width: 9px 0 0 9px;
//       transition: 0.2s all ease-in-out;
//       border-color: transparent transparent transparent $mt_black;
//       // overflow: hidden;
//       &::before{
//           position: absolute;
//           content: "";
//           left: -11px;
//           top: -8px;
//           width: 0;
//           height: 0;
//           border-style: solid;
//           border-width: 9px 0 0 9px;
//           transition: 0.2s all ease-in-out;
//           border-color: transparent transparent transparent white;
//       }
//       &::after{
//           position: absolute;
//           content: "";
//           width: 22px;
//           height: 2px;
//           left: -22px;
//           transition: 0.2s all ease-in-out;
//           background-color: $mt_black;
//       }
//   }  
//   &:hover::after{
//       z-index: -1;
//       position: absolute;
//       content: "";
//       width: calc(100% + 8px);
//       height: calc(100% + 8px);
//       background-color: $mt_yellow;
//       border-right: 0px;
//       border-bottom: 0px;
//       left: 0px;
//       top: 0px;
//       transition: 0.2s all ease-in-out;
//   }
//   &:hover p{
//       color: white;
//       transform: translate(5px,5px);
//   }
//   &:hover{
//       border: 0px;
//       background-color: $mt_yellow;
//   }
//   &:hover div{
//       transform: translate(5px,5px);
//       border-color: transparent transparent transparent white;
//   }
//   &:hover div::before{
//       // transform: translate(4px,4px);
//       border-color: transparent transparent transparent $mt_yellow;
//   }
//   &:hover div::after{
//       // transform: translate(4px,4px);
//       background-color: white;
//   }
// }
// button.btnA_LwLA{
//     position: relative;
//     z-index: 2;
//   width: 95px;
//   height: 45px;
//   border: 1px solid $mt_black;
//   background-color: white;
//   outline: 0px !important;
//   transition: 0.2s all ease-in-out;
//   &::after{
//       z-index: 1;
//       position: absolute;
//       content: "";
//       width: 100%;
//       height: 100%;
//       border-right: 1px solid $mt_black;
//       border-bottom: 1px solid $mt_black;
//       left: 8px;
//       top: 8px;
//       transition: 0.2s all ease-in-out;
//   }
//   & p {
//       position: absolute;
//       top: 7px;
//       left: 33px;
//       transition: 0.2s all ease-in-out;
//   }
//   & div.btnArrowL{
//       position: absolute;
//       left: 4px;
//       top: 13px;
//       width: 0;
//       height: 0;
//       border-style: solid;
//       border-width: 0 0 9px 9px;
//       transition: 0.2s all ease-in-out;
//       border-color: transparent transparent $mt_black transparent;
//       // overflow: hidden;
//       &::before{
//           position: absolute;
//           content: "";
//           left: -5.5px;
//           top: -1px;
//           width: 0;
//           height: 0;
//           border-style: solid;
//           border-width: 0 0 9px 9px;
//           transition: 0.2s all ease-in-out;
//           border-color: transparent transparent white transparent;
//       }
//       &::after{
//           position: absolute;
//           content: "";
//           width: 22px;
//           height: 2px;
//           left: -8.5px;
//           top: 8px;
//           transition: 0.2s all ease-in-out;
//           background-color: $mt_black;
//       }
//   }  
//   &:hover::after{
//       z-index: -1;
//       position: absolute;
//       content: "";
//       width: calc(100% + 8px);
//       height: calc(100% + 8px);
//       background-color: $mt_yellow;
//       border-right: 0px;
//       border-bottom: 0px;
//       left: 0px;
//       top: 0px;
//       transition: 0.2s all ease-in-out;
//   }
//   &:hover p{
//       color: white;
//       transform: translate(5px,5px);
//   }
//   &:hover{
//       border: 0px;
//       background-color: $mt_yellow;
//   }
//   &:hover div{
//       transform: translate(5px,5px);
//       border-color: transparent transparent white transparent ;
//   }
//   &:hover div::before{
//       // transform: translate(4px,4px);
//       border-color: transparent transparent $mt_yellow transparent;
//   }
//   &:hover div::after{
//       // transform: translate(4px,4px);
//       background-color: white;
//   }
// }

// button.btnA_L{
//     position: relative;
//     z-index: 2;
//   width: 95px;
//   height: 45px;
//   border: 1px solid $mt_black;
//   background-color: white;
//   outline: 0px !important;
//   transition: 0.2s all ease-in-out;
//   &::after{
//       z-index: 1;
//       position: absolute;
//       content: "";
//       width: 100%;
//       height: 100%;
//       border-right: 1px solid $mt_black;
//       border-bottom: 1px solid $mt_black;
//       left: 8px;
//       top: 8px;
//       transition: 0.2s all ease-in-out;
//   }
//   & p {
//       position: absolute;
//       top: 7px;
//       left: 7px;
//       transition: 0.2s all ease-in-out;
//   }
//   &:hover::after{
//       z-index: -1;
//       position: absolute;
//       content: "";
//       width: calc(100% + 8px);
//       height: calc(100% + 8px);
//       background-color: $mt_yellow;
//       border-right: 0px;
//       border-bottom: 0px;
//       left: 0px;
//       top: 0px;
//       transition: 0.2s all ease-in-out;
//   }
//   &:hover p{
//       color: white;
//       transform: translate(5px,5px);
//   }
//   &:hover{
//       border: 0px;
//       background-color: $mt_yellow;
//   }
// } 

// button.btnA_MwRA{
//     position: relative;
//     z-index: 2;
//   width: 45px;
//   height: 45px;
//   border: 1px solid $mt_black;
//   background-color: white;
//   outline: 0px !important;
//   transition: 0.2s all ease-in-out;
//   &::after{
//       z-index: 1;
//       position: absolute;
//       content: "";
//       width: 100%;
//       height: 100%;
//       border-right: 1px solid $mt_black;
//       border-bottom: 1px solid $mt_black;
//       left: 8px;
//       top: 8px;
//       transition: 0.2s all ease-in-out;
//   }
//   & div.btnArrowM{
//       position: absolute;
//       left: 24px;
//       top: 13px;
//       width: 0;
//       height: 0;
//       border-style: solid;
//       border-width: 9px 0 0 9px;
//       transition: 0.2s all ease-in-out;
//       border-color: transparent transparent transparent $mt_black;
//       // overflow: hidden;
//       &::before{
//           position: absolute;
//           content: "";
//           left: -11px;
//           top: -8px;
//           width: 0;
//           height: 0;
//           border-style: solid;
//           border-width: 9px 0 0 9px;
//           transition: 0.2s all ease-in-out;
//           border-color: transparent transparent transparent white;
//       }
//       &::after{
//           position: absolute;
//           content: "";
//           width: 22px;
//           height: 2px;
//           left: -22px;
//           transition: 0.2s all ease-in-out;
//           background-color: $mt_black;
//       }
//   }  
//   &:hover::after{
//       z-index: -1;
//       position: absolute;
//       content: "";
//       width: calc(100% + 8px);
//       height: calc(100% + 8px);
//       background-color: $mt_yellow;
//       border-right: 0px;
//       border-bottom: 0px;
//       left: 0px;
//       top: 0px;
//       transition: 0.2s all ease-in-out;
//   }
//   &:hover{
//       border: 0px;
//       background-color: $mt_yellow;
//   }
//   &:hover div{
//       transform: translate(5px,5px);
//       border-color: transparent transparent transparent white;
//   }
//   &:hover div::before{
//       // transform: translate(4px,4px);
//       border-color: transparent transparent transparent $mt_yellow;
//   }
//   &:hover div::after{
//       // transform: translate(4px,4px);
//       background-color: white;
//   }
// }


// button.btnA_MwLA{
//     position: relative;
//     z-index: 2;
//   width: 45px;
//   height: 45px;
//   border: 1px solid $mt_black;
//   background-color: white;
//   outline: 0px !important;
//   transition: 0.2s all ease-in-out;
//   &::after{
//       z-index: 1;
//       position: absolute;
//       content: "";
//       width: 100%;
//       height: 100%;
//       border-right: 1px solid $mt_black;
//       border-bottom: 1px solid $mt_black;
//       left: 8px;
//       top: 8px;
//       transition: 0.2s all ease-in-out;
//   }
//   & div.btnArrowM{
//       position: absolute;
//       left: 8px;
//       top: 13px;
//       width: 0;
//       height: 0;
//       border-style: solid;
//       border-width: 0 0 9px 9px;
//       transition: 0.2s all ease-in-out;
//       border-color: transparent transparent $mt_black transparent ;
//       // overflow: hidden;
//       &::before{
//           position: absolute;
//           content: "";
//           left: -6px;
//           top: 0px;
//           width: 0;
//           height: 0;
//           border-style: solid;
//           border-width: 0 0 9px 9px;
//           transition: 0.2s all ease-in-out;
//           border-color: transparent transparent white transparent ;
//       }
//       &::after{
//           position: absolute;
//           content: "";
//           width: 22px;
//           height: 2px;
//           left: -9px;
//           top: 8px;
//           transition: 0.2s all ease-in-out;
//           background-color: $mt_black;
//       }
//   }  
//   &:hover::after{
//       z-index: -1;
//       position: absolute;
//       content: "";
//       width: calc(100% + 8px);
//       height: calc(100% + 8px);
//       background-color: $mt_yellow;
//       border-right: 0px;
//       border-bottom: 0px;
//       left: 0px;
//       top: 0px;
//       transition: 0.2s all ease-in-out;
//   }
//   &:hover{
//       border: 0px;
//       background-color: $mt_yellow;
//   }
//   &:hover div{
//       transform: translate(5px,5px);
//       border-color: transparent transparent white transparent;
//   }
//   &:hover div::before{
//       // transform: translate(4px,4px);
//       border-color: transparent transparent $mt_yellow transparent;
//   }
//   &:hover div::after{
//       // transform: translate(4px,4px);
//       background-color: white;
//   }
// }

// button.btnA_S{
//     position: relative;
//     margin: 3px;
//   display: inline-block;
//   z-index: 2;
//   width: 22px;
//   height: 22px;
//   // border: 1px solid $mt_black;
//   // background-color: white;
//   outline: 0px !important;
//   overflow: hidden;
//   &::after{
//       content: "";
//       z-index: -1;
//       width: 100%;
//       height: 100%;
//       background-color: $mt_yellow;
//       position: absolute;
//       left: 0;
//       top: 100%;
//       transition: 0.2s all ease-in-out;
//   }
//   & p {
//       z-index: 2;
//       font-size: 10px;
//       font-weight: 500;
//       transform: translate(-2px , 0px);
//       transition: 0.2s all ease-in-out;
//   }
//   &:hover::after{
//       top: 0%;
//   }
//   &:hover p{
//       color: white;
//   }
//   &.-active{
      
//       &::after{
//           content: "";
//           width: 100%;
//           height: 3px;
//           border-radius: 2px;
//           background-color: $mt_yellow;
//           position: absolute;
//           top: calc(100% - 3px);
//           transition: 0s;
//       }
//       p{
//           font-weight: 700;
//           color: $mt_yellow;
//       }
//   }
// }

